.angularjs-datetime-picker {
  color: #000;
  font: normal 14px sans-serif;
  border: 2px solid #cedce9;
  display: inline-block;
   border-radius: 6px;
  background: #d6e2ed;
  margin-left: -200px;
}
.angularjs-datetime-picker > .adp-month {
  text-align: center;
  line-height: 14px;
  padding: 10px;
  background: #d6e2ed;
  text-transform: uppercase;
  font-weight: bold;
  color: #435a70;
  position: relative;
}
.angularjs-datetime-picker > .adp-month > button {
  color: #555;
  font: normal 24px sans-serif;
  line-height: 10px;
  outline: none;
  position: absolute;
  background: transparent;
  border: none;
  cursor: pointer;
}
.angularjs-datetime-picker > .adp-month > button:hover {
  color: #333;
}
.angularjs-datetime-picker > .adp-month > button.adp-prev {
  left: 10px;
}
.angularjs-datetime-picker > .adp-month > button.adp-next {
  right: 10px;
}
.angularjs-datetime-picker > .adp-days {
  width: 210px; /* 30 x 7 */
  margin: 0 0 2px 0;
  text-align: center;
  background: #FFF;
  border-radius: 6px;

}
.angularjs-datetime-picker > .adp-days:last-child{
  padding: 10px 0 5px 0;
}
.timeLabel{
  margin-bottom: 6px;
  display: inline-block;
}
.angularjs-datetime-picker > .adp-days > .adp-day-of-week, .angularjs-datetime-picker > .adp-days > .adp-day {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid transparent;
  width: 30px;
  line-height: 28px;
  float: left;

}
.angularjs-datetime-picker > .adp-days > .adp-day.weekend{
  color: #0044aa;
}
.angularjs-datetime-picker > .adp-days > .adp-day-of-week {
  font-weight: bold;
}
.angularjs-datetime-picker > .adp-days > .adp-day:not(.selectable) {
  opacity: 0.15;
  cursor: default;
}
.angularjs-datetime-picker > .adp-days > .adp-day.selectable  {
  cursor: pointer;
}
.angularjs-datetime-picker > .adp-days > .adp-day.selected {
  background: #366488;
  color: #FFF;
  border-radius: 6px;
}
.angularjs-datetime-picker > .adp-days > .adp-day.selectable:hover {
  background: #747474;
  color: #FFF;
  border-radius: 6px;
}
.angularjs-datetime-picker > .adp-days:after {
  content: '';
  display: block;
  clear: left;
  height: 0;
}

.angularjs-datetime-picker input[type=range] {
  width: 150px;
}
