/* 
Custom CSS for...
'Modern Business' HTML Theme by Start Bootstrap
All Start Bootstrap themes are licensed under Apache 2.0. 
For more info and more free Bootstrap 3 HTML themes, visit http://startbootstrap.com!
*/

/* Global Styles */

html, body {
    height: 100%;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.dropdown {
    cursor:pointer;
  
}

.resources 
{
font-family:Lato;
font-size:10pt;
}


.img-home-portfolio,
.img-customer,
.portfolio-item {
    margin-bottom: 30px;
}

.tab-pane {
    margin-top: 15px;
}

/* Page Sections */
.section,
.section-colored {
    padding: 50px 0;
}

.section-colored {
    background-color: #e1e1e1;
    /* change this to change the background color of a colored section */
}

.sidebar {
    margin-top: 40px;
}

.sidebar ul {
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #cccccc;
}



.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}


.tooltip-social a {
    text-decoration: none;
    color: inherit;
}


/* Service Page Styles */
.service-icon {
    font-size: 50px;
}

/* 404 Page Styles */
.error-404 {
    font-size: 8em;
}


/* Footer Styles */
footer {
    margin: 50px 0;
}

/* Responsive Styles */
@media (max-width: 767px) {

    
}

span.tab-space {padding-left:5em;}

.repeatContainer {
    border-style: solid;
    border-bottom-color: #ff0000;
}

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(http://fonts.gstatic.com/s/materialicons/v16/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

/* navbar */
.navbar {
background-image: none;
background-color: #ff0000;
height: 81px;
}

.full-width-row {
  overflow-x: hidden;
}

.row1 > div {
  margin-top: 30px;
  margin-right: -15px;
  margin-left: -15px;
}

.joinImages {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top:5px;
   
}

#images{
   text-align:center;
}


 .dotted {border: 1px dotted #f2ffff; border-style: none none dashed; color: #fff; background-color: #fff; }
 
.smashinglogo {
  background: url(images/loginimg1.png)  50% 100px no-repeat;
  max-width: 100%;
}

.btn1 {
  color : rgb(49, 46, 46);
  background-color: rgba(0,153,102,0.9);
  border-radius: 10px 10px 10px 10px;
  font-size: 12px;
}

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}



.col-left-nav{
	  height:1457px; 
}

.btn-lg {
  font-size: 12px;
  line-height: 1;
  border-radius: 16px;
}

div.parent{ 
    border:solid black 1px;
    display:table;
    padding:5px; 
    width:100%;
    margin:5px 0; /* you can change/remove margin */
}
div.text{ 
    vertical-align:middle;
    display:table-cell;
    text-align:justify;
}
div.parent .img{
    vertical-align:middle;
    display:table-cell;
    padding-right:5px;
    width:50px; /* you can change width */
}
div.img img{ 
    width:100%;
    height:50px; /* you can change height */
    vertical-align:middle;
}

#holder { 
	display:table-cell;
	vertical-align:middle;
	text-align:center;
	height:180;
	width:250";
	
	
	 } 

.glyphicon.glyphicon-one-fine-dot {
   /* margin-bottom: -.8em; */
    overflow: hidden;
    color:red
}
.glyphicon.glyphicon-one-fine-dot:before {
    content:"\25cf";
    font-size: 1em;
}

table {border: none;}



