<section id="addApp" class="content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <!--<h1>Add application Page </h1>-->

            <div class="well well-wrapper">
                <!--milestone steps-->
                <div class="milestone-steps">
                    <div class="steps-line">

                        <div class="steps-progress" style="width: 20%;"></div>

                        <div class="step one active">
                            <span>1</span>
                            <div class="step-label">Monitoring Information
                                <sup><i class="icon-help" uib-tooltip-html="I am tooltip." tooltip-trigger="'focus'" tooltip-placement="top"></i></sup>
                            </div>
                        </div>

                        <div class="step two">
                            <span>2</span>
                            <div class="step-label">Excalation matrix
                                <sup><i class="icon-help"></i></sup>
                            </div>
                        </div>

                        <div class="step three">
                            <span>3</span>
                            <div class="step-label">Record Transactions
                                <sup><i class="icon-help"></i></sup>
                            </div>
                        </div>
                    </div>
                </div>

                <!--step 1-->
                <div id="stepOne" class="monitoring-info" style="display: none;">
                    <div class="row">
                        <!--left col-->
                        <div class="col-xs-12 col-sm-12 col-md-8" >

                            <form action="">

                                <h1>Hi Swapnil !</h1>

                                <div class="row">
                                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
                                        <div class="form-group">
                                            <label for="mobileNo">Mobile No.</label>
                                            <div class="input-group has-flag-addon">
                                                <div class="input-group-addon">
                                                    <img src="assets/images/flag-india-sm.jpg" alt=""> +91
                                                </div>
                                                <input type="text" id="mobileNo" class="form-control" placeholder="" value="">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
                                        <div class="form-group">
                                            <label class="btn-block">Job Title</label>
                                            <div class="btn-group single" uib-dropdown>
                                                <button id="jobTitleDropdown" type="button" class="btn btn-default btn-block" uib-dropdown-toggle="" ng-disabled="disabled">
                                                    {{selectedJobTitle.name}}
                                                <span class="caret">
                                                    <i class="icon-angle-down"></i>
                                                </span>
                                                </button>
                                                <ul class="dropdown-menu" uib-dropdown-menu="" role="menu" aria-labelledby="jobTitleDropdown">
                                                    <li role="menuitem" ng-repeat="titles in jobtitleAction">
                                                        <a href="javascript:void(0)" ng-click="setJobTitle(titles)">{{titles.name}}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="title-16 text-uppercase">Enter information about application to be monitored</div>

                                <!--application type-->
                                <div class="form-group">
                                    <div class="label-title">Choose Application Type</div>

                                    <div class="row">
                                        <div class="col-xs-6 col-sm-3 col-md-3">
                                            <div class="ck-button">
                                                <label>
                                                    <input type="radio" value="" name="appType" checked>
                                                    <span><i></i>Web</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-xs-6 col-sm-3 col-md-3">
                                            <div class="ck-button">
                                                <label>
                                                    <input type="radio" value="" name="appType">
                                                    <span><i></i>Mobile</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--application name-->
                                <div class="form-group clearfix">
                                    <label for="appName">Application Name</label>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-7 col-md-5">
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="icon-app"></i>
                                                </div>
                                                <input type="text" class="form-control" id="appName" placeholder="Enter your website URL" value="">
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <!--website type and url-->
                                <div class="form-group-wrap clearfix">
                                    <label>Website</label>

                                    <!--<pre>Model: {{websiteCheckModel}}</pre>-->

                                    <div class="row mb-10">
                                        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
                                            <div class="custom-input-group" ng-model="websiteCheckModel.http" uib-btn-checkbox>
                                                <div class="input-group">
                                                    <div class="input-group-addon">
                                                        <i class="icon-globe"></i>
                                                    </div>
                                                    <input type="text" class="form-control" id="webhttp" placeholder="http://" value="http://" readonly>
                                                </div>
                                                <a href="javascript:void(0);" class="check"><i class="icon-check2"></i></a>
                                            </div>

                                        </div>
                                        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
                                            <div class="custom-input-group" ng-model="websiteCheckModel.https" uib-btn-checkbox>
                                                <div class="input-group">
                                                    <div class="input-group-addon">
                                                        <i class="icon-globe-lock"></i>
                                                    </div>
                                                    <input type="text" class="form-control" id="webhttps" placeholder="https://" value="https://" readonly>
                                                </div>
                                                <a href="javascript:void(0);" class="check"><i class="icon-check2"></i></a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-12 col-sm-7 col-md-5">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="www.axisbank.com" value="">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--location-->
                                <div class="form-group field-locations">
                                    <label>Locations</label><small>you can choose multiple locations</small>

                                    <div class="row">
                                        <div class="col-xs-12 col-sm-4 col-md-4">
                                            <div class="input-group">
                                                <div class="input-group-addon">LL</div>
                                                <input type="text" class="form-control" id="locations" placeholder="Enter Location" value="">
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-8 col-md-8">
                                            <div class="user-locations">
                                            <span class="label label-default label-custom">
                                            Pune
                                            <a href="javascript:void(0);" class="delete"><i class="icon-cross"></i></a>
                                        </span>
                                        <span class="label label-default label-custom">
                                            Gaya
                                            <a href="javascript:void(0);" class="delete"><i class="icon-cross"></i></a>
                                        </span>
                                        <span class="label label-default label-custom">
                                            Mumbai
                                            <a href="javascript:void(0);" class="delete"><i class="icon-cross"></i></a>
                                        </span>
                                            </div>
                                        </div>
                                    </div>

                                </div>


                                <!--browsers-->
                                <div class="form-group field-browsers">
                                    <label>Browsers for monitoring</label>

                                    <!--<pre>Model: {{browserCheckModel}}</pre>-->

                                    <div class="row">
                                        <div class="col-xs-12 col-sm-2 col-md-2">
                                            <div class="custom-input-group" ng-model="browserCheckModel.firefox" uib-btn-checkbox>
                                                <div class="input-group">
                                                    <div class="input-group-addon">
                                                        <i class="icon-firefox"></i>
                                                    </div>
                                                    <input type="text" class="form-control" id="browserFF" placeholder="Firefox" value="Firefox" readonly>
                                                </div>
                                                <a href="javascript:void(0);" class="check">
                                                    <i class="icon-check2"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-2 col-md-2">
                                            <div class="custom-input-group" ng-model="browserCheckModel.chrome" uib-btn-checkbox>
                                                <div class="input-group">
                                                    <div class="input-group-addon">
                                                        <i class="icon-chrome"></i>
                                                    </div>
                                                    <input type="text" class="form-control" id="browserCH" placeholder="Chrome" value="Chrome" readonly>
                                                </div>
                                                <a href="javascript:void(0);" class="check">
                                                    <i class="icon-check2"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-2 col-md-2">
                                            <div class="custom-input-group" ng-model="browserCheckModel.iexplorer" uib-btn-checkbox>
                                                <div class="input-group">
                                                    <div class="input-group-addon">
                                                        <i class="icon-iexplorer"></i>
                                                    </div>
                                                    <input type="text" class="form-control" id="browserIE" placeholder="Internet explorer" value="Internet explorer" readonly>
                                                </div>
                                                <a href="javascript:void(0);" class="check"><i class="icon-check2"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--Frequency monitoring-->
                                <div class="form-group field-freq">
                                    <label>Frequency for monitoring</label><small>above 512 kbps bandwidth</small>
                                    <div class="row">

                                        <!--<pre>Model: {{freqCheckModel}}</pre>-->

                                        <div class="col-xs-12 col-sm-2 col-md-2">
                                            <div class="custom-input-group" ng-model="freqCheckModel.min5" uib-btn-checkbox>
                                                <div class="input-group">
                                                    <div class="input-group-addon">
                                                        <i class="icon-graph-bar"></i>
                                                    </div>
                                                    <input type="text" class="form-control" id="min5" placeholder="5 Min" value="5 Min" readonly>
                                                </div>
                                                <a href="javascript:void(0);" class="check"><i class="icon-check2"></i></a>
                                            </div>

                                        </div>
                                        <div class="col-xs-12 col-sm-2 col-md-2">
                                            <div class="custom-input-group" ng-model="freqCheckModel.min15" uib-btn-checkbox>
                                                <div class="input-group">
                                                    <div class="input-group-addon">
                                                        <i class="icon-graph-bar"></i>
                                                    </div>
                                                    <input type="text" class="form-control" id="min15" placeholder="15 Min" value="15 Min" readonly>
                                                </div>
                                                <a href="javascript:void(0);" class="check"><i class="icon-check2"></i></a>
                                            </div>

                                        </div>
                                        <div class="col-xs-12 col-sm-2 col-md-2">
                                            <div class="custom-input-group" ng-model="freqCheckModel.min30" uib-btn-checkbox>
                                                <div class="input-group">
                                                    <div class="input-group-addon">
                                                        <i class="icon-graph-bar"></i>
                                                    </div>
                                                    <input type="text" class="form-control" id="min30" placeholder="30 Min" value="30 Min" readonly>
                                                </div>
                                                <a href="javascript:void(0);" class="check"><i class="icon-check2"></i></a>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <!--monitoring days-->
                                <div class="field-days-time">
                                    <div class="clearfix">
                                        <label>Add monitoring days & time</label><small>you can add multiple days</small>
                                    </div>
                                    <div class="row default-mode">
                                        <div class="col-xs-12 col-sm-6 col-md-6">
                                            <div class="form-group">
                                                <div class="input-group monitor-day-time">
                                                    <div class="input-group-addon">
                                                        <i class="icon-bright"></i>
                                                    </div>
                                                    <div class="form-control">
                                                        <span>Everyday</span>
                                                        <span>24x7</span>
                                                        <span>All location</span>
                                                        <a href="javascript:void(0);">Change</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!--edit view-->
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-12">
                                            <div class="edit-mode">
                                                <div class="panel panel-default location">
                                                    <div class="panel-heading">Pune</div>
                                                    <div class="panel-body">
                                                        <!--days-->
                                                        <div class="form-group row">
                                                            <div class="col-xs-2 col-sm-3 col-md-3">
                                                                <label class="control-label">Days</label>
                                                            </div>

                                                            <div class="col-xs-10 col-sm-9 col-md-9">
                                                                <div class="btn-group single small" uib-dropdown>
                                                                    <button id="location1-days" type="button" class="btn btn-default btn-block" uib-dropdown-toggle="" ng-disabled="disabled">
                                                                        Select days
                                                                                <span class="caret">
                                                                                    <i class="icon-angle-down"></i>
                                                                                </span>
                                                                    </button>
                                                                    <div class="dropdown-menu" uib-dropdown-menu="" role="menu" aria-labelledby="location1-days">
                                                                        <div class="checkbox">
                                                                            <input type="checkbox" name="checkbox" id="dAll" value="">
                                                                            <label class="control-label" for="dAll">
                                                                                All
                                                                            </label>
                                                                        </div>
                                                                        <div class="checkbox">
                                                                            <input type="checkbox" name="checkbox" id="dMonday" value="" checked>
                                                                            <label class="control-label" for="dMonday">
                                                                                Monday
                                                                            </label>
                                                                        </div>
                                                                        <div class="checkbox">
                                                                            <input type="checkbox" name="checkbox" id="dTuesday" value="" checked>
                                                                            <label class="control-label" for="dTuesday">
                                                                                Tuesday
                                                                            </label>
                                                                        </div>
                                                                        <div class="checkbox">
                                                                            <input type="checkbox" name="checkbox" id="dWednesday" value="">
                                                                            <label class="control-label" for="dWednesday">
                                                                                Wednesday
                                                                            </label>
                                                                        </div>
                                                                        <div class="checkbox">
                                                                            <input type="checkbox" name="checkbox" id="dThursday" value="" checked>
                                                                            <label class="control-label" for="dThursday">
                                                                                Thursday
                                                                            </label>
                                                                        </div>
                                                                        <div class="checkbox">
                                                                            <input type="checkbox" name="checkbox" id="dFriday" value="" checked>
                                                                            <label class="control-label" for="dFriday">
                                                                                Friday
                                                                            </label>
                                                                        </div>
                                                                        <div class="checkbox">
                                                                            <input type="checkbox" name="checkbox" id="dsaturday" value="">
                                                                            <label class="control-label" for="dsaturday">
                                                                                Saturday
                                                                            </label>
                                                                        </div>
                                                                        <div class="checkbox">
                                                                            <input type="checkbox" name="checkbox" id="dSunday" value="">
                                                                            <label class="control-label" for="dSunday">
                                                                                Sunday
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <!--selected days-->
                                                        <div class="selected-days clearfix">
                                                        <span class="label label-default label-custom small">
                                                            Monday
                                                            <a href="javascript:void(0);" class="delete"><i class="icon-cross"></i></a>
                                                        </span>
                                                        <span class="label label-default label-custom small">
                                                            Tuesday
                                                            <a href="javascript:void(0);" class="delete"><i class="icon-cross"></i></a>
                                                        </span>
                                                        <span class="label label-default label-custom small">
                                                            Thursday
                                                            <a href="javascript:void(0);" class="delete"><i class="icon-cross"></i></a>
                                                        </span>
                                                        <span class="label label-default label-custom small">
                                                            Friday
                                                            <a href="javascript:void(0);" class="delete"><i class="icon-cross"></i></a>
                                                        </span>
                                                        </div>

                                                        <!--time-->
                                                        <div class="form-group row">
                                                            <div class="col-xs-2 col-sm-3 col-md-3">
                                                                <label class="control-label">Time</label>
                                                            </div>

                                                            <div class="col-xs-10 col-sm-9 col-md-9">

                                                                <div class="row">
                                                                    <div class="col-xs-6 col-sm-6 col-md-6">
                                                                        <div class="btn-group single small" uib-dropdown>
                                                                            <button id="location1-from" type="button" class="btn btn-default btn-block" uib-dropdown-toggle="" ng-disabled="disabled">
                                                                                From
                                                                                <span class="caret">
                                                                                    <i class="icon-angle-down"></i>
                                                                                </span>
                                                                            </button>
                                                                            <ul class="dropdown-menu" uib-dropdown-menu="" role="menu" aria-labelledby="location1-from">
                                                                                <li role="menuitem">
                                                                                    <a href="javascript:void(0)">11.00</a>
                                                                                </li>
                                                                                <li role="menuitem">
                                                                                    <a href="javascript:void(0)">12.00</a>
                                                                                </li>
                                                                                <li role="menuitem">
                                                                                    <a href="javascript:void(0)">13.00</a>
                                                                                </li>
                                                                                <li role="menuitem">
                                                                                    <a href="javascript:void(0)">14.00</a>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-xs-6 col-sm-6 col-md-6">
                                                                        <div class="btn-group single small" uib-dropdown>
                                                                            <button id="location1-to" type="button" class="btn btn-default btn-block" uib-dropdown-toggle="" ng-disabled="disabled">
                                                                                To
                                                                                <span class="caret">
                                                                                    <i class="icon-angle-down"></i>
                                                                                </span>
                                                                            </button>
                                                                            <ul class="dropdown-menu" uib-dropdown-menu="" role="menu" aria-labelledby="location1-to">
                                                                                <li role="menuitem">
                                                                                    <a href="javascript:void(0)">11.00</a>
                                                                                </li>
                                                                                <li role="menuitem">
                                                                                    <a href="javascript:void(0)">12.00</a>
                                                                                </li>
                                                                                <li role="menuitem">
                                                                                    <a href="javascript:void(0)">13.00</a>
                                                                                </li>
                                                                                <li role="menuitem">
                                                                                    <a href="javascript:void(0)">14.00</a>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>


                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="panel panel-default location">
                                                    <div class="panel-heading">Gaya</div>
                                                    <div class="panel-body">
                                                        <!--days-->
                                                        <div class="form-group row">
                                                            <div class="col-xs-2 col-sm-3 col-md-3">
                                                                <label class="control-label">Days</label>
                                                            </div>

                                                            <div class="col-xs-10 col-sm-9 col-md-9">
                                                                <div class="btn-group single small" uib-dropdown>
                                                                    <button id="location1-days" type="button" class="btn btn-default btn-block" uib-dropdown-toggle="" ng-disabled="disabled">
                                                                        Select days
                                                                                <span class="caret">
                                                                                    <i class="icon-angle-down"></i>
                                                                                </span>
                                                                    </button>
                                                                    <div class="dropdown-menu" uib-dropdown-menu="" role="menu" aria-labelledby="location1-days">
                                                                        <div class="checkbox">
                                                                            <input type="checkbox" name="checkbox" id="dAll" value="">
                                                                            <label class="control-label" for="dAll">
                                                                                All
                                                                            </label>
                                                                        </div>
                                                                        <div class="checkbox">
                                                                            <input type="checkbox" name="checkbox" id="dMonday" value="" checked>
                                                                            <label class="control-label" for="dMonday">
                                                                                Monday
                                                                            </label>
                                                                        </div>
                                                                        <div class="checkbox">
                                                                            <input type="checkbox" name="checkbox" id="dTuesday" value="" checked>
                                                                            <label class="control-label" for="dTuesday">
                                                                                Tuesday
                                                                            </label>
                                                                        </div>
                                                                        <div class="checkbox">
                                                                            <input type="checkbox" name="checkbox" id="dWednesday" value="">
                                                                            <label class="control-label" for="dWednesday">
                                                                                Wednesday
                                                                            </label>
                                                                        </div>
                                                                        <div class="checkbox">
                                                                            <input type="checkbox" name="checkbox" id="dThursday" value="" checked>
                                                                            <label class="control-label" for="dThursday">
                                                                                Thursday
                                                                            </label>
                                                                        </div>
                                                                        <div class="checkbox">
                                                                            <input type="checkbox" name="checkbox" id="dFriday" value="" checked>
                                                                            <label class="control-label" for="dFriday">
                                                                                Friday
                                                                            </label>
                                                                        </div>
                                                                        <div class="checkbox">
                                                                            <input type="checkbox" name="checkbox" id="dsaturday" value="">
                                                                            <label class="control-label" for="dsaturday">
                                                                                Saturday
                                                                            </label>
                                                                        </div>
                                                                        <div class="checkbox">
                                                                            <input type="checkbox" name="checkbox" id="dSunday" value="">
                                                                            <label class="control-label" for="dSunday">
                                                                                Sunday
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <!--selected days-->
                                                        <div class="selected-days clearfix">
                                                        <span class="label label-default label-custom small">
                                                            Monday
                                                            <a href="javascript:void(0);" class="delete"><i class="icon-cross"></i></a>
                                                        </span>
                                                        <span class="label label-default label-custom small">
                                                            Tuesday
                                                            <a href="javascript:void(0);" class="delete"><i class="icon-cross"></i></a>
                                                        </span>
                                                        <span class="label label-default label-custom small">
                                                            Thursday
                                                            <a href="javascript:void(0);" class="delete"><i class="icon-cross"></i></a>
                                                        </span>
                                                        <span class="label label-default label-custom small">
                                                            Friday
                                                            <a href="javascript:void(0);" class="delete"><i class="icon-cross"></i></a>
                                                        </span>
                                                        </div>

                                                        <!--time-->
                                                        <div class="form-group row">
                                                            <div class="col-xs-2 col-sm-3 col-md-3">
                                                                <label class="control-label">Time</label>
                                                            </div>

                                                            <div class="col-xs-10 col-sm-9 col-md-9">

                                                                <div class="row">
                                                                    <div class="col-xs-6 col-sm-6 col-md-6">
                                                                        <div class="btn-group single small" uib-dropdown>
                                                                            <button id="location1-from" type="button" class="btn btn-default btn-block" uib-dropdown-toggle="" ng-disabled="disabled">
                                                                                From
                                                                                <span class="caret">
                                                                                    <i class="icon-angle-down"></i>
                                                                                </span>
                                                                            </button>
                                                                            <ul class="dropdown-menu" uib-dropdown-menu="" role="menu" aria-labelledby="location1-from">
                                                                                <li role="menuitem">
                                                                                    <a href="javascript:void(0)">11.00</a>
                                                                                </li>
                                                                                <li role="menuitem">
                                                                                    <a href="javascript:void(0)">12.00</a>
                                                                                </li>
                                                                                <li role="menuitem">
                                                                                    <a href="javascript:void(0)">13.00</a>
                                                                                </li>
                                                                                <li role="menuitem">
                                                                                    <a href="javascript:void(0)">14.00</a>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-xs-6 col-sm-6 col-md-6">
                                                                        <div class="btn-group single small" uib-dropdown>
                                                                            <button id="location1-to" type="button" class="btn btn-default btn-block" uib-dropdown-toggle="" ng-disabled="disabled">
                                                                                To
                                                                                <span class="caret">
                                                                                    <i class="icon-angle-down"></i>
                                                                                </span>
                                                                            </button>
                                                                            <ul class="dropdown-menu" uib-dropdown-menu="" role="menu" aria-labelledby="location1-to">
                                                                                <li role="menuitem">
                                                                                    <a href="javascript:void(0)">11.00</a>
                                                                                </li>
                                                                                <li role="menuitem">
                                                                                    <a href="javascript:void(0)">12.00</a>
                                                                                </li>
                                                                                <li role="menuitem">
                                                                                    <a href="javascript:void(0)">13.00</a>
                                                                                </li>
                                                                                <li role="menuitem">
                                                                                    <a href="javascript:void(0)">14.00</a>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel panel-default location">
                                                    <div class="panel-heading">Mumbai</div>
                                                    <div class="panel-body">
                                                        <!--days-->
                                                        <div class="form-group row">
                                                            <div class="col-xs-2 col-sm-3 col-md-3">
                                                                <label class="control-label">Days</label>
                                                            </div>

                                                            <div class="col-xs-10 col-sm-9 col-md-9">
                                                                <div class="btn-group single small" uib-dropdown>
                                                                    <button id="location1-days" type="button" class="btn btn-default btn-block" uib-dropdown-toggle="" ng-disabled="disabled">
                                                                        Select days
                                                                                <span class="caret">
                                                                                    <i class="icon-angle-down"></i>
                                                                                </span>
                                                                    </button>
                                                                    <div class="dropdown-menu" uib-dropdown-menu="" role="menu" aria-labelledby="location1-days">
                                                                        <div class="checkbox">
                                                                            <input type="checkbox" name="checkbox" id="dAll" value="">
                                                                            <label class="control-label" for="dAll">
                                                                                All
                                                                            </label>
                                                                        </div>
                                                                        <div class="checkbox">
                                                                            <input type="checkbox" name="checkbox" id="dMonday" value="" checked>
                                                                            <label class="control-label" for="dMonday">
                                                                                Monday
                                                                            </label>
                                                                        </div>
                                                                        <div class="checkbox">
                                                                            <input type="checkbox" name="checkbox" id="dTuesday" value="" checked>
                                                                            <label class="control-label" for="dTuesday">
                                                                                Tuesday
                                                                            </label>
                                                                        </div>
                                                                        <div class="checkbox">
                                                                            <input type="checkbox" name="checkbox" id="dWednesday" value="">
                                                                            <label class="control-label" for="dWednesday">
                                                                                Wednesday
                                                                            </label>
                                                                        </div>
                                                                        <div class="checkbox">
                                                                            <input type="checkbox" name="checkbox" id="dThursday" value="" checked>
                                                                            <label class="control-label" for="dThursday">
                                                                                Thursday
                                                                            </label>
                                                                        </div>
                                                                        <div class="checkbox">
                                                                            <input type="checkbox" name="checkbox" id="dFriday" value="" checked>
                                                                            <label class="control-label" for="dFriday">
                                                                                Friday
                                                                            </label>
                                                                        </div>
                                                                        <div class="checkbox">
                                                                            <input type="checkbox" name="checkbox" id="dsaturday" value="">
                                                                            <label class="control-label" for="dsaturday">
                                                                                Saturday
                                                                            </label>
                                                                        </div>
                                                                        <div class="checkbox">
                                                                            <input type="checkbox" name="checkbox" id="dSunday" value="">
                                                                            <label class="control-label" for="dSunday">
                                                                                Sunday
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <!--selected days-->
                                                        <div class="selected-days clearfix">
                                                        <span class="label label-default label-custom small">
                                                            Monday
                                                            <a href="javascript:void(0);" class="delete"><i class="icon-cross"></i></a>
                                                        </span>
                                                        <span class="label label-default label-custom small">
                                                            Tuesday
                                                            <a href="javascript:void(0);" class="delete"><i class="icon-cross"></i></a>
                                                        </span>
                                                        <span class="label label-default label-custom small">
                                                            Thursday
                                                            <a href="javascript:void(0);" class="delete"><i class="icon-cross"></i></a>
                                                        </span>
                                                        <span class="label label-default label-custom small">
                                                            Friday
                                                            <a href="javascript:void(0);" class="delete"><i class="icon-cross"></i></a>
                                                        </span>
                                                        </div>

                                                        <!--time-->
                                                        <div class="form-group row">
                                                            <div class="col-xs-2 col-sm-3 col-md-3">
                                                                <label class="control-label">Time</label>
                                                            </div>

                                                            <div class="col-xs-10 col-sm-9 col-md-9">

                                                                <div class="row">
                                                                    <div class="col-xs-6 col-sm-6 col-md-6">
                                                                        <div class="btn-group single small" uib-dropdown>
                                                                            <button id="location1-from" type="button" class="btn btn-default btn-block" uib-dropdown-toggle="" ng-disabled="disabled">
                                                                                From
                                                                                <span class="caret">
                                                                                    <i class="icon-angle-down"></i>
                                                                                </span>
                                                                            </button>
                                                                            <ul class="dropdown-menu" uib-dropdown-menu="" role="menu" aria-labelledby="location1-from">
                                                                                <li role="menuitem">
                                                                                    <a href="javascript:void(0)">11.00</a>
                                                                                </li>
                                                                                <li role="menuitem">
                                                                                    <a href="javascript:void(0)">12.00</a>
                                                                                </li>
                                                                                <li role="menuitem">
                                                                                    <a href="javascript:void(0)">13.00</a>
                                                                                </li>
                                                                                <li role="menuitem">
                                                                                    <a href="javascript:void(0)">14.00</a>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-xs-6 col-sm-6 col-md-6">
                                                                        <div class="btn-group single small" uib-dropdown>
                                                                            <button id="location1-to" type="button" class="btn btn-default btn-block" uib-dropdown-toggle="" ng-disabled="disabled">
                                                                                To
                                                                                <span class="caret">
                                                                                    <i class="icon-angle-down"></i>
                                                                                </span>
                                                                            </button>
                                                                            <ul class="dropdown-menu" uib-dropdown-menu="" role="menu" aria-labelledby="location1-to">
                                                                                <li role="menuitem">
                                                                                    <a href="javascript:void(0)">11.00</a>
                                                                                </li>
                                                                                <li role="menuitem">
                                                                                    <a href="javascript:void(0)">12.00</a>
                                                                                </li>
                                                                                <li role="menuitem">
                                                                                    <a href="javascript:void(0)">13.00</a>
                                                                                </li>
                                                                                <li role="menuitem">
                                                                                    <a href="javascript:void(0)">14.00</a>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>


                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="btn-wrap">
                                                    <button class="btn btn-outlined btn-green">Ok</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!--updated view-->
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-12">
                                            <div class="edit-mode updated-mode">
                                                <div class="panel panel-default location">
                                                    <div class="panel-heading">Pune</div>
                                                    <div class="panel-body">
                                                        <div class="block for-days">
                                                            <div class="title">Monitoring days</div>
                                                            <div class="criteria">
                                                                <span>Monday</span>, <span>Tuesday</span>, <span>Thursday</span>, <span>Friday</span>
                                                            </div>
                                                        </div>

                                                        <div class="block for-time">
                                                            <div class="title">Monitoring time</div>
                                                            <div class="criteria">
                                                                From <span>11.00</span> To <span>14.00</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel panel-default location">
                                                    <div class="panel-heading">Gaya</div>
                                                    <div class="panel-body">
                                                        <div class="block for-days">
                                                            <div class="title">Monitoring days</div>
                                                            <div class="criteria">
                                                                <span>Monday</span>, <span>Tuesday</span>, <span>Thursday</span>, <span>Friday</span>
                                                            </div>
                                                        </div>

                                                        <div class="block for-time">
                                                            <div class="title">Monitoring time</div>
                                                            <div class="criteria">
                                                                From <span>11.00</span> To <span>14.00</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel panel-default location">
                                                    <div class="panel-heading">Mumbai</div>
                                                    <div class="panel-body">
                                                        <div class="block for-days">
                                                            <div class="title">Monitoring days</div>
                                                            <div class="criteria">
                                                                <span>Monday</span>, <span>Tuesday</span>, <span>Thursday</span>, <span>Friday</span>
                                                            </div>
                                                        </div>

                                                        <div class="block for-time">
                                                            <div class="title">Monitoring time</div>
                                                            <div class="criteria">
                                                                From <span>11.00</span> To <span>14.00</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>


                                <!--continue button-->
                                <button type="button" class="btn btn-orange btn-lg btn-continue">Continue</button>

                            </form>

                        </div>

                        <!--right col-->
                        <div class="col-xs-12 col-sm-12 col-md-3 col-md-offset-1 hidden-xs hidden-sm">

                            <div class="text-right">*All feilds are mandetory</div>

                            <div class="clearfix ad-wrap">
                                <img src="assets/images/ad.jpg" alt="ad" title="ad">
                            </div>

                            <div class="clearfix ad-wrap">
                                <img src="assets/images/ad.jpg" alt="ad" title="ad">
                            </div>

                            <div class="clearfix ad-wrap">
                                <img src="assets/images/ad.jpg" alt="ad" title="ad">
                            </div>
                        </div>
                    </div>
                </div>


                <!--step 2-->
                <div id="stepTwo" class="excalation-matrix">
                    <!--row 1-->
                    <div class="row">
                        <!--smiley left-->
                        <div class="col-xs-12 col-sm-12 col-md-2 fields-left">
                           <div class="smiley-level one">
                                <span class="face">
                                    <i class="icon-face-sad-1"></i>
                                </span>
                               <div>First time error occurs</div>
                           </div>
                        </div>

                        <!--form right-->
                        <fieldset class="col-xs-12 col-sm-12 col-md-10 fields-right">

                            <!--line 1-->
                            <div class="row">
                                <div class="col-xs-12 col-sm-4 col-md-2">
                                    <div class="form-group">
                                        <div class="btn-group single" uib-dropdown>
                                            <button id="personType" type="button" class="btn btn-default btn-block" uib-dropdown-toggle="" ng-disabled="disabled">
                                                Individual
                                                <span class="caret">
                                                    <i class="icon-angle-down"></i>
                                                </span>
                                            </button>
                                            <ul class="dropdown-menu" uib-dropdown-menu="" role="menu" aria-labelledby="personType">
                                                <li role="menuitem" ng-repeat="">
                                                    <a href="javascript:void(0)" ng-click="">Individual</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-8 col-md-2">

                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Manager" value="">
                                    </div>

                                </div>
                                <div class="col-xs-12 col-sm-8 col-sm-offset-4 col-md-3 col-md-offset-0">
                                    <div class="form-group">
                                        <div class="input-group dual-addons select-gender">
                                            <div class="input-group-addon">
                                                <i class="icon-male"></i>
                                                <i class="icon-female"></i>
                                            </div>
                                            <input type="text" class="form-control" placeholder="Name" value="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-8 col-sm-offset-4 col-md-3 col-md-offset-0">

                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="abc@email.com" value="">
                                    </div>

                                </div>
                                <div class="col-xs-12 col-sm-8 col-sm-offset-4 col-md-2 col-md-offset-0">

                                    <div class="form-group">
                                        <div class="input-group has-flag-addon">
                                            <div class="input-group-addon">
                                                <img src="assets/images/flag-india-sm.jpg" alt=""> +91
                                            </div>
                                            <input type="text" class="form-control" placeholder="" value="">
                                        </div>
                                    </div>

                                </div>
                                <a href="javascript:void(0);" class="del-row">
                                    <i class="icon-del-round"></i>
                                </a>
                            </div>

                            <!--line 2-->
                            <div class="row">
                                <div class="col-xs-12 col-sm-8 col-sm-offset-4 col-md-2 col-md-offset-2">

                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Manager" value="">
                                    </div>

                                </div>
                                <div class="col-xs-12 col-sm-8 col-sm-offset-4 col-md-3 col-md-offset-0">
                                    <div class="form-group">
                                        <div class="input-group dual-addons select-gender">
                                            <div class="input-group-addon">
                                                <i class="icon-male"></i>
                                                <i class="icon-female"></i>
                                            </div>
                                            <input type="text" class="form-control" placeholder="Name" value="">
                                        </div>
                                    </div>

                                </div>
                                <div class="col-xs-12 col-sm-8 col-sm-offset-4 col-md-3 col-md-offset-0">

                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="abc@email.com" value="">
                                    </div>

                                </div>
                                <div class="col-xs-12 col-sm-8 col-sm-offset-4 col-md-2 col-md-offset-0">

                                    <div class="form-group">
                                        <div class="input-group has-flag-addon">
                                            <div class="input-group-addon">
                                                <img src="assets/images/flag-india-sm.jpg" alt=""> +91
                                            </div>
                                            <input type="text" class="form-control" placeholder="" value="">
                                        </div>
                                    </div>

                                </div>
                                <a href="javascript:void(0);" class="del-row">
                                    <i class="icon-del-round"></i>
                                </a>
                            </div>

                            <div class="row text-right">
                                <button type="button" class="btn btn-outlined btn-green btn-done">Done</button>
                            </div>

                        </fieldset>
                    </div>

                    <!--row 2-->
                    <div class="row">
                        <!--smiley left-->
                        <div class="col-xs-12 col-sm-12 col-md-2 fields-left">
                            <div class="smiley-level two">
                                <span class="face">
                                    <i class="icon-face-sad-1"></i>
                                </span>
                                <div>Error continues next monitoring cycle</div>
                            </div>
                        </div>

                        <!--form right-->
                        <fieldset class="col-xs-12 col-sm-12 col-md-10 fields-right" disabled>

                            <!--line 1-->
                            <div class="row">
                                <div class="col-xs-12 col-sm-4 col-md-2">
                                    <div class="form-group">
                                        <div class="btn-group single" uib-dropdown>
                                            <button id="personType" type="button" class="btn btn-default btn-block" uib-dropdown-toggle="" ng-disabled="disabled">
                                                Individual
                                                <span class="caret">
                                                    <i class="icon-angle-down"></i>
                                                </span>
                                            </button>
                                            <ul class="dropdown-menu" uib-dropdown-menu="" role="menu" aria-labelledby="personType">
                                                <li role="menuitem" ng-repeat="">
                                                    <a href="javascript:void(0)" ng-click="">Individual</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-8 col-md-2">

                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Manager" value="">
                                    </div>

                                </div>
                                <div class="col-xs-12 col-sm-8 col-sm-offset-4 col-md-3 col-md-offset-0">
                                    <div class="form-group">
                                        <div class="input-group dual-addons select-gender">
                                            <div class="input-group-addon">
                                                <i class="icon-male"></i>
                                                <i class="icon-female"></i>
                                            </div>
                                            <input type="text" class="form-control" placeholder="Name" value="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-8 col-sm-offset-4 col-md-3 col-md-offset-0">

                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="abc@email.com" value="">
                                    </div>

                                </div>
                                <div class="col-xs-12 col-sm-8 col-sm-offset-4 col-md-2 col-md-offset-0">

                                    <div class="form-group">
                                        <div class="input-group has-flag-addon">
                                            <div class="input-group-addon">
                                                <img src="assets/images/flag-india-sm.jpg" alt=""> +91
                                            </div>
                                            <input type="text" class="form-control" placeholder="" value="">
                                        </div>
                                    </div>

                                </div>
                                <a href="javascript:void(0);" class="del-row">
                                    <i class="icon-del-round"></i>
                                </a>
                            </div>



                        </fieldset>

                    </div>

                    <!--row 3-->
                    <div class="row fields-row">
                        <!--smiley left-->
                        <div class="col-xs-12 col-sm-12 col-md-2">
                            <div class="smiley-level three">
                                <span class="face">
                                    <i class="icon-face-sad-1"></i>
                                </span>
                                <div>Error continues beyond 2 monitoring cycle</div>
                            </div>
                        </div>

                        <!--form right-->
                        <fieldset class="col-xs-12 col-sm-12 col-md-10 fields-right" disabled>

                            <!--line 1-->
                            <div class="row">
                                <div class="col-xs-12 col-sm-4 col-md-2">
                                    <div class="form-group">
                                        <div class="btn-group single" uib-dropdown>
                                            <button id="personType" type="button" class="btn btn-default btn-block" uib-dropdown-toggle="" ng-disabled="disabled">
                                                Individual
                                                <span class="caret">
                                                    <i class="icon-angle-down"></i>
                                                </span>
                                            </button>
                                            <ul class="dropdown-menu" uib-dropdown-menu="" role="menu" aria-labelledby="personType">
                                                <li role="menuitem" ng-repeat="">
                                                    <a href="javascript:void(0)" ng-click="">Individual</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-8 col-md-2">

                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Manager" value="">
                                    </div>

                                </div>
                                <div class="col-xs-12 col-sm-8 col-sm-offset-4 col-md-3 col-md-offset-0">
                                    <div class="form-group">
                                        <div class="input-group dual-addons select-gender">
                                            <div class="input-group-addon">
                                                <i class="icon-male"></i>
                                                <i class="icon-female"></i>
                                            </div>
                                            <input type="text" class="form-control" placeholder="Name" value="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-8 col-sm-offset-4 col-md-3 col-md-offset-0">

                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="abc@email.com" value="">
                                    </div>

                                </div>
                                <div class="col-xs-12 col-sm-8 col-sm-offset-4 col-md-2 col-md-offset-0">

                                    <div class="form-group">
                                        <div class="input-group has-flag-addon">
                                            <div class="input-group-addon">
                                                <img src="assets/images/flag-india-sm.jpg" alt=""> +91
                                            </div>
                                            <input type="text" class="form-control" placeholder="" value="">
                                        </div>
                                    </div>

                                </div>
                                <a href="javascript:void(0);" class="del-row">
                                    <i class="icon-del-round"></i>
                                </a>
                            </div>



                        </fieldset>

                    </div>

                </div>


                <!--step 3-->
                <div id="stepThree">
                    <div class="row" class="record-transaction" style="display: none;">
                        <!--smiley left-->
                        <div class="col-xs-12 col-sm-12 col-md-2">
                            <div class="smiley-level">
                                <span class="face first">
                                    <i class="icon-face-sad-1"></i>
                                </span>
                                <div>First time error occurs</div>
                            </div>
                        </div>

                        <!--form right-->
                        <div class="col-xs-10 col-sm-10 col-md-9"></div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>
