
	

<div class="container-fluid">
   <div class="row row1" style="background-color:#F0F0F0;overflow:visible;height:80px;">
   <div class="col-sm-3" style="margin-top:50px;margin-left:10px;"><span style="font-family: lato bold;font-size:16px;"><b>APPLICATION OVERVIEW</b></span></div>
   <div class="col-sm-5" ><span style="font-family: lato ;font-size:12pt;">{{message}}</span></div>
   <div class="col-sm-4" style="float:right;margin:0px;padding:0px">
   
   <div id="images" style="float:right;margin-top:30px;" >
   <img  class="img-responsive joinImages" ng-src="images/myaction.png"/>&nbsp;&nbsp;&nbsp;
   <img class="img-responsive joinImages" ng-src="images/myapplication.png"/>
   </div>
   <!-- 
   <button type="button" class="btn btn-danger btn-xs" style="margin-top:5px">All Alerts <span class="glyphicon glyphicon-bell"></span></button>
   <button type="button" class="btn btn-danger btn-xs" style="margin-top:5px">Add Application <span class="glyphicon glyphicon-plus"></span></button></div>
    -->
   </div>
   </div>
   <div class="row">
  <div ng-repeat="item in applications" >
  <div class="row" style="background-color:#E4E4E4;padding-top:15px;padding-bottom:15px;padding-right:5px;padding-left:20px;" >
   
    <div class="col-sm-3 " style="background-color:#f3F3F3;margin-left:15px;margin-right:8px; border-radius: 10px; width: 290px;height:340px">
		  <!-- 
			 <div > -->
			    <!--    <div class="panel-heading" ><img class="img-responsive" ng-src="{{item.imagePath}}"/></div> -->
			 <!--       <div  style="background-color:#f3F3F3" ><img class="img-responsive" ng-src="images/icici_i_digital_12.png" /></div>
			      <div  style="background-color:#f3F3F3"><p class="lead"  align="center">{{item.applicationName}}</p>
			      <p align="center" class="small" >{{item.type}}</p>
			       <p align="center" class="small">{{item.description}}</p>
			       <p>&nbsp;</p>
			      </div>
		   	  </div>	
		   	  
		   -->
		   
		   	   <div class="row" style="margin:5px;padding-bottom:20px;padding-top:10px;">
		   	     <div id="holder"><img class="img-responsive" ng-src="images/icici_i_digital_12.png" /></div>
		   	   </div>
		   	    <div class="row"> 
		   	     <div style="text-align: center;padding-bottom:10px;"><span style="font-family: lato regular;font-size:18pt;">{{item.applicationName}}</span></div>
		   	     </div>
		   	     <div class="row"> 
		   	      <div style="text-align: center;"><span style="font-family: helvetica;font-size:10.5pt;">{{item.type}}</span></div>
		   	     </div>
		   	      <div class="row"> 
		   	     <div style="text-align: center;padding-bottom:25px;"><span style="font-family: helvetica;font-size:10.5pt;">{{item.description}}</span></div>
		   	     </div>
		   	    


    </div>
      <div class="col-sm-4" style="background-color:#FFFFFF;margin-right:8px;height:340px;width:510px;border-radius: 10px;"  ng-click="drilldown(item.applicationName)"> 
      
       <!--  <div class="col-sm-4" style="background-color:#FFFFFF;margin-right:8px;height:340px;width:510px;border-radius: 10px;"> -->
             
                 <div class="row" style="padding-left:25px;padding-bottom:20px;padding-top:5px;" >
                  <div><span class="glyphicon glyphicon-ok" style="color:black;margin-right:5px;"></span><span style="font-family:Helvetica medium;font-size:16px;"><strong>AVAILABILITY</strong></span>
			 		</div>
                 </div>
                 
                  <div class="row"  style="margin:0;padding:0;width:400px;">
                  
                  <span style="padding-left:145px;padding-right:90px;font-family:Helvetica medium;font-size:16px;">Last 24 hour</span>
                  <span style="font-family:Helvetica medium;font-size:16px;">Last 1 hour</span>
                 
                  </div>
                  
                 
                 
                <div class="row"  >
                 <section class="clearfix" style=" align:center;margin:0 auto;width:70%">
                     
                 		 <div class="col-md-6">
				               <circful value="item.available24HR" />
				        </div>
				          <div class="col-md-6">
				               <circful value="item.available1HR">
				         </div>
				   </section>
				  </div> 
				  
               <!--  
                
                
                  <div class="col-sm-6" style="float:right">
                   <p class="small" align="center" style="margin-top:0;margin-bottom:0">Last 1 hour</p>
                  <section class="container">
                  <div class="col-lg-2">
				               <circful value="item.available1HR">
				        </div>
				   </section>
                 </div>
                 
                
                  
                <!--
   			         <div class="row" style="background-color:white;padding-left:15px">
   			           <div> <p class="small" style="margin-top:0px;margin-bottom:7px"><span class="glyphicon glyphicon-alert" style="color:red;margin-top:0"></span> <strong>ERRORS</strong></p>
			 		</div>
			 		</div>
			 	 -->
				 	  <div class="row" style="padding-left:25px;padding-top:5px;" >
	                  	<div><span class="glyphicon glyphicon-alert" style="color:black;margin-right:5px;"></span><span style="font-family:Helvetica medium;font-size:16px;"><strong>ACTIVE ERRORS</strong></span>
				 		</div>
	                 </div>
	                 
				                <ul class="list-inline" style="padding:0;margin:0" >
								    <li><span  class="glyphicon glyphicon-one-fine-dot"  style="padding-left:10px;" ></span></li>
								    <li><span style="padding-right:15px;font-family:Helvetica medium;font-size:16px;">Last <span style="font-family:Helvetica medium;font-size:22px;">24</span> hour</span></li>
								    <li><span style="padding-right:96px;font-family:Helvetica bold;font-size:22px; color:red">10</span></li>
								    <li><span style="padding-right:13px;font-family:Helvetica medium;font-size:16px;">Last <span style="font-family:Helvetica medium;font-size:22px;">45 </span> Mins</span></li>
								    <li><span style="font-family:Helvetica medium;font-size:22px;color:red">7</span></li>
								</ul>
								<ul class="list-inline" style="margin-bottom:0">
								    <li><span  class="glyphicon glyphicon-one-fine-dot"  style="padding-left:15px;" ></span></li>
								    <li><span style="padding-right:15px;font-family:Helvetica medium;font-size:16px;">Last <span style="font-family:Helvetica medium;font-size:22px;">06</span> hour</span></li>
								    <li><span style="padding-right:96px;font-family:Helvetica bold;font-size:22px;">06</span></li>
								    <li><span style="padding-right:13px;font-family:Helvetica medium;font-size:16px;">Last <span style="font-family:Helvetica medium;font-size:22px;">30 </span> Mins</span></li>
								    <li><span style="font-family:Helvetica medium;font-size:22px;">5</span></li>
								</ul>
								<ul class="list-inline" style="padding:0;margin:0">
								    <li><span style="padding-left:275px;font-family:Helvetica medium;font-size:16px;">Last <span style="font-family:Helvetica medium;font-size:22px;">15 </span> Mins</span></li>
								    <li><span style="padding-left:15px;font-family:Helvetica medium;font-size:22px;">3</span></li>
								</ul>
	                 
	                 
	                 <!-- 
	                 
	                  <div class="row" style="padding-top:12px;padding-bottom:05px;" >
	                  	<span  class="glyphicon glyphicon-one-fine-dot"  style="padding-left:30px;padding-right:10px" ></span><span style="padding-right:25px;font-family:Helvetica medium;font-size:16px;">Last <span style="font-family:Helvetica medium;font-size:22px;">24</span> hour</span>
                 		 <span style="padding-right:110px;font-family:Helvetica bold;font-size:22px; color:red">10</span>
                 		 <span style="padding-right:35px;font-family:Helvetica medium;font-size:16px;">Last <span style="font-family:Helvetica medium;font-size:22px;">45 </span> Mins</span>
				 		 <span style="font-family:Helvetica medium;font-size:22px;color:red">7</span>
				 		</div>
				 		<div class="row" style="" >
	                  	<span  class="glyphicon glyphicon-one-fine-dot"  style="padding-left:30px;padding-right:10px" ></span><span style="padding-right:25px;font-family:Helvetica medium;font-size:16px;">Last <span style="font-family:Helvetica medium;font-size:22px;">6</span> hour</span>
                 		 <span style="padding-right:110px;font-family:Helvetica bold;font-size:22px; color:red">6</span>
                 		 <span style="padding-right:35px;font-family:Helvetica medium;font-size:16px;">Last <span style="font-family:Helvetica medium;font-size:22px;">30 </span> Mins</span>
				 		 <span style="font-family:Helvetica medium;font-size:22px;">5</span>
				 		</div>
	               -->
                 
                   <!-- 
			 		<div class="row" style="background-color:white;padding-bottom:0px">
			 		<div class="col-sm-6" style="background-color:white;padding-left:15px;margin:0">
			 		
			 		<li class="small">Since Last 24 hours<span class="tab-space"><big>7</big></li>
			 		<li class="small">Since Last &nbsp; 6 hours<span class="tab-space"><big>6</big></li>
			 
			 		</div>
			 		<div class="col-sm-6" style="background-color:white;padding-left:15px">
			 		<li class="small">In Last  45 min &nbsp;&nbsp;&nbsp;<span class="tab-space"><big>10</big></li>
			 		<li class="small">Since Last 30 min<span class="tab-space"><big>5</big></li>
			        <li class="small">Since Last 15 min<span class="tab-space"><big>3</big></li> 
			 		</div>
			 		</div>
			 		 -->
   			      
				     
			 
		  
		
    </div>
    
	<div class="col-sm-5" style="background-color:#FFFFFF;height:340px;width:510px;border-radius: 10px;">
	
	 			<div class="row" style="padding-left:20px;padding-top:5px;" >
                  <div  style="float:left;width:200px;margin:0px;padding-top:10px;" ><span style="margin-right:7px;"><img  src="images/perf.png" align="left"/></span><span style="font-family:Lato semibold;font-size:17px;"><strong>PERFORMANCE</strong></span>
			 		 <p class="small" align="left" style="font-family:helvetica;font-size:12px;">Last 24 hours </p>
			 		</div>
			 		<div style="float:right;width:250px;margin:0px;padding-top:10px;" >
			 		 <span style="font-family:helvetica;font-size:15px;">Average Performance</span> <span style="font-family:helvetica;font-size:21px; color:#628FA6">{{item.timeSeriesAvgPerf | number: 2 }}</span> <span style="font-family:helvetica;font-size:14px;">S</span>
			 		</div>
                 </div>
	

	 <p class="text-center" ng-hide="dataLoaded">
    				<i class="fa fa-spinner fa-spin"></i>
	 </p>
	<div class="row" style="background-color:white;padding-top:5px" ng-show="dataLoaded">
                  <!-- 
                  <div style="margin-bottom:0">
                
                  <div class="col-sm-5">
                  <p><img  src="images/perfgraph.png" align="left"/><span style="font-size:20px;"><strong style="font-family:Lato Semi bold;font-size:17px;">&nbsp;PERFORMANCE</strong></span></p>
                       <p class="small" align="left">Last 24 hours </p>
                   </div>
                   <div class="col-sm-7" style="background-color:white;padding-top:25px;padding-left:15ps;">
                   <p class="text-primary" align="right" >Average Performance <span style="font-size:20px;">{{item.timeSeriesAvgPerf | number: 2 }}</span> s
                   </p>
                   </div>
			 		</div>
         -->
   <fusioncharts 
		width="550"
		height="250"
		type="msline"
		chart="{{item.attrs}}"
		categories="{{item.categories}}"
		dataset="{{item.dataset}}">
    </fusioncharts>
    
     </div>
   
    </div>
    
    
   

  </div>
  <div class="row horizontal_dotted_line" style="background-color:#FFFFFF;padding-top:5px;padding-bottom:5px;padding-left:0px;padding-right:0px" >
  
  </div>
  </div>
  

  

</div>

<!--Start of Tawk.to Script1234442222-->
<script type="text/javascript">
var test;
var userlogged = document.getElementById("userid").innerHTML;
console.log("userlogged = "+userlogged);

var email = document.getElementById("emailId").value;
console.log("email = "+email);

var clientName = document.getElementById("clientName").value;
console.log("clientName = "+clientName);


var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
Tawk_API.onLoad = function(){
    console.log("onload called");
    console.log("OnLoad for TAWK called");
    Tawk_API.setAttributes({
        'client'    : clientName
    }, function(error){});
   
}

Tawk_API.onChatStarted = function(){
    console.log("onChat Started");
};

(function(){
    console.log("Tawk chart created");
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/576d01db1e16e7c456e0d0a8/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();

Tawk_API.visitor = {
        name  : userlogged,
        email : email
    };
   
// This has to change
/*   
Tawk_API.onLoad = function(){
    console.log("OnLoad for TAWK called");
    Tawk_API.setAttributes({
        'client'    : 'yesbank'
    }, function(error){});
   
};
*/
</script>
    
