<div class="row row-action">
	<div class="col-md-3 col-xs-12">
		<strong>Application Overview</strong>
	</div>

	<div class="col-md-9 col-xs-12">
    <div class="pull-left msg">{{message}}</div>
		<div class="pull-right box-actionbtn">

				<button type="button" class="btn btn-qk" ng-click="myAction()">
					My Action
					<span class="right-icon"><i class="icon-refresh"></i></span>
				</button>

			 <button type="button" class="btn btn-qk">
					Add Application
				 <span class="right-icon"><i class="icon-plus"></i></span>
				</button>
			 
		</div>

	</div>
</div>


<div class="float-action" >
	<div class="row row-apps row-eq-height" ng-repeat="item in applications">
    <div class="col-md-3 col-sm-3 col-xs-12" style="cursor:pointer;" ng-click="drilldown(item.applicationName,'a')">
      <div class="well well-grey well-tumbnail">
      
      <!-- added by indraneel location / thumnails added -->
      
       <div class="col-md-11 col-sm-11 col-xs11" style="font-weight: normal; padding: 5px; font-size: 15px; text-align: right; padding-bottom: 15px; 
		color: gray;">{{item.locationName}}</div>
        <div class="col-md-1 col-sm-1 col-xs-1"><img 
		src="{{item.deviceImagePath}}" alt="User Agent"></div>
		
        <img class="img-responsive" src="{{item.imagePath}}" alt="{{item.applicationName}}">
        <h3>{{item.applicationName}}</h3>
        <p>{{item.type}}</p>
        <p><span>{{item.description}}</span></p>
      </div>
    </div>
    <div class="col-md-9 col-sm-9 col-xs-12">
      <div class="row row-eq-height">
        <div class="col-md-6 col-sm-6">
			
          <div class="panel panel-qk"  style="cursor:pointer;" ng-click="drilldown(item.applicationName,'a')">
            <div class="panel-heading"><i class="icon-check"></i> Availability</div>
            <div class="panel-body">

              <div class="row box-charts">
                <div class="col-md-6 col-sm-6">
                  <div class="text-center">Last 24 Hours</div>
                  <highchart config="item.availabilityChartConfig24Hr" class="box-circlechart"></highchart>
                </div>
                <div class="col-md-6 col-sm-6">
                  <div class="text-center">Last 1 Hour</div>
                  <highchart config="item.availabilityChartConfig1Hr" class="box-circlechart"></highchart>
                </div>
              </div>
              <div class="row box-charts-values">
                <div class="col-md-6 ">
                  <div class="chart-alert"><i class="icon-alert"></i> ACTIVE Errors </div>
                  <ul class="list-val">
                    <li>Above <small>6</small> Hours <span class="red" ng-if="item.ErrorAbove6Hr > 0">{{item.ErrorAbove6Hr }}</span><span ng-if="item.ErrorAbove6Hr == 0">{{item.ErrorAbove6Hr }}</span></li>
                    <li>Last <small>6</small> Hours <span class="red" ng-if="item.Error6Hr > 0">{{item.Error6Hr }}</span> <span ng-if="item.Error6Hr == 0">{{item.Error6Hr }}</span></li>
                  </ul>
                </div>
                <div class="col-md-6">
                  <div class="chart-alert">&nbsp;</div>
                  <ul class="list-val list-unstyled">
                    <li>Last <small>1</small> Hour <span class="red" ng-if="item.Error1Hr > 0">{{item.Error1Hr }}</span>  <span>{{item.Error1Hr }}</span></li>
                    <li>Last <small>30</small> min <span>{{item.Error30Mins }}</span></li>
                    <li>Last <small>15</small> min <span>{{item.Error15Mins }}</span></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="col-md-6">

          <div class="panel panel-qk" style="cursor:pointer;" ng-click="drilldown(item.applicationName,'p')" >
            <div class="panel-heading"><i class="icon-graph"></i> Performance</div>
            <div class="panel-body">
              <div class="chart-labels">
                <div class="first">Last 24 Hours</div>
                <div class="second">Average Performance <strong>{{item.timeSeriesAvgPerf | number: 2 }}</strong> <span>s</span></div>
              </div>
              <highchart config="item.performanceChartConfig" class="box-linechart"></highchart>
              </div>
          </div>

        </div>
      </div>

    </div>
	</div>
</div>





<!--Start of Tawk.to Script1234442222-->
<script type="text/javascript">
var test;
var userlogged = document.getElementById("userid").innerHTML;
console.log("userlogged = "+userlogged);

var email = document.getElementById("emailId").value;
console.log("email = "+email);

var clientName = document.getElementById("clientName").value;
console.log("clientName = "+clientName);


var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
Tawk_API.onLoad = function(){
    console.log("onload called");
    console.log("OnLoad for TAWK called");
    Tawk_API.setAttributes({
        'client'    : clientName
    }, function(error){});
   
}

Tawk_API.onChatStarted = function(){
    console.log("onChat Started");
};

(function(){
    console.log("Tawk chart created");
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/57b2c2492a19fc21c2046da4/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();

Tawk_API.visitor = {
        name  : userlogged,
        email : email
    };
   
// This has to change
/*   
Tawk_API.onLoad = function(){
    console.log("OnLoad for TAWK called");
    Tawk_API.setAttributes({
        'client'    : 'yesbank'
    }, function(error){});
   
};
*/
</script>
    
