
	

<div class="container-fluid" >
   <div class="row" style="background-color:rgb(227,232,236)">
   <div class="col-sm-2"><h4>Applications</h4></div>
   <div class="col-sm-7" ><h6>{{message}}</h6></div>
   <div class="col-sm-3">
   <button type="button" class="btn btn-danger btn-xs" style="margin-top:5px">All Alerts <span class="glyphicon glyphicon-bell"></span></button>
   <button type="button" class="btn btn-danger btn-xs" style="margin-top:5px">Add Application <span class="glyphicon glyphicon-plus"></span></button></div>
   </div>

  <div ng-repeat="application in applications">
  <div class="row" style="background-color:rgb(128,134,153);padding-top:5px;padding-bottom:5px;padding-left:5px;padding-right:5px" >
   
    <div class="col-sm-2 " style="background-color:lightgray;border: 3px solid gray">
		 <div class="panel-group" style="padding-top:15px" >
			 <div class="panel panel-default">
			      <div class="panel-heading" ><img class="img-responsive" ng-src="{{application.ImagePath}}"/></div>
			      <div class="panel-heading"><p class="lead"  align="center">{{application.Name}}</p>
			      <p align="center" class="small" >{{application.Type}}</p>
			       <p align="center" class="small">{{application.Desc}}</p>
			       <p>&nbsp;</p>
			      </div>
		   	  </div>	  
		  </div>
    </div>
    <div class="col-sm-5" style="background-color:white;border: 3px solid gray">
                 <div class="row" style="background-color:white;padding-top:5px">
                  <div> <p><span class="glyphicon glyphicon-ok" style="color:green;"></span><strong> AVAILABILITY</strong></p>
			 		</div>
                 </div>
                 <div class="row"  style="padding: 0;">
                 <div class="col-sm-6" style="background-color:white;">
                  <p class="small" align="center" style="margin-top:0;margin-bottom:0">Last 24 hour</p>
			 		
                  <section class="container">
                  <div class="col-lg-2">
				            <div id="test-circle"></div>
				        </div>
				   </section>
                 </div>
                  <div class="col-sm-6" style="background-color:white;">
                   <p class="small" align="center" style="margin-top:0;margin-bottom:0">Last 1 hour</p>
                  <section class="container">
                  <div class="col-lg-2">
				            <div id="test-circle2"></div>
				        </div>
				   </section>
                 </div>
                 </div>
                  
   			         <div class="row" style="background-color:white;padding-left:15px">
   			           <div> <p class="small"><span class="glyphicon glyphicon-alert" style="color:red;"></span> <strong>ERRORS</strong></p>
			 		</div>
			 		</div>
			 		<div class="row" style="background-color:white;padding-bottom:28px">
			 		<div class="col-sm-6" style="background-color:white;padding-left:15px;margin:0">
			 		
			 		<li class="small">Since Last 24 hours<span class="tab-space"><big>7</big></li>
			 		<li class="small">Since Last &nbsp; 6 hours<span class="tab-space"><big>6</big></li>
			 
			 		</div>
			 		<div class="col-sm-6" style="background-color:white;padding-left:15px">
			 		<li class="small">In Last  45 min &nbsp;&nbsp;&nbsp;<span class="tab-space"><big>10</big></li>
			 		<li class="small">Since Last 30 min<span class="tab-space"><big>5</big></li>
			        <li class="small">Since Last 15 min<span class="tab-space"><big>3</big></li> 
			 		</div>
			 		</div>
   			      
				     
			 
		  
		  
    </div>
	<div class="col-sm-5" style="background-color:white;overflow:auto;border: 3px solid gray">
	<div class="row" style="background-color:white;padding-top:5px">
                  <div style="margin-bottom:0"> 
                  <div class="col-sm-5" style="background-color:white;">
                  <p><img  src="images/perfgraph.png" align="left"/><strong>&nbsp;PERFORMANCE</strong></p>
                       <p class="small" align="left">Last 24 hours </p>
                   </div>
                   <div class="col-sm-7" style="background-color:white;padding-top:25px;padding-left:15ps;">
                   <p class="text-primary" align="right" >Average Performance <span style="font-size:20px;">12.2</span> s
                   </p>
                   </div>
			 		</div>
     
   <fusioncharts 
		width="550"
		height="250"
		type="msline"
		chart="{{attrs}}"
		categories="{{categories}}"
		dataset="{{dataset}}">
    </fusioncharts>
     </div>
    </div>
    
    
   

  </div>
  <div class="row horizontal_dotted_line" style="background-color:rgb(146,163,183);padding-top:5px;padding-bottom:5px;padding-left:0px;padding-right:0px" >
  
  </div>
  </div>
    
  

</div>
    
