
<aside class="left-pane">
  <div class="left-pane-header row">
    <div class="col-sm-6">
      <div class="lbl-app">
        Application <a href="javascript:void(0);" uib-tooltip="Lorem ipsum dolor sit amet, consectetur adipisicing elit." tooltip-placement="right"  tooltip-class="custom-tooltip"><i class="icon-help"></i></a>
      </div>
      </div>
    <div class="col-sm-6">
   
   
    <div uib-dropdown on-toggle="toggled(open)" >
      <div uib-tooltip="{{selectedApplication}}" tooltip-placement="bottom">
      <a  class="btn btn-block btn-clear" href id="simpleSelect"   tooltip-class="custom-tooltip"  uib-dropdown-toggle style="text-align: left; text-decoration: none;text-overflow: ellipsis; overflow: hidden;"><span class="icon-angle-down pull-right" style="font-size: 20px"></span>
       {{ selectedApplication }}
      </a></div>
      <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simpleSelect">
       <li ng-repeat="app in appList1"><a ng-click="dropboxitemselected(app)" uib-tooltip="{{app}}">{{app}}</a></li>
       
       <!-- 
        <li > <a href>menu item</a> </li>
        <li > <a href>menu item</a> </li>
         -->
      </ul>
    </div>
     
     <!--  
     
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Subject
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li ng-repeat="a in subjects"><a ng-click="dropboxitemselected(a)">{{a}}</a></li>
        
        </ul>
        </div>
        -->
        
    
    
    </div>

  </div>



  <div class="tree-content">
  <div style="padding-bottom: 10px">
    <strong> Transactions  </strong> <a href="javascript:void(0);" uib-tooltip="Lorem ipsum dolor sit amet, consectetur adipisicing elit." tooltip-placement="right" style=" position: relative; top: -10px; font-size: 12px;"  tooltip-class="custom-tooltip"><i class="icon-help"></i></a>
  </div>
    <div ng-controller="TreeController">
      <ul class="parent list-unstyled">
        <node-tree children="tree"></node-tree>
      </ul>

    </div>
  </div>
</aside>
<div ng-controller="DrillDownCtrl" >


<div class="row has-leftpane" >

    <ul class="nav nav-pills nav-custom pull-left">
      <li  ng-class="{'active':section.name ==  currentSection}" ng-repeat="section in sections " >
        <a href="javascript:void(0);" ng-click="toggleSection(section.name)">{{section.name}}</a>
      </li>
    </ul>


    <!--<div class="pull-left msg">{{message}}</div>-->
    <div class="pull-right box-actionbtn">

      <button type="button" class="btn btn-qk">
        My Action
        <span class="right-icon"><i class="icon-refresh"></i></span>
      </button>

      <button type="button" class="btn btn-qk">
        Add Application
        <span class="right-icon"><i class="icon-plus"></i></span>
      </button>

    </div>

</div>

<div class="has-leftpane">


  <section class="section-box" ng-repeat="section in sections |orderBy:id:currentSection=='Performance' " >


    <div ng-if="section.name=='Availability'">
    <div class="well well-white1" style="padding: 10px 0 0 0">

      <div class="clearfix">

        <div class="pull-right">
		 
          <div class="date-box" >
            <span>From</span>
             <div class="day"><span>{{startTime | day }}</span> {{ startTime | mmyy }}</div>
            <div class="time">{{ startTime | time  }}</div>
            <i ng-model="startTime" datetime-picker date-format="dd-MMM-yyyy HH:mm" hour="00" minute='00' size="15" class="icon-calendar"></i>
          </div>

          <div class="date-box">
            <span>To</span>
            <div class="day"><span>{{endTime | day}}</span> {{ endTime | mmyy }}</div>
            <div class="time">{{ endTime | time }}</div>
            <i ng-model="endTime" datetime-picker date-format="dd-MMM-yyyy HH:mm" hour="00" minute='00' size="15" class="icon-calendar"></i>
             <div style="float:right"><button  class="btn btn-default" ng-click="changeData('a',startTime,endTime)" type="button">Go!</button></div>
          </div>
        </div>
         
        <div class="btn-group btn-group-custom" style="margin-left: 10px" >
          <label class="btn btn-default" ng-model="radioModel" ng-click="toggleMode(radioModel)" uib-btn-radio="'AGGREGATE'">AGGREGATE</label>
          <label class="btn btn-default" ng-model="radioModel" ng-click="toggleMode(radioModel)" uib-btn-radio="'TIME-SERIES'">TIME SERIES</label>
        </div>

      </div>

	<div ng-show="dataBarDisplay">
        <highchart config="availabilityColumnChartConfig"  class="box-coloumnchart"></highchart>
        </div>
        
        <div ng-show="dataTimeSeriesDisplay" >
        <highchart config="availableChartConfig"  class="box-lineschart"></highchart>
        </div>

    </div>
    <div class="well well-white1 ">
      <div class="well-header clearfix">
        <div class="btn-group btn-group-custom pull-right" >
          <label class="btn btn-default " ng-model="rdAvailability" ng-click="toggleMode(rdAvailability)" uib-btn-radio="'AvailableAll'">All</label>
          <label class="btn btn-default" ng-model="rdAvailability" ng-click="toggleMode(rdAvailability)"  uib-btn-radio="'AvailableError'">Error</label>
        </div>
        <strong>Availability Details</strong>
      </div>

      <table class="table table-qk1">
        <!--<caption>Optional table caption.</caption>-->
        <colgroup>
          <col>
          <col width="15%">
          <col width="15%">
          <col width="15%">
        </colgroup>
        <thead>
        <tr>
          <th>Transactions / Page Name</th>
          <th class="text-center">No. of Runs</th>
          <th class="text-center">Availability(%)</th>
          <th class="text-center">No. of Errors</th>
        </tr>
        </thead>
        <tbody ng-repeat="item in availabilityData" ng-show="allAvailableError">
        
        <tr>
          <td>{{item.name}}</td>
          <td class="text-center">{{item.numberOfRuns}}</td>
          <td class="text-center">{{item.availablity | number: 2 }}</td>
          <td class="text-center" ng-if="item.numberOfErrors == 0" >{{item.numberOfErrors}}</td>
          <td class="text-center" ng-if="item.numberOfErrors > 0" ><a href=""><span class="clr-red" ng-model="item.name" ng-click="toggleExpand(item.name,'e')"> {{item.numberOfErrors}}</span></a></td>
        </tr>
        <tr ng-show="expanded" ng-if="item.name == name ">
            <td colspan="4">
              <table class="table table-striped table-qk2" style="width: 60%; margin: 0 auto;">
                <!--<caption>Optional table caption.</caption>-->
                <colgroup>
                  <col width="30%">
                  <col width="30%">
                  <col>
                </colgroup>
                <thead>
                <tr>
                   <th class="text-center">Page Name</th>
                  <th class="text-center">Date Time</th>
                  <th class="text-center"> Threshold Set(sec)</th>
                  <th class="text-center">Threshold Breach(sec)</th>
                </tr>
                </thead>
               <tbody ng-repeat="item in errorData" >
                <tr>
                  <td class="text-center">{{ item.pageName }}</td>
                  <td class="text-center">{{ item.runStartTime }}</td>
                  <td class="text-center">{{ item.errorCount }}</td>
                  <td class="text-center">{{ item.downloadTime / 1000   | number : 2 }}</td>
                 
                </tr>
              
                </tbody>
                </table>


            </td>
          </tr>
          
        </tbody>
        
        <tbody ng-repeat="item in availabilityData" ng-if="item.numberOfErrors > 0" ng-show="filterAvailableError">
         <tr>
          <td>{{item.name}}</td>
          <td class="text-center">{{item.numberOfRuns}}</td>
          <td class="text-center">{{item.availablity}}</td>
          <td class="text-center"> <a href=""> <span ng-click="expanded = !expanded" class="clr-red" uib-tooltip="Lorem ipsum dolor sit amet, consectetur adipisicing elit." tooltip-append-to-body>{{item.numberOfErrors}}</span></a></td>
        </tr>
        <tr ng-show="expanded" ng-if="item.name == name">
            <td colspan="4">
              <table class="table table-striped table-qk2" style="width: 60%; margin: 0 auto;">
                <!--<caption>Optional table caption.</caption>-->
                <colgroup>
                  <col width="30%">
                  <col width="30%">
                  <col>
                </colgroup>
                <thead>
                <tr>
                   <th class="text-center">Page Name</th>
                  <th class="text-center">Date Time</th>
                  <th class="text-center"> Threshold Set(sec)</th>
                  <th class="text-center">Threshold Breach(sec)</th>
                </tr>
                </thead>
               <tbody ng-repeat="item in errorData" >
                <tr>
                  <td class="text-center">{{ item.pageName }}</td>
                  <td class="text-center">{{ item.runStartTime }}</td>
                  <td class="text-center">{{ item.errorCount }}</td>
                  <td class="text-center">{{ item.downloadTime / 1000   | number : 2 }}</td>
                 
                </tr>
              
                </tbody>
                </table>


            </td>
          </tr>
        
        
        
        
        <!-- 
        <tr>
          <td>Policy List Page Post Login</td>
          <td class="text-center">14</td>
          <td class="text-center">100</td>
          <td class="text-center">0</td>
        </tr>
        <tr>
          <td>Mode Of Payment Page LA MQ Used Post Login</td>
          <td class="text-center">14</td>
          <td class="text-center">100</td>
          <td class="text-center clr-red">1</td>
        </tr>
        <tr>
          <td>Split Payment Information Page LA MQ Used</td>
          <td class="text-center">14</td>
          <td class="text-center">100</td>
          <td class="text-center">0</td>
        </tr>
         -->
        </tbody>
      </table>
    </div>
    </div>



    <div ng-if="section.name=='Performance'">
      <div class="well well-white1" style="padding: 10px 0 0 0" >

        <div class="clearfix">

          <div class="pull-right">

            <div class="date-box" >
              <span>From</span>
	           <div class="day"><span>{{startTime | day }}</span> {{ startTime | mmyy }}</div>
	            <div class="time">{{ startTime | time  }}</div>
                <i ng-model="startTime" datetime-picker date-format="dd-MMM-yyyy HH:mm" hour="00" minute='00' size="15" class="icon-calendar"></i>
               
            </div>

            <div class="date-box">
              <span>To</span>
	              <div class="day"><span>{{endTime | day}}</span> {{ endTime | mmyy }}</div>
	             <div class="time">{{ endTime | time }}</div>
	            <i ng-model="endTime" datetime-picker date-format="dd-MMM-yyyy HH:mm" hour="00" minute='00' size="15" class="icon-calendar"></i>
                <div style="float:right"><button  class="btn btn-default" ng-click="changeData('p',startTime,endTime)" type="button">Go!</button></div>
            </div>
            
          </div>
         

           <div class="lbl-per">Performance <strong>{{avgPerformance}}</strong> <span>s</span>
           </div>

          <highchart config="performanceChartConfig" class="box-lineschart"></highchart>


        </div>

      </div>
      <div class="well well-white1 ">
        <div class="well-header clearfix">
          <div class="btn-group btn-group-custom pull-right" >
            <label class="btn btn-default" ng-model="rdPerformance" ng-click="toggleMode(rdPerformance)" uib-btn-radio="'PerfAll'">All</label>
            <label class="btn btn-default" ng-model="rdPerformance" ng-click="toggleMode(rdPerformance)" uib-btn-radio="'PerfBreach'">Breach</label>
          </div>
          <strong>PERFORMANCE Details</strong>
        </div>

        <table class="table table-qk1">
          <!--<caption>Optional table caption.</caption>-->
          <colgroup>
            <col>
            <col width="15%">
            <col width="15%">
            <col width="15%">
          </colgroup>
          <thead>
          <tr>
            <th>Transactions / Page Name</th>
            <th class="text-center">No. of Runs</th>
            <th class="text-center">Average RT (sec)</th>
            <th class="text-center">Breach</th>
          </tr>
          </thead>
          <tbody ng-repeat="item in performanceData" ng-show="allPerfError">
              <tr>
             <td>{{item.name}}</td>
	          <td class="text-center">{{item.numberOfRuns}}</td>
	          <td class="text-center">{{item.averageResponseTime /1000 | number : 2}}</td>
	          <td class="text-center" ng-if="item.breach == 0" >{{item.breach}}</td>
	          <td class="text-center"  ng-if="item.breach > 0" ><a href="" ><span class="clr-red" ng-model="item.name" ng-click="toggleExpand(item.name,'b')" >{{item.breach}}</span></a></td>
	          </tr>
	          <tr ng-show="expanded" ng-if="item.name == name">
            <td colspan="4">
              <table class="table table-striped table-qk2" style="width: 60%; margin: 0 auto;">
                <!--<caption>Optional table caption.</caption>-->
                <colgroup>
                    <col>
		            <col width="15%">
		            <col width="15%">
		            <col width="15%">
                </colgroup>
                <thead>
                <tr>
                   <th class="text-center">Page Name</th>
                  <th class="text-center">Date Time</th>
                  <th class="text-center"> Threshold Set(sec)</th>
                  <th class="text-center">Threshold Breach(sec)</th>
                </tr>
                </thead>
                <tbody ng-repeat="item in breachData" >
                <tr>
                  <td class="text-center">{{ item.pageName }}</td>
                  <td class="text-center">{{ item.runStartTime }}</td>
                  <td class="text-center">{{ item.thresholdTime / 1000 }}</td>
                  <td class="text-center">{{ item.downloadTime / 1000   | number : 2 }}</td>
                 
                </tr>
              
                </tbody>
                </table>


            </td>
          </tr>
          </tbody>
          
          <tbody ng-repeat="item in performanceData" ng-if="item.breach > 0"  ng-show="filterPerfError">
              <tr>
              <td>{{item.name}}</td>
	          <td class="text-center">{{item.numberOfRuns}}</td>
	          <td class="text-center">{{item.averageResponseTime /1000 | number : 2}}</td>
	           <td class="text-center"  ng-if="item.breach == 0" ><span ng-click="expanded = !expanded"  uib-tooltip="Lorem ipsum dolor sit amet, consectetur adipisicing elit." tooltip-append-to-body>{{item.breach}}</span></td>
	          <td class="text-center"  ng-if="item.breach > 0" ><a href=""><span ng-model="item.name" ng-click="toggleExpand(item.name,'b')" class="clr-red" uib-tooltip="Lorem ipsum dolor sit amet, consectetur adipisicing elit." tooltip-append-to-body>{{item.breach}}</span></a></td>
	          </tr>
	           <tr ng-show="expanded" ng-if="item.name == name">
            <td colspan="4">
              <table class="table table-striped table-qk2" style="width: 60%; margin: 0 auto;">
                <!--<caption>Optional table caption.</caption>-->
                <colgroup>
                    <col>
		            <col width="15%">
		            <col width="15%">
		            <col width="15%">
                </colgroup>
                <thead>
                <tr>
                   <th class="text-center">Page Name</th>
                  <th class="text-center">Date Time</th>
                  <th class="text-center"> Threshold Set(sec)</th>
                  <th class="text-center">Threshold Breach(sec)</th>
                </tr>
                </thead>
                <tbody ng-repeat="item in breachData" >
                <tr>
                  <td class="text-center">{{ item.pageName }}</td>
                  <td class="text-center">{{ item.runStartTime }}</td>
                  <td class="text-center">{{ item.thresholdTime / 1000 }}</td>
                  <td class="text-center">{{ item.downloadTime / 1000 }}</td>
                 
                </tr>
              
                </tbody>
                </table>


            </td>
          </tr>
          </tbody>
          
          
          <!--  
          <tr>
            <td>Customer Welcome Page After Login</td>
            <td class="text-center">14</td>
            <td class="text-center">100</td>
            <td class="text-center">0</td>
          </tr>
          <tr>
            <td>Policy List Page Post Login</td>
            <td class="text-center">14</td>
            <td class="text-center">100</td>
            <td class="text-center">0</td>
          </tr>
          <tr>
            <td>Mode Of Payment Page LA MQ Used Post Login</td>
            <td class="text-center">14</td>
            <td class="text-center">100</td>
            <td class="text-center "><span ng-click="expanded = !expanded" class="clr-red" uib-tooltip="Lorem ipsum dolor sit amet, consectetur adipisicing elit." tooltip-append-to-body>11</span></td>
          </tr>
          <tr ng-show="expanded">
            <td colspan="4">
              <table class="table table-striped table-qk2" style="width: 60%; margin: 0 auto;">
                <!--<caption>Optional table caption.</caption>-->
             <!--     <colgroup>
                  <col width="30%">
                  <col width="30%">
                  <col>
                </colgroup>
                <thead>
                <tr>
                   <th class="text-center">Date</th>
                  <th class="text-center">Time</th>
                  <th class="text-center">Response Time (sec)</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td class="text-center">8/3/2016</td>
                  <td class="text-center">18:08:49</td>
                  <td class="text-center">3:49</td>
                </tr>
                <tr>
                  <td class="text-center">8/3/2016</td>
                  <td class="text-center">18:08:49</td>
                  <td class="text-center">3:49</td>
                </tr>
                <tr>
                  <td class="text-center">8/3/2016</td>
                  <td class="text-center">18:08:49</td>
                  <td class="text-center">3:49</td>
                </tr>
                </tbody>
                </table>


            </td>
          </tr>
          <tr>
            <td>Split Payment Information Page LA MQ Used</td>
            <td class="text-center">14</td>
            <td class="text-center">100</td>
            <td class="text-center">0</td>
          </tr>

          </tbody>
          -->
        </table>
      </div>
    </div>

  </section>



</div>
</div>
