<header id="page-header" class="navbar-fixed-top ng-scope">
  <div class="navbar bs-docs-nav qk-navbar ng-scope" id="top" role="banner" ng-controller="headerCtrl">
   <div class="container-fluid">
     <div class="navbar-header">
       <a href="/" class="navbar-brand"></a>
     </div>
     
   </div>
</div>
</header>
<div class="container">
  <div class="row">
 
 
  	<div class="col-md-6">
	<div class="col-md-10 col-md-offset-1">
	<h1 class="heading">
		
	</h1>
	<div class="white-box">
	<a href="#"><img src="assets/images/whitepaper-300.png" style="width:100%;"/></a>
	<p>
	Availability and performance are the two cornerstones that ensure a seamless customer experience.
	</p>
 	</div>
 	</div>
 	</div>
 	
 	<div class="col-md-6">
		<div class="col-md-8 col-md-offset-2"><br/><br/><br/><br/>
		
         <form  name="userForm" ng-submit="submitForm()" novalidate class="form-horizontal">
	 
         <h3 class="form-heading">Login</h3>
	  	
	  <div class="form-class">
		 <br/>
			<div  style="padding-top:10px;padding-left:20px;"> 
   			<span class="lead" style="color:red;align="center"><h5>{{ errorMessage }} </h5></span>
			</div>
         <div class="control-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
             <label class="control-label" for="email">E-mail id / Username</label>
             <div class="controls">
               <input id="email" name="email" placeholder="Enter your corporate email id" class="form-control input-m" type="email" ng-model="user.email" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" required>
            	
            	<span style="color:red" ng-show="userForm.email.$dirty &&userForm.email.$invalid">
            <span  ng-show="userForm.email.$error.required">Email is required.</span>
  			<span  ng-show="userForm.email.$error.pattern">Invalid email address.</span>  
            
             </div>
           </div>
		 <br/>
		  <br/>
		  <div class="control-group">
             <label class="control-label" for="password">Password</label>
             <div class="controls">
               <input id="password" name="password" placeholder="Enter your password" class="form-control input-m" type="password" ng-model="user.password" required >
               
             </div>
           </div>
        <br/>
	
		<div class="control-group">
             <div class="controls">
               <div class="col-md-7">                        
				<input type="checkbox" class="input-checkbox" id="checkbox1" ng-model="loggedInCheck">
				<label for="checkbox1" class="input-label">Keep me signed in</label>
			</div>
			<div class="col-md-5"><a href="#" class="pull-right">Forgot password?</a></div>
             </div>
           </div>
		
           <div class="control-group">
             <!-- Button -->
             <div class="controls">
               <center><button class="btn btn-secondary orange-btn" type="submit" ng-disabled="userForm.$invalid" >LOGIN</button></center>
             </div>
           </div>
           <div class="col-sm-12" ng-controller="RegistrationCtrl"><a class="pull-right" ng-click="go('register')" style="cursor:pointer;">Don't have an account? Sign up</a></div>
       </div>
       </form>
       
	<p>Download mobile app</p>
	<p>
		<a href="#"><img src="assets/images/google-icon.png" style="width:100px"/></a>
		<a href="#"><img src="assets/images/app-icon.png" style="width:100px"/></a>
		</p>
    </div> 
  </div>
</div>
</div>