<div class="row row-action">
  <div class="col-md-3">
    <strong>My Actions</strong>
  </div>

  <div class="col-md-9">
    <div class="pull-left msg">Your Idigital validity about to expire</div>
    <div class="pull-right box-actionbtn">

      <button type="button" class="btn btn-qk">
        My Action
        <span class="right-icon"><i class="icon-refresh"></i></span>
      </button>

      <button type="button" class="btn btn-qk">
        Add Application
        <span class="right-icon"><i class="icon-plus"></i></span>
      </button>

    </div>
  </div>
</div>

<div class="my-action">
  <div class="action-box">
    <ul class="nav nav-tabs">
      <!--$scope.currentView='active_alert'; // 'schedule_downtime' , 'schedule_report'-->
      <li role="presentation" ng-class="{'active' : currentView == 'active_alert'}">
        <a href="javascript:void(0);" ng-click="setActiveTab('active_alert')">Active Alerts</a></li>
      <li role="presentation" ng-class="{'active' : currentView == 'schedule_report'}">
        <a href="javascript:void(0);" ng-click="setActiveTab('schedule_report')">Schedule Report</a></li>
      <li role="presentation" ng-class="{'active' : currentView == 'schedule_downtime'}">
        <a href="javascript:void(0);" ng-click="setActiveTab('schedule_downtime')" ng-init="fetchDowntimeData()">Schedule Downtime</a></li>
    </ul>

<!-- active alert tab -->

  <div class="content-area alert-content" ng-show="currentView == 'active_alert'">
    <div class="tab-row">
        <div>
          <div class="radio">
            <input type="radio" id="current_alert" name="alertradio" value="current"
                  ng-model="alertRadioValue" ng-change='isAlertSelected(alertRadioValue)' checked>
            <label for="current_alert"><span><i class="circle"></i></span>Current</label>
          </div>
          <div class="radio">
            <input type="radio" id="historical_alert" name="alertradio" value="histrorical" ng-model="alertRadioValue" ng-change='isAlertSelected(alertRadioValue)'>
            <label for="historical_alert"><span><i class="circle"></i></span>Historical</label>
          </div>
        </div>
        <div class="btn-group" data-toggle="buttons" ng-if="alertRadioValue == 'current'">
          <a class="btn radio-alert active" ng-init="showAlert('all')" ng-click="showAlert('all')">
            <input type="radio" name="options" checked> All
          </a>
          <a class="btn radio-alert" ng-click="showAlert('above1')">
            <span class="badge">{{ (Activealerts | filter:filterByActiveAlertsforAbove1Hrs).length }}</span>
            <input type="radio" name="options"> Above 1 hour
          </a>
          <a class="btn radio-alert" ng-click="showAlert('1hrs')">
            <span class="badge">{{ (Activealerts | filter:filterByActiveAlertsforLast1Hrs).length }}</span>
            <input type="radio" name="options" > last 1 hour
          </a>
          <a class="btn radio-alert" ng-click="showAlert('30min')">
            <span class="badge">{{ (Activealerts | filter:filterByActiveAlertsforLast30mins).length }}</span>
            <input type="radio" name="options" > last 30 min
          </a>
          <a class="btn radio-alert" ng-click="showAlert('15min')">
            <span class="badge">{{ (Activealerts | filter:filterByActiveAlertsforLast15mins).length }}</span>
            <input type="radio" name="options" > last 15 min
          </a>
        </div>
      </div>


<!--current alert-->

  <div ng-show="alertRadioValue == 'current'">
    <div class="alert-table-head table-responsive">
      <table class="table table-bordered ">
        <colgroup>
          <col width="20%">
          <col width="15%">
          <col width="23%">
          <col width="25%">
          <col width="17%">
        </colgroup>
        <tr>
          <th ng-class="selectedTab('errorTime')" ng-click="changeSorting('errorTime')"> Error Time
            <i class="sort-icon" ng-class="getIcon('errorTime')"></i>
          </th>
          <th ng-class="selectedTab('applicationName')" ng-click="changeSorting('applicationName')"> Application
            <i class="sort-icon" ng-class="getIcon('applicationName')"></i>
          </th>
          <th>Page</th>
          <th>Description</th>
          <th>Stop escalation <i class="icon-help"></i></th>
        </tr>
      </table>
    </div>

      <div class="alert-table-body" ng-show="showAlertof == 'above1' || showAlertof == 'all'">
        <a href="javascript:void(0);" ng-click="isAbove1hrs = !isAbove1hrs"><i class="toggle-icon" ng-class="{'icon-angle-down': !isAbove1hrs, 'icon-angle-up': isAbove1hrs}"></i></a>
        <a href="javascript:void(0);"></a><div class="row-lable">Above 1 hour</div>
        <div uib-collapse="isAbove1hrs" class="table-responsive">
          <table class="table table-striped table-bordered ">
            <colgroup>
              <col width="20%">
              <col width="15%">
              <col width="23%">
              <col width="25%">
              <col width="17%">
            </colgroup>
            <tr ng-if="(Activealerts | filter:filterByActiveAlertsforAbove1Hrs).length > 0" ng-repeat="activealert in Activealerts | filter:filterByActiveAlertsforAbove1Hrs | orderBy:sort.column:sort.descending" ng-class="{'disabled' : activealert.state == 'Stop escalation'}">
              <td>{{activealert.errorTime | date:'dd MMM yyyy, HH:mm'}} Hrs</td>
              <td>{{activealert.applicationName}}</td>
              <td>{{activealert.pageName}}</td>
              <td><img class="img-responsive" src="assets/images/alert-screenshot.png" alt="stop"> {{activealert.description}}</td>
              <td ng-hide="activealert.state == 'Stop escalation'" class="text-center"><a href="javascript:void(0);" popover-placement="bottom" uib-popover-template="'escalationTemplate.html'" popover-trigger="'outsideClick'"><img class="img-responsive" src="assets/images/alert-stop-icon.png" alt="stop"></a></td>
              <td ng-show="activealert.state == 'Stop escalation'" class="edit-escalation">Stopped until <strong>{{activealert.stopEscalationStartTime | date:'HH:mm'}} </strong>to <strong>{{activealert.stopEscalationEndTime | date:'HH:mm'}} </strong> by <strong>{{activealert.lastModifiedBy}}</strong> <a href="javascript:void(0);" ng-click="OpenStopModal(activealert,'qk','page')"><i class="icon-edit"></i></a></td>
            </tr>
            <tr ng-if="(Activealerts | filter:filterByActiveAlertsforAbove1Hrs).length == 0">
              <td colspan="5">
                No Records
              </td>
            </tr>
            <tr ng-if="!Activealerts">
              <td colspan="5">
                <img src="assets/images/ajax-loader.gif" >Loading data...
              </td>
            </tr>
          </table>
        </div>
      </div>

      <div class="alert-table-body" ng-show="showAlertof == '1hrs' || showAlertof == 'all'">
        <a href="javascript:void(0);" ng-click="islast1hrs = !islast1hrs"><i class="toggle-icon" ng-class="{'icon-angle-down': !islast1hrs, 'icon-angle-up': islast1hrs}"></i></a>
        <a href="javascript:void(0);"></a><div class="row-lable">last 1 hour</div>
        <div uib-collapse="islast1hrs" class="table-responsive">
          <table class="table table-striped table-bordered ">
            <colgroup>
              <col width="20%">
              <col width="15%">
              <col width="23%">
              <col width="25%">
              <col width="17%">
            </colgroup>
            <tr ng-if="(Activealerts | filter:filterByActiveAlertsforLast1Hrs).length > 0" ng-repeat="activealert in Activealerts | filter:filterByActiveAlertsforLast1Hrs | orderBy:sort.column:sort.descending" ng-class="{'disabled' : activealert.state == 'Stop escalation'}">
              <td>{{activealert.errorTime | date:'dd MMM yyyy, HH:mm'}} Hrs</td>
              <td>{{activealert.applicationName}}</td>
              <td>{{activealert.pageName}}</td>
              <td><img class="img-responsive" src="assets/images/alert-screenshot.png" alt="stop"> {{activealert.description}}</td>
              <td ng-hide="activealert.state == 'Stop escalation'" class="text-center"><a href="javascript:void(0);" popover-placement="bottom" uib-popover-template="'escalationTemplate.html'" popover-trigger="'outsideClick'"><img class="img-responsive" src="assets/images/alert-stop-icon.png" alt="stop"></a></td>
              <td ng-show="activealert.state == 'Stop escalation'" class="edit-escalation">Stopped until <strong>{{activealert.stopEscalationStartTime | date:'HH:mm'}} </strong>to <strong>{{activealert.stopEscalationEndTime | date:'HH:mm'}} </strong> by <strong>{{activealert.lastModifiedBy}}</strong> <a href="javascript:void(0);" ng-click="OpenStopModal(activealert,'qk','page')"><i class="icon-edit"></i></a></td>
            </tr>
            <tr ng-if="(Activealerts | filter:filterByActiveAlertsforLast1Hrs).length == 0">
              <td colspan="5">
                No Records
              </td>
            </tr>
            <tr ng-if="!Activealerts">
              <td colspan="5">
                <img src="assets/images/ajax-loader.gif" >Loading data...
              </td>
            </tr>
          </table>
        </div>
      </div>

      <div class="alert-table-body" ng-show="showAlertof == '30min' || showAlertof == 'all'">
        <a href="javascript:void(0);" ng-click="islast30min = !islast30min"><i class="toggle-icon" ng-class="{'icon-angle-down': !islast30min, 'icon-angle-up': islast30min}"></i></a>
        <a href="javascript:void(0);"></a><div class="row-lable">last 30 min</div>
        <div uib-collapse="islast30min" class="table-responsive">
          <table class="table table-striped table-bordered ">
            <colgroup>
              <col width="20%">
              <col width="15%">
              <col width="23%">
              <col width="25%">
              <col width="17%">
            </colgroup>
            <tr ng-if="(Activealerts | filter:filterByActiveAlertsforLast30mins).length > 0" ng-repeat="activealert in Activealerts | filter:filterByActiveAlertsforLast30mins | orderBy:sort.column:sort.descending" ng-class="{'disabled' : activealert.state == 'Stop escalation'}">
              <td>{{activealert.errorTime | date:'dd MMM yyyy, HH:mm'}} Hrs</td>
              <td>{{activealert.applicationName}}</td>
              <td>{{activealert.pageName}}</td>
              <td><img class="img-responsive" src="assets/images/alert-screenshot.png" alt="stop"> {{activealert.description}}</td>
              <td ng-hide="activealert.state == 'Stop escalation'" class="text-center"><a href="javascript:void(0);" popover-placement="bottom" uib-popover-template="'escalationTemplate.html'" popover-trigger="'outsideClick'"><img class="img-responsive" src="assets/images/alert-stop-icon.png" alt="stop"></a></td>
              <td ng-show="activealert.state == 'Stop escalation'" class="edit-escalation">Stopped until <strong>{{activealert.stopEscalationStartTime | date:'HH:mm'}} </strong>to <strong>{{activealert.stopEscalationEndTime | date:'HH:mm'}} </strong> by <strong>{{activealert.lastModifiedBy}}</strong> <a href="javascript:void(0);" ng-click="OpenStopModal(activealert,'qk','page')"><i class="icon-edit"></i></a></td>
            </tr>
            <tr ng-if="(Activealerts | filter:filterByActiveAlertsforLast30mins).length == 0">
              <td colspan="5">
                No Records
              </td>
            </tr>
            <tr ng-if="!Activealerts">
              <td colspan="5">
                <img src="assets/images/ajax-loader.gif" >Loading data...
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="alert-table-body" ng-show="showAlertof == '15min' || showAlertof == 'all'">
        <a href="javascript:void(0);" ng-click="islast15min = !islast15min"><i class="toggle-icon" ng-class="{'icon-angle-down': !islast15min, 'icon-angle-up': islast15min}"></i></a>
        <a href="javascript:void(0);"></a><div class="row-lable">last 15 min</div>
        <div uib-collapse="islast15min" class="table-responsive">
          <table class="table table-striped table-bordered ">
            <colgroup>
              <col width="20%">
              <col width="15%">
              <col width="23%">
              <col width="25%">
              <col width="17%">
            </colgroup>
            <tr ng-if="(Activealerts | filter:filterByActiveAlertsforLast15mins).length > 0" ng-repeat="activealert in Activealerts | filter:filterByActiveAlertsforLast15mins | orderBy:sort.column:sort.descending" ng-class="{'disabled' : activealert.state == 'Stop escalation'}">
              <td>{{activealert.errorTime | date:'dd MMM yyyy, HH:mm'}} Hrs</td>
              <td>{{activealert.applicationName}}</td>
              <td>{{activealert.pageName}}</td>
              <td><img class="img-responsive" src="assets/images/alert-screenshot.png" alt="stop"> {{activealert.description}}</td>
              <td ng-hide="activealert.state == 'Stop escalation'" class="text-center"><a href="javascript:void(0);" popover-placement="bottom" uib-popover-template="'escalationTemplate.html'" popover-trigger="'outsideClick'"><img class="img-responsive" src="assets/images/alert-stop-icon.png" alt="stop"></a></td>
              <td ng-show="activealert.state == 'Stop escalation'" class="edit-escalation">Stopped until <strong>{{activealert.stopEscalationStartTime | date:'HH:mm'}} </strong>to <strong>{{activealert.stopEscalationEndTime | date:'HH:mm'}} </strong> by <strong>{{activealert.lastModifiedBy}}</strong> <a href="javascript:void(0);" ng-click="OpenStopModal(activealert,'qk','page')"><i class="icon-edit"></i></a></td>
            </tr>
            <tr ng-if="(Activealerts | filter:filterByActiveAlertsforLast15mins).length == 0">
              <td colspan="5">
                No Records
              </td>
            </tr>
            <tr ng-if="!Activealerts">
              <td colspan="5">
                <img src="assets/images/ajax-loader.gif" >Loading data...
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>

<!-- end current alert-->

<!--histrorical alert-->

  <div ng-show="alertRadioValue == 'histrorical'">
        <div class="alert-table-head table-responsive">
          <table class="table table-bordered">
            <colgroup>
              <col width="15%">
              <col width="18%">
              <col width="25%">
              <col width="25%">
              <col width="17%">
            </colgroup>
            <tr>
              <th ng-class="selectedTab('errorTime')" ng-click="changeSorting('errorTime')"> Error Time
                <i class="sort-icon" ng-class="getIcon('errorTime')"></i>
              </th>
              <th ng-class="selectedTab('applicationName')" ng-click="changeSorting('applicationName')"> Application
                <i class="sort-icon" ng-class="getIcon('applicationName')"></i>
              </th>
              <th>Page</th>
              <th>Description</th>
              <th>State</th>
            </tr>
          </table>
        </div>

        <div class="alert-table-body table-responsive">
          <a href="javascript:void(0);"><i class="toggle-icon icon-angle-down"></i></a>
          <table class="table table-striped table-bordered ">
            <colgroup>
              <col width="15%">
              <col width="18%">
              <col width="25%">
              <col width="25%">
              <col width="17%">
            </colgroup>

            <tr ng-if="ActiveHalerts.length > 0" ng-repeat="activealert in ActiveHalerts | orderBy:sort.column:sort.descending">
              <td>{{activealert.errorTime | date:'dd MMM yyyy, HH:mm'}} Hrs</td>
              <td>{{activealert.applicationName}}</td>
              <td>{{activealert.pageName}}</td>
              <td><img class="img-responsive" src="assets/images/alert-screenshot.png" alt="stop"> {{activealert.description}}</td>
              <td>
                <span ng-hide="activealert.state == 'Stop escalation'">{{activealert.state}}</span>
                <span ng-show="activealert.state == 'Stop escalation'" uib-tooltip-template="'histroricalTooltip.html'">{{activealert.state}}</span>
              </td>
            </tr>

            <tr ng-if="ActiveHalerts.length == 0">
              <td colspan="5">
                No Records
              </td>
            </tr>
            <tr ng-if="!ActiveHalerts">
              <td colspan="5">
                <img src="assets/images/ajax-loader.gif" >Loading data...
              </td>
            </tr>
          </table>
        </div>
    </div>

  <div class="clearfix" style="padding: 10px 0;">
    <a href="javascript:void(0);">
      <button type="button" class="btn btn-default btn-sm btn-export pull-right">Export to pdf <i class="icon-file-export"></i></button>
    </a>
  </div>

</div>
<!-- end histrorical alert-->

<!--Schedule Report tab-->

  <div class="content-area report-content" ng-show="currentView == 'schedule_report'">
        <div class="report-table">
          <div class="msg">Your scheduled report</div>
          <div class="table-responsive">
            <table class="table table-striped">
              <colgroup>
                <col width="20%">
                <col width="20%">
                <col width="30%">
                <col width="20%">
                <col width="10%">
              </colgroup>
              <thead>
              <tr>
                <th>Report Name</th>
                <th>Application</th>
                <th>Frequency</th>
                <th></th>
                <th></th>
              </tr>
              </thead>

              <tbody>
              <tr>
                <td>Indraneel report</td>
                <td>I digital</td>
                <td>Weekly</td>
                <td> <button type="button" class="btn btn-outlined">Modify</button> </td>
                <td><a href="javascript:void(0);" class="cancel-link" ng-click="cancel()">Cancel</a></td>
              </tr>
              <tr>
                <td>Indraneel report</td>
                <td>I digital</td>
                <td>Weekly</td>
                <td> <button type="button" class="btn btn-outlined">Modify</button> </td>
                <td><a href="javascript:void(0);" class="cancel-link" ng-click="cancel()">Cancel</a></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

        <!-- <div class="msg msg-alert"><i class="icon-alert"></i>There is no scheduled report</div>-->

        <div class="new-report">
          <div class="form-report">
            <div class="msg">Schedule new report</div>
            <label>Choose an application for report</label>
            <div class="app-choice list-inline">
              <div class="input-style-box">
                <input id="app_digital" type="checkbox"/>
                <label class="checkbox-label" for="app_digital">I Digital</label>
              </div>
              <div class="input-style-box">
                <input id="app_care" type="checkbox"/>
                <label class="checkbox-label" for="app_care">I Care</label>
              </div>
              <div class="input-style-box">
                <input id="app_spectra" type="checkbox"/>
                <label class="checkbox-label" for="app_spectra">Spectra</label>
              </div>
              <div class="input-style-box">
                <input id="app_trade" type="checkbox"/>
                <label class="checkbox-label" for="app_trade">I Trade</label>
              </div>
            </div>
            <label>Choose frequency</label>
            <div class="frequency-choice list-inline">
              <div class="input-style-box">
                <div class="radio">
                  <input type="radio" id="freq_daily" value='alert' name="alert_type">
                  <label for="freq_daily">
                  <span><i class="circle"></i>
                  </span>
                    <p class="frequency_label">
                      Daily
                      <br/>
                      <small>Every morning</small></p>
                  </label>
                </div>
              </div>
              <div class="input-style-box">
                <div class="radio">
                  <input type="radio" id="freq_weekly" value='alert' name="alert_type">
                  <label for="freq_weekly">
                  <span><i class="circle"></i>
                  </span>
                    <p class="frequency_label">
                      Weekly
                      <br/>
                      <small>Every monday</small></p>
                  </label>
                </div>
              </div>
              <div class="input-style-box">
                <div class="radio">
                  <input type="radio" id="freq_monthly" value='alert' name="alert_type">
                  <label for="freq_monthly">
                  <span><i class="circle"></i>
                  </span>
                    <p class="frequency_label">
                      Monthly
                      <br/>
                      <small>Every 1st of month</small></p>
                  </label>
                </div>
              </div>
            </div>
            <label for="report_name">Report Name</label>
            <input type="text" id="report_name">
            <div class="text-center">
              <button class="btn model-btn" type="button" ng-click="ok()">Schedule report</button>
            </div>
          </div>
        </div>
      </div>

<!--Schedule Report tab end-->

<!--Schedule Downtime tab-->

  <div class="content-area report-content downtime-tab" ng-show="currentView == 'schedule_downtime'">
      <div ng-hide="ScheduleDowntimeData.length == 0" class="report-table">
        <div class="msg">Your scheduled downtime</div>
        <div class="table-responsive">
          <table class="table table-striped">
            <colgroup>
              <col width="30%">
              <col width="20%">
              <col width="10%">
              <col width="10%">
              <col width="10%">
              <col width="10%">
              <col width="5%">
              <col width="5%">
            </colgroup>
            <thead>
            <tr>
              <th>Application</th>
              <th>Pages</th>
              <th>Day</th>
              <th>Start time</th>
              <th>Till time</th>
              <th>Scheduled by</th>
              <th></th>
              <th></th>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="records in ScheduleDowntimeData">
              <td>{{records.applicationName}}</td>
              <td>{{records.pageName}}</td>
              <td>{{records.lastUpdateTime | date:'dd MMM yyyy'}}</td>
              <td>{{records.startTime | date:'HH:mm'}}</td>
              <td>{{records.endTime | date:'HH:mm'}}</td>
              <td>{{records.scheduledBy}}</td>
              <td> <button type="button" class="btn btn-outlined" ng-click="modifyDowntime(records)" ng-model="modify">Modify</button> </td>
              <td><a href="javascript:void(0);" class="cancel-link" ng-click="cancelSchedule(records)">Cancel</a></td>
            </tr>
            <tr ng-if="!ScheduleDowntimeData">
              <td colspan="5">
                <img src="assets/images/ajax-loader.gif" >Loading data...
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div ng-show="ScheduleDowntimeData.length == 0" class="msg msg-alert"><i class="icon-alert"></i>There is no scheduled downtime</div>

      <div class="new-report">
        <div class="form-report">
          <div class="msg">Schedule new downtime</div>
          <label>Choose an application for report</label>
          <div class="app-choice list-inline">
            <div class="checkbox-wrap" ng-repeat="Apps in DowntimeApplications">
              <div style="position: relative;">
                <div class="app-box">
                  <input id="app_{{Apps.appLocMapId}}" type="checkbox" ng-model="Apps.selected" ng-value="Apps.applicationName" ng-change="toggleAll()"/>
                  <label for="app_{{Apps.appLocMapId}}"></label>
                </div>
              <a href="javascript:void(0);" class="input-style-box" ng-class="{'blue-border' : !isDigital}" ng-model="appName" ng-click="isDigital = !isDigital">
                <span>{{Apps.applicationName}}</span>
              </a>
              </div>
              <div class="checkbox-collapse" uib-collapse="!isDigital">
                <ul ng-repeat="transaction in Apps.transactions" ng-model="Apps.transactions">
                  <li><strong>{{transaction.transactionName}}</strong></li>
                  <li ng-repeat="page in transaction.pages" ng-model="transaction.pages">
                      <input id="{{Apps.appLocMapId}}page_{{page.pageId}}" type="checkbox" ng-value="page.pageName" ng-model="page.selected" ng-change="pageCheck()"/>
                      <label for="{{Apps.appLocMapId}}page_{{page.pageId}}">{{page.pageName}}</label>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <label>Choose date and time</label>
          <div class="date-wrapper clearfix">
            <div class="date-box" >
            <span>From</span>
            <div class="day"><span>{{downtimeStart | day }}</span> {{ downtimeStart | mmyy }}</div>
            <div class="time">{{ downtimeStart | time  }}</div>
            <i ng-model="downtimeStart" datetime-picker date-format="dd-MMM-yyyy HH:mm" hour="00" minute='00' size="15" class="icon-calendar"></i>
          </div>

            <div class="date-box">
              <span>To</span>
              <div class="day"><span>{{downtimeEnd | day}}</span> {{ downtimeEnd | mmyy }}</div>
              <div class="time">{{ downtimeEnd | time }}</div>
              <i ng-model="downtimeEnd" datetime-picker date-format="dd-MMM-yyyy HH:mm" hour="00" minute='00' size="15" class="icon-calendar"></i>
            </div>
          </div>
          <div class="text-center">
            <button class="btn model-btn" type="button" ng-click="generateNewDowntime()">Schedule downtime</button>
          </div>
        </div>
      </div>
    </div>

<!--Schedule Downtime tab end-->

  </div>
</div>

<!--stop escalation popover-->

<script type="text/ng-template" id="escalationTemplate.html">
  <ul class="list-unstyled escalation-popover">
    <li><a href="javascript:void(0);" ng-click="OpenStopModal(activealert,'qk','page')">Page</a></li>
    <li><a href="javascript:void(0);" ng-click="OpenStopModal(activealert,'qk','application')">Application</a></li>
  </ul>
</script>

<!-- Histrorical Alert Tooltip-->

<script type="text/ng-template" id="histroricalTooltip.html">

 <span>Stopped by <strong>{{activealert.lastModifiedBy}}</strong> on <strong>{{activealert.stopEscalationEndTime | date:'dd MMM'}}</strong>  from <strong>{{activealert.stopEscalationStartTime | date:'HH:mm'}} </strong>to <strong>{{activealert.stopEscalationEndTime | date:'HH:mm'}}</strong></span>

</script>

<!--Stop escalation modal-->

<script type="text/ng-template" id="stop-escalation-modal.html">
  <div class="modal-header">
    <div class="modal-title">stop escalation</div>
    <a href="javascript:void(0);" ng-click="ModalCancel()"><i class="icon-cross"></i></a>
  </div>
 
  <div class="modal-body" >
    <div class="text-head" ng-if="objAlert.state == 'Stop escalation'">
      <span class="text-head-bold"><a href="javascript:void(0);" ng-click="CancelStop(objAlert)">Cancel</a> this escalation</span>
      <p>or <br/>
        Extend</p>
    </div>
    <form class="form-body">
      <div ng-if="type == 'page'">
        <strong>Page Name :</strong> {{objAlert.pageName}}
      </div>
      <div ng-if="type == 'application'">
        <strong>Application Name :</strong> {{objAlert.applicationName}}
      </div>
      <textarea class="form-control comment-box" rows="3" placeholder="Enter reason" ng-model="stopEscalationReason"></textarea>
      <div class="row time-row">
        <div class="col-md-5 start-time" ng-model="escalStartTime">
          From :<span> {{escalStartTime | time}}</span>
        </div>
        <div class="col-md-2">
          To
        </div>
        <div class="col-md-5">
          <div uib-timepicker ng-model="escalEndTime" class="end-time" arrowkeys="true" show-meridian="false"></div>
        </div>
      </div>
    </form>

    <div class="text-center">
      <button class="btn model-btn" type="button" ng-click="ConfirmStop(objAlert)">Confirm</button>
      <button class="btn btn-clear" type="button" ng-click="ModalCancel()">Cancel</button>
    </div>
  </div>
</script>

<!-- Stop escalation modal end-->

<!-- confirm stop escalation -->

<script type="text/ng-template" id="confirm-stop-modal.html">
  <div class="modal-header">
    <div class="modal-title">cancel escalation</div>
    <a href="javascript:void(0);" ng-click="ModalCancel()"><i class="icon-cross"></i></a>
  </div>
  <div class="modal-body">
    <div class="text-head">
      <span class="text-head-bold">Do you really want to CANCEL the stopped escalation?</span>
    </div>

    <div class="text-center">
      <button class="btn model-btn" type="button" ng-click="stop(objAlert)">Yes</button>
      <button class="btn btn-clear" type="button" ng-click="ModalCancel()">No</button>
    </div>
  </div>
</script>

<!-- confirm stop escalation end-->

