<div class="row row-action">
  <div class="col-md-3">
    <strong>My Action</strong>
  </div>

  <div class="col-md-9">
    <div class="pull-left msg">Your Idigital validity about to expire</div>
    <div class="pull-right box-actionbtn">

      <button type="button" class="btn btn-qk">
        My Action
        <span class="right-icon"><i class="icon-refresh"></i></span>
      </button>

      <button type="button" class="btn btn-qk">
        Add Application
        <span class="right-icon"><i class="icon-plus"></i></span>
      </button>

    </div>
  </div>
</div>

<div class="my-action">
  <div class="action-box">
    <ul class="nav nav-tabs">
      <!--$scope.currentView='active_alert'; // 'schedule_downtime' , 'schedule_report'-->
      <li role="presentation" ng-class="{'active' : currentView == 'active_alert'}">
        <a href="javascript:void(0);" ng-click="setActiveTab('active_alert')">Active Alerts</a></li>
      <li role="presentation" ng-class="{'active' : currentView == 'schedule_report'}">
        <a href="javascript:void(0);" ng-click="setActiveTab('schedule_report')">Schedule Report</a></li>
      <li role="presentation" ng-class="{'active' : currentView == 'schedule_downtime'}">
        <a href="javascript:void(0);" ng-click="setActiveTab('schedule_downtime')">Schedule Downtime</a></li>
    </ul>

    <!-- active alert tab -->

    <div class="content-area alert-content" ng-show="currentView == 'active_alert'">
      <div class="tab-row">
        <div>
          <div class="radio">
            <input type="radio" id="current_alert" name="alertradio" ng-value="current"  ng-model='alertradiovalue' alertradiovalue='current' ng-change="processAlertRadio('current')" checked>
            <label for="current_alert"><span><i class="circle"></i></span>Current</label>
          </div>
          <div class="radio">
            <input type="radio" id="historical_alert" name="alertradio" value="historical" ng-model='alertradiovalue' alertradiovalue='historical' ng-change="processAlertRadio('historical')">
            <label for="historical_alert"><span><i class="circle"></i></span>Historical</label>
          </div>
        </div>
        <div class="btn-group" data-toggle="buttons">
          <label class="btn radio-alert active">
            <input type="radio" name="options" id="option1" autocomplete="off" ng-click="showAllAlerts()" checked> All
          </label>
          <label class="btn radio-alert">
            <span class="badge">9</span>
            <input type="radio" name="options" id="option2" autocomplete="off" ng-click="show24hrsAlerts()"> last 24 hour
          </label>
          <label class="btn radio-alert">
            <span class="badge">5</span>
            <input type="radio" name="options" id="option3" autocomplete="off" ng-click="show6hrsAlerts()"> last 6 hour
          </label>
          <label class="btn radio-alert">
            <span class="badge">1</span>
            <input type="radio" name="options" id="option4" autocomplete="off" ng-click="show45minAlerts()"> last 45 hour
          </label>
          <label class="btn radio-alert">
            <span class="badge">2</span>
            <input type="radio" name="options" id="option5" autocomplete="off" ng-click="show30minAlerts()"> last 30 hour
          </label>
          <label class="btn radio-alert">
            <span class="badge">6</span>
            <input type="radio" name="options" id="option6" autocomplete="off" ng-click="show15minAlerts()"> last 15 hour
          </label>
        </div>
      </div>

  <!-- current alert-->

      <div ng-show="isAlertSelected('1')">
        <div class="alert-table-head table-responsive">
          <table class="table table-bordered ">
            <colgroup>
              <col width="15%">
              <col width="18%">
              <col width="25%">
              <col width="25%">
              <col width="17%">
            </colgroup>
            <tr>
              <th>Error Time</th>
              <th>Application</th>
              <!-- <th>Transaction</th>-->
              <th>Page</th>
              <th>Description</th>
              <th>Stop escalation <i class="icon-help"></i></th>
            </tr>
          </table>
        </div>

        <div class="alert-table-body">
          <a href="javascript:void(0);" ng-click="isTableCollapsed = !isTableCollapsed"><i class="toggle-icon" ng-class="{'icon-angle-down': !isTableCollapsed, 'icon-angle-up': isTableCollapsed}"></i></a>
          <div class="row-lable">last 24 hrs</div>
          <div uib-collapse="isTableCollapsed" class="table-responsive">
            <table class="table table-striped table-bordered ">
              <colgroup>
                <col width="15%">
                <col width="18%">
                <col width="25%">
                <col width="25%">
                <col width="17%">
              </colgroup>
              <tr ng-repeat="activealert in Activealerts |filter:filterByActiveAlertsforLast24Hrs">
                <td>{{activealert.errorTime | date:'dd MMM yyyy, HH:mm'}} Hrs</td>
                <td>{{activealert.applicationName}}</td>
                <!--<td>Post login payment</td>-->
                <td>{{activealert.pageName}}</td>
                <td><img class="img-responsive" src="assets/images/alert-screenshot.png" alt="stop"> {{activealert.description}}</td>
                <td class="text-center"><a href="javascript:void(0);" popover-placement="bottom" uib-popover-template="'escalationTemplate.html'" popover-trigger="'outsideClick'"><img class="img-responsive" src="assets/images/alert-stop-icon.png" alt="stop"></a></td>
              </tr>

              <!--<tr>-->
                <!--<td>25 may 2016, 11:00 Hrs</td>-->
                <!--<td>I digital</td>-->
                <!--&lt;!&ndash;<td>Post login payment</td>&ndash;&gt;-->
                <!--<td>Home page Login page</td>-->
                <!--<td><img class="img-responsive" src="assets/images/alert-screenshot.png" alt="stop"> schedule downtime</td>-->
                <!--<td class="text-center"><a href="javascript:void(0);" popover-placement="bottom" uib-popover-template="'escalationTemplate.html'" popover-trigger="'outsideClick'"><img class="img-responsive" src="assets/images/alert-stop-icon.png" alt="stop"></a></td>-->
              <!--</tr>-->
              <!--<tr>-->
                <!--<td>25 may 2016, 11:00 Hrs</td>-->
                <!--<td>I digital</td>-->
                <!--&lt;!&ndash;<td>Post login payment</td>&ndash;&gt;-->
                <!--<td>Home page Login page</td>-->
                <!--<td><img class="img-responsive" src="assets/images/alert-screenshot.png" alt="stop"> schedule downtime</td>-->
                <!--<td class="text-center"><a href="javascript:void(0);" popover-placement="bottom" uib-popover-template="'escalationTemplate.html'" popover-trigger="'outsideClick'"><img class="img-responsive" src="assets/images/alert-stop-icon.png" alt="stop"></a></td>-->
              <!--</tr>-->

              <!--disabled alert row-->

              <tr class="disabled">
                <td>25 may 2016, 11:00 Hrs</td>
                <td>I digital</td>
                <!--<td>Post login payment</td>-->
                <td>Home page Login page</td>
                <td><img class="img-responsive" src="assets/images/alert-screenshot.png" alt="stop"> schedule downtime</td>
                <td class="edit-escalation"><strong>Stopped until 12:00 to 2:00 </strong> by Swapnil <a href="javascript:void(0);"><i class="icon-edit"></i></a></td>
              </tr>

            </table>
          </div>
        </div>
      </div>

  <!-- end current alert-->

  <!--histrorical alert-->

      <div ng-show="isAlertSelected('2')">
      <div class="alert-table-head table-responsive">
        <table class="table table-bordered">
          <colgroup>
            <col width="15%">
            <col width="18%">
            <col width="25%">
            <col width="25%">
            <col width="17%">
          </colgroup>
          <tr>
            <th>Error Time <i class="icon-sort-arrow"></i></th>
            <th>Application <i class="icon-sort-arrow"></i></th>
            <!--<th>Transaction <i class="icon-sort-arrow"></i></th>-->
            <th>Page</th>
            <th>Description</th>
            <th>State</th>
          </tr>
        </table>
      </div>

      <div class="alert-table-body table-responsive">
        <a href="javascript:void(0);"><i class="toggle-icon icon-angle-down"></i></a>
        <table class="table table-striped table-bordered ">
          <colgroup>
            <col width="15%">
            <col width="18%">
            <col width="25%">
            <col width="25%">
            <col width="17%">
          </colgroup>
          <tr>
            <td>25 may 2016, 11:00 Hrs</td>
            <td>I digital</td>
            <!--<td>Post login payment</td>-->
            <td>Home page Login page</td>
            <td><img class="img-responsive" src="assets/images/alert-screenshot.png" alt="stop"> schedule downtime</td>
            <td>Working Fine</td>
          </tr>

          <tr>
            <td>25 may 2016, 11:00 Hrs</td>
            <td>I digital</td>
            <!--<td>Post login payment</td>-->
            <td>Home page Login page</td>
            <td><img class="img-responsive" src="assets/images/alert-screenshot.png" alt="stop"> schedule downtime</td>
            <td>Working Fine</td>
          </tr>
          <tr>
            <td>25 may 2016, 11:00 Hrs</td>
            <td>I digital</td>
            <!--<td>Post login payment</td>-->
            <td>Home page Login page</td>
            <td><img class="img-responsive" src="assets/images/alert-screenshot.png" alt="stop"> schedule downtime</td>
            <td>Working Fine</td>
          </tr>
        </table>
      </div>
      </div>

  <!-- end histrorical alert-->

      <div class="clearfix" style="padding: 10px 0;">
        <a href="javascript:void(0);">
          <button type="button" class="btn btn-default btn-sm btn-export pull-right">Export to pdf <i class="icon-file-export"></i></button>
        </a>
      </div>

    </div>
    <!-- active alert tab end-->

    <!--Schedule Report tab-->

    <div class="content-area report-content" ng-show="currentView == 'schedule_report'">
      <div class="report-table">
        <div class="msg">Your scheduled report</div>
        <div class="table-responsive">
          <table class="table table-striped">
            <colgroup>
              <col width="20%">
              <col width="20%">
              <col width="30%">
              <col width="20%">
              <col width="10%">
            </colgroup>
            <thead>
            <tr>
              <th>Report Name</th>
              <th>Application</th>
              <th>Frequency</th>
              <th></th>
              <th></th>
            </tr>
            </thead>

            <tbody>
            <tr>
              <td>Indraneel report</td>
              <td>I digital</td>
              <td>Weekly</td>
              <td> <button type="button" class="btn btn-outlined">Modify</button> </td>
              <td><a href="javascript:void(0);" class="cancel-link" ng-click="cancel()">Cancel</a></td>
            </tr>
            <tr>
              <td>Indraneel report</td>
              <td>I digital</td>
              <td>Weekly</td>
              <td> <button type="button" class="btn btn-outlined">Modify</button> </td>
              <td><a href="javascript:void(0);" class="cancel-link" ng-click="cancel()">Cancel</a></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- <div class="msg msg-alert"><i class="icon-alert"></i>There is no scheduled report</div>-->

      <div class="new-report">
        <div class="form-report">
          <div class="msg">Schedule new report</div>
          <label>Choose an application for report</label>
          <div class="app-choice list-inline">
            <div class="input-style-box">
              <input id="app_digital" type="checkbox"/>
              <label class="checkbox-label" for="app_digital">I Digital</label>
            </div>
            <div class="input-style-box">
              <input id="app_care" type="checkbox"/>
              <label class="checkbox-label" for="app_care">I Care</label>
            </div>
            <div class="input-style-box">
              <input id="app_spectra" type="checkbox"/>
              <label class="checkbox-label" for="app_spectra">Spectra</label>
            </div>
            <div class="input-style-box">
              <input id="app_trade" type="checkbox"/>
              <label class="checkbox-label" for="app_trade">I Trade</label>
            </div>
          </div>
          <label>Choose frequency</label>
          <div class="frequency-choice list-inline">
            <div class="input-style-box">
              <div class="radio">
                <input type="radio" id="freq_daily" value='alert' name="alert_type">
                <label for="freq_daily">
                  <span><i class="circle"></i>
                  </span>
                  <p class="frequency_label">
                    Daily
                    <br/>
                    <small>Every morning</small></p>
                </label>
              </div>
            </div>
            <div class="input-style-box">
              <div class="radio">
                <input type="radio" id="freq_weekly" value='alert' name="alert_type">
                <label for="freq_weekly">
                  <span><i class="circle"></i>
                  </span>
                  <p class="frequency_label">
                    Weekly
                    <br/>
                    <small>Every monday</small></p>
                </label>
              </div>
            </div>
            <div class="input-style-box">
              <div class="radio">
                <input type="radio" id="freq_monthly" value='alert' name="alert_type">
                <label for="freq_monthly">
                  <span><i class="circle"></i>
                  </span>
                  <p class="frequency_label">
                    Monthly
                    <br/>
                    <small>Every 1st of month</small></p>
                </label>
              </div>
            </div>
          </div>
          <label for="report_name">Report Name</label>
          <input type="text" id="report_name">
          <div class="text-center">
            <button class="btn model-btn" type="button" ng-click="ok()">Schedule report</button>
          </div>
        </div>
      </div>
    </div>

    <!--Schedule Report tab end-->

    <!--Schedule Downtime tab-->

    <div class="content-area report-content downtime-tab" ng-show="currentView == 'schedule_downtime'">
      <div class="report-table">
        <div class="msg">Your scheduled downtime</div>
        <div class="table-responsive">
          <table class="table table-striped">
            <colgroup>
              <col width="15%">
              <col width="15%">
              <col width="15%">
              <col width="15%">
              <col width="15%">
              <col width="15%">
              <col width="5%">
              <col width="5%">
            </colgroup>
            <thead>
            <tr>
              <th>Application</th>
              <th>Pages</th>
              <th>Day</th>
              <th>Start time</th>
              <th>Till time</th>
              <th>Scheduled by</th>
              <th></th>
              <th></th>
            </tr>
            </thead>

            <tbody>
            <tr>
              <td>I digital</td>
              <td>Split payment</td>
              <td>15 june 2016</td>
              <td>10:00</td>
              <td>21:00</td>
              <td>Swapnil</td>
              <td> <button type="button" class="btn btn-outlined">Modify</button> </td>
              <td><a href="javascript:void(0);" class="cancel-link" ng-click="cancel()">Cancel</a></td>
            </tr>
            <tr>
              <td>I digital</td>
              <td>Split payment</td>
              <td>15 june 2016</td>
              <td>10:00</td>
              <td>21:00</td>
              <td>Swapnil</td>
              <td> <button type="button" class="btn btn-outlined">Modify</button> </td>
              <td><a href="javascript:void(0);" class="cancel-link" ng-click="cancel()">Cancel</a></td>
            </tr>
            <tr>
              <td>I digital</td>
              <td>Split payment</td>
              <td>15 june 2016</td>
              <td>10:00</td>
              <td>21:00</td>
              <td>Swapnil</td>
              <td> <button type="button" class="btn btn-outlined">Modify</button> </td>
              <td><a href="javascript:void(0);" class="cancel-link" ng-click="cancel()">Cancel</a></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!--<div class="msg msg-alert"><i class="icon-alert"></i>There is no scheduled downtime</div>-->

      <div class="new-report">
        <div class="form-report">
          <div class="msg">Schedule new downtime</div>
          <label>Choose an application for report</label>
          <div class="app-choice list-inline">
            <div class="checkbox-wrap">
              <a href="javascript:void(0);" class="input-style-box" ng-class="{'blue-border' : !isDigital}" ng-click="isDigital = !isDigital">
                <input id="app_digital" type="checkbox"/>
                <label for="app_digital"></label>
                <span>I Digital</span>
              </a>
              <div class="checkbox-collapse" uib-collapse="isDigital">
                <ul>
                  <li>
                    <input id="all_pages" type="checkbox"/>
                    <label for="all_pages">All Pages</label>
                  </li>
                  <li>
                    <input id="login_payment" type="checkbox"/>
                    <label for="login_payment">Pre Login Payment</label>
                  </li>
                  <li>
                    <input id="split_payment" type="checkbox"/>
                    <label for="split_payment">Split Payment</label>
                  </li>
                  <li>
                    <input id="cc_payment" type="checkbox"/>
                    <label for="cc_payment">CC Payment Gateway</label>
                  </li>
                  <li>
                    <input id="dc_payment" type="checkbox"/>
                    <label for="dc_payment">DC Payment Gateway</label>
                  </li>
                  <li>
                    <input id="billdesk" type="checkbox"/>
                    <label for="billdesk">BillDesk NB PG</label>
                  </li>
                </ul>
              </div>
            </div>
            <div class="checkbox-wrap">
              <a href="javascript:void(0);"  class="input-style-box" ng-class="{'blue-border' : !isIcare}" ng-click="isIcare = !isIcare">
                <input id="app_care" type="checkbox"/>
                <label for="app_care"></label>
                <span>I Care</span>
              </a>
              <div class="checkbox-collapse" uib-collapse="isIcare">
                <ul>
                  <li>
                    <input id="all_pages" type="checkbox"/>
                    <label for="all_pages">All Pages</label>
                  </li>
                  <li>
                    <input id="login_payment" type="checkbox"/>
                    <label for="login_payment">Pre Login Payment</label>
                  </li>
                  <li>
                    <input id="split_payment" type="checkbox"/>
                    <label for="split_payment">Split Payment</label>
                  </li>
                  <li>
                    <input id="cc_payment" type="checkbox"/>
                    <label for="cc_payment">CC Payment Gateway</label>
                  </li>
                  <li>
                    <input id="dc_payment" type="checkbox"/>
                    <label for="dc_payment">DC Payment Gateway</label>
                  </li>
                  <li>
                    <input id="billdesk" type="checkbox"/>
                    <label for="billdesk">BillDesk NB PG</label>
                  </li>
                </ul>
              </div>
            </div>
            <div class="checkbox-wrap">
              <a href="javascript:void(0);"  class="input-style-box" ng-class="{'blue-border' : !isSpectra}" ng-click="isSpectra = !isSpectra">
                <input id="app_spectra" type="checkbox"/>
                <label for="app_spectra"></label>
                <span>Spectra</span>
              </a>
              <div class="checkbox-collapse" uib-collapse="isSpectra">
                <ul>
                  <li>
                    <input id="all_pages" type="checkbox"/>
                    <label for="all_pages">All Pages</label>
                  </li>
                  <li>
                    <input id="login_payment" type="checkbox"/>
                    <label for="login_payment">Pre Login Payment</label>
                  </li>
                  <li>
                    <input id="split_payment" type="checkbox"/>
                    <label for="split_payment">Split Payment</label>
                  </li>
                  <li>
                    <input id="cc_payment" type="checkbox"/>
                    <label for="cc_payment">CC Payment Gateway</label>
                  </li>
                  <li>
                    <input id="dc_payment" type="checkbox"/>
                    <label for="dc_payment">DC Payment Gateway</label>
                  </li>
                  <li>
                    <input id="billdesk" type="checkbox"/>
                    <label for="billdesk">BillDesk NB PG</label>
                  </li>
                </ul>
              </div>
            </div>
            <div class="checkbox-wrap">
              <a href="javascript:void(0);" class="input-style-box" ng-class="{'blue-border' : !isTrade}" ng-click="isTrade = !isTrade">
                <input id="app_trade" type="checkbox"/>
                <label for="app_trade"></label>
                <span>I Trade</span>
              </a>
              <div class="checkbox-collapse" uib-collapse="isTrade">
                <ul>
                  <li>
                    <input id="all_pages" type="checkbox"/>
                    <label for="all_pages">All Pages</label>
                  </li>
                  <li>
                    <input id="login_payment" type="checkbox"/>
                    <label for="login_payment">Pre Login Payment</label>
                  </li>
                  <li>
                    <input id="split_payment" type="checkbox"/>
                    <label for="split_payment">Split Payment</label>
                  </li>
                  <li>
                    <input id="cc_payment" type="checkbox"/>
                    <label for="cc_payment">CC Payment Gateway</label>
                  </li>
                  <li>
                    <input id="dc_payment" type="checkbox"/>
                    <label for="dc_payment">DC Payment Gateway</label>
                  </li>
                  <li>
                    <input id="billdesk" type="checkbox"/>
                    <label for="billdesk">BillDesk NB PG</label>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <label>Choose date and time</label>
          <div class="date-wrapper clearfix">
            <div class="date-box">
              <span>From</span>
              <div class="day"><span>11</span> May 2016</div>
              <div class="time">10.00</div>
              <i class="icon-calendar"></i>
            </div>

            <div class="date-box">
              <span>To</span>
              <div class="day"><span>17</span> May 2016</div>
              <div class="time">18.00</div>
              <i class="icon-calendar"></i>
            </div>
          </div>
          <div class="text-center">
            <button class="btn model-btn" type="button" ng-click="ok()">Schedule downtime</button>
          </div>
        </div>
      </div>
    </div>

    <!--Schedule Downtime tab end-->

  </div>
</div>

<!--stop escalation popover-->

<script type="text/ng-template" id="escalationTemplate.html">
  <ul class="list-unstyled escalation-popover">
    <li><a href="javascript:void(0);">Page</a></li>
    <li><a href="javascript:void(0);">Application</a></li>
  </ul>
</script>

<!--modals-->

<div class="text-center" style="padding: 20px;">
  <div><a href="javascript:void(0);" ng-click="OpenStopModal('qk')">Stop escalation</a></div>
  <div><a href="javascript:void(0);" ng-click="OpenConfirmModal('qk')">confirm modal</a></div>
  <div><a href="javascript:void(0);" ng-click="OpenExtendModal('qk')">extend escalation</a></div>
  <div><a href="javascript:void(0);" ng-click="OpenPreviewModal('preview')">preview modal</a></div>
</div>

<script type="text/ng-template" id="stop-escalation-modal.html">
  <div class="modal-header">
    <div class="modal-title">stop escalation</div>
    <a href="javascript:void(0);" ng-click="cancel()"><i class="icon-cross"></i></a>
  </div>
  <div class="modal-body">
    <form class="form-body">
      <div>
        <strong>Page Name :</strong> Home page Login page
      </div>
      <textarea class="form-control comment-box" rows="3" placeholder="Enter reason"></textarea>
      <div class="row time-row">
        <div class="col-md-5 start-time">
          From <span>10:00</span>
        </div>
        <div class="col-md-2">
          To
        </div>
        <div class="col-md-5">
          <div uib-timepicker ng-model="mytime" class="end-time" arrowkeys="true" show-meridian="false"></div>
        </div>
      </div>
    </form>

    <div class="text-center">
      <button class="btn model-btn" type="button" ng-click="ok()">Confirm</button>
      <button class="btn btn-clear" type="button" ng-click="cancel()">Cancel</button>
    </div>
  </div>
</script>

<script type="text/ng-template" id="extend-escalation-modal.html">
  <div class="modal-header">
    <div class="modal-title">stop escalation</div>
    <a href="javascript:void(0);" ng-click="cancel()"><i class="icon-cross"></i></a>
  </div>
  <div class="modal-body">
    <div class="text-head">
      <span class="text-head-bold"><a href="javascript:void(0);" ng-click="cancel()">Cancel</a> this escalation</span>
      <p>or <br/>
        Extend</p>
    </div>

    <form class="form-body">
      <div>
        <strong>Page Name :</strong> Home page Login page
      </div>
      <textarea class="form-control comment-box" rows="3" placeholder="Enter reason"></textarea>
      <div class="row time-row">
        <div class="col-md-5 start-time">
          From <span>10:00</span>
        </div>
        <div class="col-md-2">
          To
        </div>
        <div class="col-md-5">
          <div uib-timepicker ng-model="mytime" class="end-time" arrowkeys="true" show-meridian="false"></div>
        </div>
      </div>
    </form>

    <div class="text-center">
      <button class="btn model-btn" type="button" ng-click="ok()">Confirm</button>
      <button class="btn btn-clear" type="button" ng-click="cancel()">Cancel</button>
    </div>
  </div>

</script>

<script type="text/ng-template" id="confirm-stop-modal.html">
  <div class="modal-header">
    <div class="modal-title">cancel escalation</div>
    <a href="javascript:void(0);" ng-click="cancel()"><i class="icon-cross"></i></a>
  </div>
  <div class="modal-body">
    <div class="text-head">
      <span class="text-head-bold">Do you really want to CANCEL the stopped escalation?</span>
    </div>

    <div class="text-center">
      <button class="btn model-btn" type="button" ng-click="ok()">Yes</button>
      <button class="btn btn-clear" type="button" ng-click="cancel()">No</button>
    </div>
  </div>
</script>

<script type="text/ng-template" id="alert-preview-modal.html">

  <div class="modal-body">
    <a href="javascript:void(0);" ng-click="cancel()"><i class="icon-cross"></i></a>
    <div class="row row-preview">
      <div class="col-md-3 col-preview">
        <div>
          <strong>Application</strong> <p>I digital</p>
        </div>
        <div>
          <strong>Transaction</strong> <p>Post login payment</p>
        </div>
        <div>
          <strong>Page </strong> <p>Home page Login page</p>
        </div>
      </div>
      <div class="col-md-9">
        <a href="javascript:void(0);"><img class="img-responsive" class="img-responsive"class="img-responsive" src="images/icici_i_digital_12.png" alt="preview"></a>
      </div>
    </div>
  </div>
</script>