<li>
    <input ng-click="checkNode(node)" id="{{node.id}}"  type="checkbox" ng-model="node.Selected"  ng-checked="node.checked">
     <label for="{{node.id}}">  {{ node.name }} </label>
    <span class="pull-right" ng-if="node.children.length>0"
           ng-click="toggleVisibility(node)"
           ng-class="(node.childrenVisibility && node.children.length) ? 'icon-circle-plus' : 'icon-circle-minus'">
     </span>
    <input type="hidden" id="transactionId" value="{{ node.id }}"/>
    <input type="hidden" id="pageId" value="{{ node.id }}"/>
     
</li>