
  
  
<div class="container-fluid" style="background: url(images/background.png) no-repeat;background-size:100% auto;" >

<div class="row" style="padding-top:10px;padding-left:50px;>
<div  style="padding-top:10px;padding-left:20px;"> 
   <span class="lead" style="color:red;align="center"><h4>{{ errorMessage }} </h4></span>
</div>
 <div class="col-sm-12">
 
 <h4><strong>Sign-up for 14 days free trial - no credit card requird.</strong></h4>

 
 <form name="userRegForm" ng-submit="submitForm()" novalidate>
 
  <!-- EMAIL -->
        <div class="form-group" ng-class="{ 'has-error' : userRegForm.email.$invalid && !userRegForm.email.$pristine }">
            <label>Your Work Email</label>
            <!-- <input type="text" name="email" class="form-control" width="100" ng-model="user.email">  -->
            <input type="email" name="email" class="form-control" width="100" ng-model="user.email" ng-pattern=" /^([\w-\.]+@(?!yahoo.com)(?!hotmail.com)([\w-]+\.)+[\w-]{2,4})?$/" required />
             <span style="color:red" ng-show="userRegForm.email.$dirty &&userRegForm.email.$invalid">
            <span  ng-show="userRegForm.email.$error.required">Email is required.</span>
  			<span  ng-show="userRegForm.email.$error.pattern">Invalid email address.</span>  
            
        </div>
         <div class="form-group" ng-class="{ 'has-error' : userRegForm.name.$invalid && !userRegForm.name.$pristine }">
        <label for="userName">Your name</label>
	       <input type="text" id="name" class="form-control" name="name" ng-model="user.name" ng-minlength="3" ng-maxlength="30" required  />
	        <span style="color:red" ng-show="userRegForm.name.$invalid && !userRegForm.name.$pristine">
	        <span  ng-show="userRegForm.name.$error.required">Name is required.</span>
	          <span ng-show="userRegForm.name.$error.minlength" class="help-block">name is too short.</p>
            <span ng-show="userRegForm.name.$error.maxlength" class="help-block">name is too long.</p>
	   	</div>
	   	
	   	 <div class="form-group" ng-class="{ 'has-error' : userRegForm.companyName.$invalid && !userRegForm.companyName.$pristine }">
        <label for="companyName">Company name</label>
	       <input type="text" id="companyName" class="form-control" name="companyName" ng-model="user.companyName" ng-minlength="3" ng-maxlength="30" required/>
	       <span style="color:red" ng-show="userRegForm.companyName.$invalid && !userRegForm.companyName.$pristine">
	        <span  ng-show="userRegForm.companyName.$error.required">Company Name is required.</span>
	          <span ng-show="userRegForm.companyName.$error.minlength" class="help-block">Company Name is too short.</p>
            <span ng-show="userRegForm.companyName.$error.maxlength" class="help-block">Company Name is too long.</p>
	       
	   	</div>
	   	<!-- 
	   	 <div class="form-group" ng-class="{ 'has-error' : userRegForm.companyWebsite.$invalid && !userRegForm.companyWebsite.$pristine }">
        <label for="companyWebsite">Company website</label>
	       <input type="text" id="companyWebsite" class="form-control" name="companyWebsite" ng-model="user.companyWebsite" ng-minlength="3" ng-maxlength="100" ng-pattern="/^(((ht|f){1}(tp:[/][/]){1})|((www.){1}))[-a-zA-Z0-9@:%_\+.~#?&//=]+$/" required  />
	      <span style="color:red" ng-show="userRegForm.companyWebsite.$invalid && !userRegForm.companyWebsite.$pristine">
	        <span  ng-show="userRegForm.companyWebsite.$error.required">Company Website is required.</span>
	          <span ng-show="userRegForm.companyWebsite.$error.minlength" class="help-block">Company website is too short.</p>
            <span ng-show="userRegForm.companyWebsite.$error.maxlength" class="help-block">Company website is too long.</p>
	        <span  ng-show="userRegForm.companyWebsite.$error.pattern">Invalid web site address.</span>
	   	</div>
	   	 -->
	   	
	   		 <div class="form-group">
	   		 <label for="country">Country Name</label><br>
			  <select ng-model="user.country">
			    <option value="">-- Select a Country --</option>
			    <option ng-repeat="country in countries" value="{{country.code}}">{{country.name}}</option>
			</select>
	   	</div>
	     
	      <div class="form-group" ng-class="{ 'has-error' : userRegForm.password.$invalid && !userRegForm.password.$pristine }">
           <label for="password">Password</label>
			    <input type="password" id="password" class="form-control" name="password" ng-model="user.password" ng-minlength="8" ng-maxlength="20" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" required  />
			   <span ng-show="userRegForm.password.$error.required && userRegForm.password.$dirty">required</span>
			   <span ng-show="!userRegForm.password.$error.required && (userRegForm.password.$error.minlength || userRegForm.password.$error.maxlength) && userRegForm.password.$dirty">Passwords must be between 8 and 20 characters.</span>
			   <span ng-show="!userRegForm.password.$error.required && !userRegForm.password.$error.minlength && !userRegForm.password.$error.maxlength && userRegForm.password.$error.pattern && userRegForm.password.$dirty">Must contain one lower &amp; uppercase letter, and one non-alpha character (a number or a symbol.)</span>  
	   	</div>
	   	
	   	
	   	
	   	 <div class="form-group" ng-class="{ 'has-error' : userRegForm.password_c.$invalid && !userRegForm.password_c.$pristine }">
           <label for="password_c">Confirm Password</label>
			    <input type="password" id="password_c" class="form-control" name="password_c" ng-model="user.password_c" ng-minlength="8" ng-maxlength="20" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" required  />
			   <span ng-show="userRegForm.password_c.$error.required && userRegForm.password_c.$dirty">required</span>
			   <span ng-show="!userRegForm.password_c.$error.required && (userRegForm_c.password.$error.minlength || userRegForm.password_c.$error.maxlength) && userRegForm.password_c.$dirty">Passwords must be between 8 and 20 characters.</span>
			    <span ng-show="!userRegForm.password_c.$error.required && userRegForm.password_c.$error.noMatch && userRegForm.password.$dirty">Passwords do not match.</span>
	   	</div>
	   	
	   	<!-- 
	   	 <div class="form-group" ng-class="{ 'has-error' : userRegForm.password_c.$invalid && !userRegForm.password_c.$pristine }">
         <label for="password_c">Confirm Password</label>
       <input type="password" id="password_c"  class="form-control"  name="password_c" ng-model="user.password_c" valid-password-c required  />
  		 <span ng-show="userRegForm.password_c.$error.required && userRegForm.password_c.$dirty">Please confirm your password.</span>
  	 <span ng-show="!userRegForm.password_c.$error.required && userRegForm.password_c.$error.noMatch && userRegForm.password.$dirty">Passwords do not match.</span>
     
	   	</div>	
        -->
       
	 
	   	
	   	 
        <div class="col-md-12 text-center">
         <button type="submit" class="btn btn1" ng-disabled="userRegForm.$invalid">
         
        <span ng-show="loading"><i class="glyphicon glyphicon-refresh spinning"></i></span>
        <small> Register</small>
       </button>
       </div>

 
 </form>
 

 

</div>


</div>
</div>
    
