<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Meta-Information -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="description" content="QualityKiosk" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>CXGuardian Application</title>

  <!-- Bootstrap -->
  <link href="assets/css/default.css" rel="stylesheet" />
   <link rel="stylesheet" href="css/angularjs-datetime-picker.css" />

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- NEW SCRIPTS-->

  <!-- #NEW SCRIPTS-->



<!--OLD SCRIPTS-->

  <script type="text/javascript" src="js/jquery.min.js"></script>

   <script type="text/javascript" src="js/angular.min.js"></script>
  <script type="text/javascript" src="assets/js/ui-bootstrap-tpls-2.0.0.min.js"></script>
  <!--  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script> -->
  <script type="text/javascript" src="js/angular-route.min.js"></script>

  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/angular.ng-modules.js"></script>

  <script type="text/javascript" src="assets/js/highcharts.js"></script>
  <script type="text/javascript" src="assets/js/highcharts-more.js"></script>
  <script type="text/javascript" src="assets/js/solid-gauge.js"></script>


  <script type="text/javascript" src="assets/js/highcharts-ng.min.js"></script>

  <!--<script type="text/javascript" src="/fusioncharts/js/fusioncharts.js"></script>-->
  <!--<script type="text/javascript" src="/fusioncharts/js/fusioncharts.charts.js"></script>-->
  <!--<script type="text/javascript" src="/fusioncharts/js/angular-fusioncharts.min.js"></script>-->

  <!--  JQuery circle chart -->



  <script src="js/main.js"></script>
  <script src="js/moment.js"></script>
  <script src="js/ng-country-select.js"></script>
  <script src="js/angular-scrollable-table.js"></script>


</head>

<body ng-app="cxGuardianWebApp" ng-class="{'no-scroll': loader}">


<!-- Our Website Content Goes Here -->
<header id="page-header" class="navbar-fixed-top" ng-include='"templates/header.html"' ng-if="location.path() !== '/login' "></header>
<section id="page-content" class="container-fluid" ng-view></section>

<!--
<footer ng-include='"templates/footer.html"'></footer>
 -->


<script src="js/controller/RegistrationController.js"></script>
<script src="js/controller/SignupController.js"></script>
<script src="js/controller/LoginController.js"></script>
<script src="js/controller/LogoutController.js"></script>
<script src="js/controller/headerController.js"></script>
<script src="js/controller/DashboardController.js"></script>
<script src="js/controller/DrilldownController.js"></script>
<script src="js/controller/TreeController.js"></script>
<script src="js/controller/MyactionController.js"></script>
<script src="js/controller/AddapplicationController.js"></script>

<script src="js/factory/RestApiFactory.js"></script>
<script src="js/services/Services.js"></script>
<script src="js/angularjs-datetime-picker.js"></script>

<div class="page-loader" ng-if="loader"><img src="assets/images/page-loader.gif" style="padding-bottom:5px;"><br/>Loading..</div>
<div class="modal-backdrop fade" ng-class="{'in': loader}" ng-if="loader"> </div>
</body>
</html>
