<!doctype.html>
<html lang="en" ng-app="app" ng-controller="myCtrl">
<head>
 <meta charset="UTF-8">
 <title>Document</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
   <script src="js/jquery.circliful.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  
 </head>
 <body>

 <section class="container">
 <div class="row">
 <div ng-repeat="type in applications">
 
  <div class="col-lg-2">
      <circful value="type.available1HR">
   </div>
   
    <div class="col-lg-2">
      <circful value="type.available24HR">
   </div>
   
 
 </div>
 </div>
 </section>
 
 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>


 
 <script>
 var app = angular.module("app",[]);
 
 
  
 var myTemplate = '<div data-text="{{$scope.value}}"></div>';
 var percentage = {};
 
app.directive('circful', function() {
    return {
      scope:{
         value : '='
      },
      restrict: 'E',
      template: myTemplate,
      link : function(scope,element){
        percentage.animationStep = 5;
        percentage.foregroundColor = '#ff6600';
        percentage.backgroundColor = '#eceaeb';
        percentage.fontColor = '#2A3440';
        percentage.foregroundBorderWidth = 15;
        percentage.backgroundBorderWidth = 15;
        percentage.pointSize = 100;
        percentage.percent = scope.value;
        element.circliful(percentage);
      }
    };
  });
 
  app.controller('myCtrl', function($scope) {
     
      $scope.types = [
        {value:"30"},
        {value:"50"},
        {value:"60"},
        {value:"80"}
    ]
	
	$scope.applications = [];
	
	var applicationData = {};
	
	 var circleData1HR = {
 	   		    	 	    "available1HR": "50"
 	   		    	 	  }
		$.extend(applicationData,circleData1HR);				  
	var circleData24HR = {
	   		    	 	    "available24HR": "60"
	   		    	 	  }
	  $.extend(applicationData,circleData24HR);
	  
	  console.log("applicationData==="+applicationData);
	  $scope.applications.push(applicationData);
	  
	  
	  
	
	 
	
    
});

 
  
 </script>
 </body>
 </html>