$font_path: '../fonts/';

@font-face {
 font-family: 'Lato Bold';
 src: url('#{$font_path}lato-bold-webfont.eot');
 src: url('#{$font_path}lato-bold-webfont.eot?#iefix') format('embedded-opentype'),
 url('#{$font_path}lato-bold-webfont.woff2') format('woff2'),
 url('#{$font_path}lato-bold-webfont.woff') format('woff'),
 url('#{$font_path}lato-bold-webfont.ttf') format('truetype'),
 url('#{$font_path}lato-bold-webfont.svg#latobold') format('svg');
 font-weight: normal;
 font-style: normal;

}


@font-face {
 font-family: 'Lato Medium';
 src: url('#{$font_path}lato-medium-webfont.eot');
 src: url('#{$font_path}lato-medium-webfont.eot?#iefix') format('embedded-opentype'),
 url('#{$font_path}lato-medium-webfont.woff2') format('woff2'),
 url('#{$font_path}lato-medium-webfont.woff') format('woff'),
 url('#{$font_path}lato-medium-webfont.ttf') format('truetype'),
 url('#{$font_path}lato-medium-webfont.svg#latomedium') format('svg');
 font-weight: normal;
 font-style: normal;

}


@font-face {
 font-family: 'Lato Semibold';
 src: url('#{$font_path}lato-semibold-webfont.eot');
 src: url('#{$font_path}lato-semibold-webfont.eot?#iefix') format('embedded-opentype'),
 url('#{$font_path}lato-semibold-webfont.woff2') format('woff2'),
 url('#{$font_path}lato-semibold-webfont.woff') format('woff'),
 url('#{$font_path}lato-semibold-webfont.ttf') format('truetype'),
 url('#{$font_path}lato-semibold-webfont.svg#latosemibold') format('svg');
 font-weight: normal;
 font-style: normal;

}


@font-face {
 font-family: 'Lato Light';
 src: url('#{$font_path}lato-light-webfont.eot');
 src: url('#{$font_path}lato-light-webfont.eot?#iefix') format('embedded-opentype'),
 url('#{$font_path}lato-light-webfont.woff2') format('woff2'),
 url('#{$font_path}lato-light-webfont.woff') format('woff'),
 url('#{$font_path}lato-light-webfont.ttf') format('truetype'),
 url('#{$font_path}lato-light-webfont.svg#latolight') format('svg');
 font-weight: normal;
 font-style: normal;

}


@font-face {
 font-family: 'Lato Regular';
 src: url('#{$font_path}lato-regular-webfont.eot');
 src: url('#{$font_path}lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
 url('#{$font_path}lato-regular-webfont.woff2') format('woff2'),
 url('#{$font_path}lato-regular-webfont.woff') format('woff'),
 url('#{$font_path}lato-regular-webfont.ttf') format('truetype'),
 url('#{$font_path}lato-regular-webfont.svg#latoregular') format('svg');
 font-weight: normal;
 font-style: normal;

}
/// QualityKiosk custom icons

@font-face {
 font-family: 'qk-icons';
 src:    url('#{$font_path}qk-icons.eot?lf5qyb');
 src:    url('#{$font_path}qk-icons.eot?lf5qyb#iefix') format('embedded-opentype'),
 url('#{$font_path}qk-icons.ttf?lf5qyb') format('truetype'),
 url('#{$font_path}qk-icons.woff?lf5qyb') format('woff'),
 url('#{$font_path}qk-icons.svg?lf5qyb#qk-icons') format('svg');
 font-weight: normal;
 font-style: normal;
}

[class^="icon-"], [class*=" icon-"], .glyphicon {
 /* use !important to prevent issues with browser extensions that change fonts */
 font-family: 'qk-icons' !important;
 speak: none;
 font-style: normal;
 font-weight: normal;
 font-variant: normal;
 text-transform: none;
 line-height: 1;

 /* Better Font Rendering =========== */
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}

.icon-face-sad-1:before {
 content: "\e926";
}
.icon-face-sad:before {
 content: "\e91f";
}
.icon-del-round:before {
 content: "\e923";
}
.icon-female:before {
 content: "\e924";
}
.icon-male:before {
 content: "\e925";
}
.icon-bright:before {
 content: "\e91e";
}
.icon-globe:before {
 content: "\e91d";
}
.icon-app:before {
 content: "\e91c";
}
.icon-globe-lock:before {
 content: "\e91b";
}
.icon-graph-bar:before {
 content: "\e91a";
}
.icon-firefox:before {
 content: "\e920";
}
.icon-chrome:before {
 content: "\e921";
}
.icon-iexplorer:before {
 content: "\e922";
}
.icon-alert:before {
 content: "\e900";
}
.icon-bell:before {
 content: "\e901";
}
.icon-check:before {
 content: "\e902";
}
.icon-graph:before {
 content: "\e903";
}
.icon-help:before {
 content: "\e904";
}
.icon-home:before {
 content: "\e905";
}
.icon-refresh:before {
 content: "\e906";
}
.icon-chevron-left:before {
 content: "\f053";
}
.icon-chevron-right:before {
 content: "\f054";
}
.icon-chevron-up:before {
 content: "\f077";
}
.icon-chevron-down:before {
 content: "\f078";
}
.icon-angle-left:before {
 content: "\f104";
}
.icon-angle-right:before {
 content: "\f105";
}
.icon-angle-up:before {
 content: "\f106";
}
.icon-angle-down:before {
 content: "\f107";
}
.icon-bars:before {
 content: "\f0c9";
}
.icon-plus:before {
 content: "\e114";
}
.icon-check2:before {
 content: "\e116";
}
.icon-cross:before {
 content: "\e117";
}
.icon-minus:before {
 content: "\e115";
}
.icon-user:before {
 content: "\e907";
}
.icon-user-profile:before {
 content: "\e908";
}
.icon-user-setting:before {
 content: "\e909";
}
.icon-power:before {
 content: "\e90a";
}
.icon-lock:before {
 content: "\e90b";
}
.icon-sort-arrow:before {
 content: "\e90c";
}
.icon-outbox:before {
 content: "\e90d";
}
.icon-file-export:before {
 content: "\e90e";
}
.icon-circle-minus:before {
 content: "\e90f";
}
.icon-circle-plus:before {
 content: "\e910";
}
.glyphicon-chevron-up:before{
 content: "\f106";
}
.glyphicon-chevron-down:before{
 content: "\f107";
}
.icon-edit:before {
 content: "\e911";
}
.icon-calendar:before {
 content: "\e912";
}
.icon-sort-arrow-up:before {
 content: "\e913";
}
.icon-sort-arrow-up-dashed:before {
 content: "\e914";
}
.icon-sort-arrow-down:before {
 content: "\e915";
}
.icon-sort-arrow-down-dashed:before {
 content: "\e916";
}
.icon-sort-default:before {
 content: "\e917";
}
.icon-sort-desc:before {
 content: "\e918";
}
.icon-sort-asc:before {
 content: "\e919";
}