.content-wrapper {
  padding-top: 20px;

  .well-wrapper {
    background-color: white;
    @include box-shadow(1.6px 1.3px 7px 0 rgba(0, 0, 0, 0.39));
    border-radius: 5px;
  }
}

.icon-graph-bar {
  opacity: 0.5;
}

.ad-wrap {
  padding: 20px 0 45px 0;
  max-width: 305px;
  img {
    width: 100%;
  }
}
// Custom Checkbox scss
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  width: 15px;
  height: 15px;
  border-color: $clr-blue2;
}
[type="checkbox"]:checked + label:after {
  font-family: 'qk-icons' !important;
  content: "\e902";
  font-size: 16px;
  color: $clr-green-drk2;
  left: 2px;
}

fieldset {
  &[disabled] {
    background-color: transparent!important;

    .btn,.input-group-addon {
      background-color: #eee;
      opacity: 1;
      pointer-events: none;
    }
  }
}



.btn-group {
  position: relative;

  &.single {
    width: 100%;
    .btn {
      float: none;
      width: 100%;
    }
  }
  .dropdown-toggle {
    position: relative;
    padding-right: 30px;
  }
  .caret {
    position: absolute;
    right: 20px;
    top: 3px;
    border: none;
    font-size: 20px;

  }
  .btn {
    text-align: left;
    &:hover,&:focus,&:active,&:active:hover {
      background-color: #fff;
      border-color: $clr-gray7;
      @include box-shadow(none);
    }
  }


  &.open {
    .btn.dropdown-toggle {
      background-color: #fff;
      border-color: $clr-gray7;
    }
  }
  .dropdown-menu {
    width: 100%;
    min-width: 100%;
    max-height: 200px;
    overflow: auto;

    .checkbox {
      padding: 5px 12px;
      //height: 22px;
      margin: 0;
      border-bottom: 1px solid $clr-gray7;
      label {
        display: block;
        font-size: 13px;
        color: #7f7f7f;
      }
    }

  }

  &.small {
    .dropdown-toggle {
      height: 25px;
      font-size: 13px;
      padding-left: 12px;
      padding-top: 0;
      padding-bottom: 0;
    }
    .caret {
      top: 1px;
      font-size: 18px;
    }
  }
}

label {
  font-size: 16px;
  color: #000000;
}

.form-control {
  @include border-radius(5px);
  border-color: $clr-gray7;
  height: 33px;
  color: #000;
  @include placeholder($clr-5c5c);
}

.title-16,.label-title {
  font-size: 16px;
}

.label-title {
  margin-bottom: 5px;
}

.panel {
  &.panel-default {
    border-color: $clr-gray7;

    > .panel-heading {
      border-color: $clr-gray7;
      background-color: transparent;
      font-size: 16px;
      color: #000;
    }
  }
}

.input-group {
  .input-group-addon {
    @include border-left-radius(5px);
    background-color: transparent;

    i {
      font-size: 18px;
    }
  }
  .form-control {
    &[readonly] {
      background-color: #fff;
    }
    &:focus, &:active {
      outline: none;
      @include box-shadow(none);
    }
  }
  &.has-flag-addon {
    .input-group-addon {
      padding-right: 0;
      border-color: $clr-gray7;
      padding-left: 5px;
      img {
        margin-right: 5px;
      }
    }
    .form-control {
      border-left: none;

      &:focus, &:active {
        outline: none;
        border-color: $clr-gray7;
        @include box-shadow(none);
      }
    }
  }

  &.dual-addons {
    .input-group-addon {
      padding-left: 5px;
      padding-right: 5px;
    }
    &.select-gender {

    }
  }
}

.custom-input-group {
    position: relative;

    //less than = to 767
    @media (max-width: $screen-xs-max) {
      margin-bottom: 10px;
    }

    &[uib-btn-checkbox] {
      .form-control {
        display: block !important;
      }
    }

  .check {
    display: none;
    position: absolute;
    right: -2px;
    top: -2px;
    z-index: 9;
    width: 12px;
    height: 12px;
    text-align: center;
    @include border-radius(50%);
    background-color: $clr-green-drk1;
    color: #fff;
    line-height: 12px;
    font-size: 10px;
  }

    &.active {
      .form-control, .input-group-addon {
        border-color: $clr-green-drk1;
        color: $clr-green-drk1 !important;
      }
      .input-group-addon {
        i:before {
          color: $clr-green-drk1;
        }
      }
      .check {
        display: block;
      }
    }

}

.label-custom {
  display: inline-block;
  background-color: #fff;
  border: 1px solid #bdbdbd;
  color: #000;
  @include border-radius(9px);
  height: 28px;
  line-height: 20px;
  font-size: 14px;
  position: relative;
  padding: 4px 14px;
  margin-right: 20px;
  min-width: 75px;
  font-weight: normal;

  .delete {
    position: absolute;
    right: -2px;
    top: -2px;
    width: 12px;
    height: 12px;
    @include border-radius(50%);
    background-color: red;
    color: #fff;
    line-height: 12px;
    font-size: 10px;
    font-family: 'Lato Bold';
  }

  &.small {
    height: 22px;
    margin-right: 10px;
    min-width: 1px;
    line-height: 12px;
    padding: 4px 8px;
    margin-bottom: 10px;
  }
}

.ck-button {
  position: relative;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  margin-right: 10px;
  width: 100%;

  label {
    display: block;
    margin: 0;
    font-family: 'Lato Bold';
    color: #000;
    height: 34px;
    font-size: 14px;

    span {
      text-align:center;
      display:inline-block;
      position: relative;
      line-height: 34px;
      padding: 0 45px;
      @include border-radius(4px);
      background-color:#eaeaea;
      cursor: pointer;
      width: 100%;

      //less than = to 767
      @media (max-width: $screen-xs-max) {
        padding: 0 20px;
      }

      //less than = to 991
      @media (max-width: $screen-sm-max) {

      }

      //less than = to 1199
      @media (max-width: $screen-md-max) {

      }

      i {
        display: inline-block;
        width: 10px;
        height: 10px;
        @include border-radius(50%);
        border: 1px solid #888888;
        margin-right: 5px;
        position: relative;
      }
    }

    input {
      display: none;

      &:checked + span {
        background-color:$clr-green;
        color:#fff;
      }
      &:checked + span i {
        background-color:transparent;
        border: none;

        &:before {
          position: absolute;
          left: 0;
          font-size: 10px;
          font-family: 'qk-icons';
          content: "\e116";
          line-height: 10px;
        }
      }
    }

  }
}

.btn {
  &.btn-orange {
    background-color: $clr-e96;
    color: #fff;
  }
  &.btn-lg {
    padding-left: 45px;
    padding-right: 45px;
  }
  &.btn-outlined {
    &.btn-green {
      border-color: $clr-16c;
      color: $clr-16c;
    }
  }
}

//global end

.milestone-steps {
  margin-bottom: 66px;

  //less than = to 767
  @media (max-width: $screen-xs-max) {
    margin-bottom: 30px;
  }

  .steps-line {
    @include flexbox();
    @include flex-direction(row);
    @include flex-wrap(nowrap);
    @include align-items(center);

    width: 470px;
    margin: 0 auto;
    position: relative;

    //less than = to 767
    @media (max-width: $screen-xs-max) {
      width: 100%;
    }

    //less than = to 413 - iphone6
    //@media (max-width: 375px) {
    //  width: 100%;
    //}

    &:before,.steps-progress {
      position: absolute;
      z-index: 1;
      top: 50%;
      content: '';
      height: 4px;
      width: 100%;
      background-color: $clr-gray6;

      //less than = to 767
      @media (max-width: $screen-xs-max) {
        top: 13px;
      }

    }

    .steps-progress {
      background-color: $clr-green;
    }

    .step {
      @include flex-grow(1);
      @include flexbox();
      @include flex-direction(column);
      width: 33.33%;
      padding-top: 26px;

      //less than = to 767
      @media (max-width: $screen-xs-max) {
        padding-top: 0;
      }

      > * {
        @include flex-grow(1);
      }

      span {
        width: 26px;
        max-width: 26px;
        height: 26px;
        position: relative;
        z-index: 11;
        display: block;
        text-align: center;
        max-height: 26px;
        @include border-radius(50%);
        background-color: $clr-green;
        border: 1px solid $clr-gray6;
        font-family: 'Lato Bold';
        font-size: 18px;
        line-height: 24px;
        color: #fff;
      }

      .step-label {
        font-size: 12px;
        color: $clr-5454;
        padding-top: 5px;

        //less than = to 767
        @media (max-width: $screen-xs-max) {
          font-size: 10px;
          text-align: center;
          line-height: 20px;
        }

        //less than = to 375 - iphone6
        @media (max-width: 375px) {
          width: 67%;
          margin: 0 auto;
        }

        //less than = to 320 - iphone5
        @media (max-width: 320px) {
          width: 75%;
        }

        i {
          font-size: 11px;
        }

      }

      &.active {
        span {
          border: 1px solid $clr-green-drk;
        }
        .step-label {
          font-size: 14px;
          color: #1b1b1b;
          font-family: 'Lato Bold';

          //less than = to 767
          @media (max-width: $screen-xs-max) {
            font-size: 10px;
          }
        }
      }

      &.one {
        .step-label {
          margin-left: -35%;

          //less than = to 767
          @media (max-width: $screen-xs-max) {
            margin-left: 0;
            text-align: left;
          }
        }
      }
      &.two {
        @include align-items(center);
      }
      &.three {
        @include align-items(flex-end);

        .step-label {
          margin-right: -35%;

          //less than = to 767
          @media (max-width: $screen-xs-max) {
            margin-right: 0;
            text-align: right;
          }
        }
      }
    }
  }
}

#addApp {
  h1 {
    color: $clr-6c6c;
    margin-top: 0;
    margin-bottom: 23px;
  }
  h4 {
    font-size: 14px;
  }

  .title-16 {
    margin: 25px 0;
    color: $clr-6c6c;
  }
  input,select {
    color: #000;
    font-size: 14px;
  }

  label + small {
    font-size: 13px;
    color: $clr-5c5c;
    margin-left: 20px;

    //less than = to 767
    @media (max-width: $screen-xs-max) {
      display: block;
      margin-left: 0;
      margin-bottom: 10px;
    }

  }
  .form-group-wrap {
    margin-bottom: 36px;
  }
  .mb-10 {
    margin-bottom: 10px;
  }
  .monitor-day-time {
    .form-control {
      @include flexbox();
      @include flex-wrap(nowrap);

      * {
        @include flex-grow(1);
      }
    }
    a {
      text-align: right;
    }
  }
  .user-locations {
    //less than = to 767
    @media (max-width: $screen-xs-max) {
      padding-top: 10px;
    }

    .label-custom {
      //less than = to 767
      @media (max-width: $screen-xs-max) {
        margin-bottom: 10px;
        margin-right: 10px;
      }
    }
  }
  .btn-continue {
    margin-top: 43px;
  }
}

.field-days-time {
  .edit-mode {
    @include flexbox();
    @include flex-direction(row);
    @include flex-wrap(wrap);
    margin-bottom: 20px;

    .location,.btn-wrap {
      @include flex-grow(1);
    }
    .location {
      max-width: 33.40%;

      //less than = to 767
      @media (max-width: $screen-xs-max) {
        width: 100%;
        max-width: 100%;
      }

    }
    .btn-wrap {
      width: 100%;
      border: 1px solid $clr-gray7;
      border-top: none;
      padding: 15px;
      text-align: center;
    }
    .panel {
      @include border-radius(0);
      margin: 0;
      margin-left: -1px;

      &:first-child {
        margin-left: 0;
      }

      //less than = to 767
      @media (max-width: $screen-xs-max) {
        margin-left: 0;
      }


      .panel-heading,.panel-body {
        padding: 12px;
      }

      .form-group {
        margin-bottom: 10px!important;
      }

      .selected-days {
        margin-bottom: 23px;
      }

      .dropdown-menu {
        padding: 0;
        @include border-radius(0);
        a {
          padding: 5px;
          border-top: 1px solid $clr-gray7;
          font-size: 13px;
          color: #7f7f7f;

          &:hover {
            background-color: #e8eff1;
          }
        }
      }

    }

    &.updated-mode {
      .panel-body {
        padding: 0;
      }
      .block {
        .title {
          padding: 5px 12px;
          color: $clr-5c5c;
          background-color: $clr-light-blue;
        }
        .criteria {
          padding: 5px 12px 20px 12px;
        }
        &.for-time {
          span {
            margin-right: 10px;
          }
        }
      }
    }

  }


}

.smiley-level {
  padding-left: 40px;
  position: relative;
  font-size: 13px;
  color: blue;
  min-height: 40px;
  padding-bottom: 30px;

  //less than = to 768
  @media (max-width: $screen-sm-max) {
    padding-bottom: 10px;

  }

  .face {
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
    height: 30px;
    @include border-radius(50%);
    color: #000;
    font-size: 20px;
    text-align: center;
    //border: 1px solid #000;

    i {
      line-height: 30px;
    }

  }

  &.one {
    .face {
      background-color: #e9ba00;
    }
  }
  &.two {
    .face {
      background-color: #ff7e00;
    }
  }
  &.three {
    .face {
      background-color: #ff1503;
    }
    &:before {
      display: none;
    }
  }

}

.excalation-matrix {
  > .row {
    @include flexbox();
    @include flex-direction(row);
    @include flex-wrap(nowrap);
    position: relative;

    &:before {
      display: block;
      position: absolute;
      content: '';
      left: 19px;
      height: 100%;
      width: 2px;
      border-left: 2px dashed #000;
    }

    //less than = to 768
    @media (max-width: $screen-sm-max) {
      @include flex-wrap(wrap);
    }

    &:last-child {
      &:before {
        display: none;

        //less than = to 768
        @media (max-width: $screen-sm-max) {
          display: block;
        }
      }
    }

    > div {
      @include flexbox();
      @include flex-grow(1);
      @include flex-wrap(wrap);
    }
  }
  .form-group, .form-control {
    width: 100%;
  }
  .fields-right {

    //less than = to 768
    @media (max-width: $screen-sm-max) {
      padding-left: 35px;
    }

    > .row {
      padding-right: 30px;
      position: relative;
    }
  }
  .del-row {
    position: absolute;
    right: 10px;
    top: 8px;
    z-index: 99;
  }

  .btn-done {
    margin-right: 8px;
    margin-bottom: 20px;
  }


}
