.row-action{
 position: fixed;
 top: 80px;
 left: 0;
 right: 0;
 height: 50px;
 padding: 11px 25px;
 background-color: $body-bg;
 z-index: 1029;

 strong{
  font-family: $font-medium;
  font-size: 16px;
  font-weight: normal;
  color: #000000;
  text-transform: uppercase;
  //line-height: 32px;
 }

  @media (max-width: $screen-xs-max) {
    height: 100px !important;
  }
}
.box-actionbtn{
  position: relative;
  @media (max-width: $screen-sm-max) {
    top:-20px;
  }
  @media (max-width: $screen-xs-max) {
   float: none !important;
    padding: 4px 0;
    text-align: left;
    top:0;
    .btn-qk{
      margin: 0;
    }
  }

  .btn-qk{
    margin-left: 17px;
  }
}
.float-action{
 padding-top: 50px;

  @media (max-width: $screen-xs-max) {
    padding-top: 100px !important;
  }
}


.row-apps{
 background-color: #e4e4e4;
 padding: 12px;
 border-bottom: 10px solid #FFF;
  .panel, .well{
    margin-bottom: 0;
    height: 100%;
    @media (max-width: $screen-sm-max) {
      margin-bottom: 4px;
    }
  }
 &:last-child{
  border-bottom: 0 none;
 }
}
.panel-qk{
  .panel-heading{
    padding-bottom: 0;
    font-family: $font-semibold;
    font-size: 17px;
    font-weight: normal;
    color: #000000;
    text-transform: uppercase;
  }
  .panel-body{

  }
}

.box-circlechart{
  max-height: 145px;
  text{
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 100 !important;
  }
}
.box-linechart{
  max-height: 260px;
  margin-left: -15px;
  margin-right: -15px;
}
.chart-labels{
  position: relative;
  height: 10px;
  @media (max-width: $screen-sm-max) {
    height: 30px;
  }
  .first{
    position: absolute;
    top:-15px;
    left:0;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 14px;
  }
  .second{
    position: absolute;
    right: 0;
    top:-30px;
    text-align: right;
    font-family: $font-regular;
    font-size: 14px;
    strong{
      font-weight: normal;
      font-family: $font-semibold;
      color: #136b82;
      font-size: 24px;
    }
    span{
      color: #373737;
      font-family: $font-semibold;
      font-size: 18px;
      font-weight: normal;
    }
    @media (max-width: $screen-sm-max) {
      top: 0;
    }
  }
}
.chart-alert{
  font-family: $font-semibold;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.list-val{
  list-style: none;
  padding: 0;
  margin: 0;

  > li {
    position: relative;
    line-height: 28px;
    font-size: 14px;
    font-family:  Helvetica, Arial, sans-serif;
    font-weight: 100;
    >small{
      font-size: 18px;
      line-height: 28px;
    }
    &:before{
      content: '\2022';
      margin-right: 10px;
      font-size: 18px;
      line-height: 28px;
      color: #bc0c0c;
    }
    margin: 0;
    padding: 0 ;

    span{
      float: right;
      display: inline-block;
      text-align: center;
      min-width: 80px;
      font-size: 24px;
      line-height: 28px;
      font-family: Arial, sans-serif;
      &.red{
        color: #bc0c0c;
      }
    }
  }
  &.list-unstyled{
    > li:before{display: none}
  }
}
.well-tumbnail{
  text-align: center;
  img{

    display: block;
    margin: 0 auto;
  }
  h3{
    font-weight: normal;
    font-size: 24px;
    font-family: $font-regular;

  }
  p{
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 14px;
    span{
      font-size: 18px;
    }
  }
}