.lbl-app{
  font-size: 20px;
  font-family: $font-regular;
  line-height: 30px;
  border-right: 1px solid #999999;

  > a{
    font-size: 12px;
    position: relative;
    top: -10px;
  }
}
.nav-custom{

  &.nav-pills > li{
    margin-right: 20px;
    > a{
      text-transform: uppercase;
      font-family:  Helvetica, Arial, sans-serif;
      font-size: 15px;
      line-height: 15px;
      color: #707070;
      border: 1px solid transparent;
      padding: 5px 15px;
      @include border-radius(24px);
      &:hover, &:focus{
        color: #707070;
        border: 1px solid #136b82;
      }
    }
    &.active{
      > a{
        background: #FFF;
        border: 1px solid #136b82;
        &:hover, &:focus{
          background: #FFF;
          border: 1px solid #136b82;
        }
      }

    }
    &:last-child{
      margin-right: 0;
    }
  }

}
.left-pane-header{
  margin: 0 20px;
  border-bottom: 1px solid #93acb1;
  @include clearfix();
  padding-bottom: 6px;
}

.btn-group-custom{

  &.btn-group > .btn{
    font-family:  Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 13px;

    border: 1px solid #136b82;
    @include border-radius(9px);
    padding: 5px 15px;

    &.active{
      background: #136b82;
      color: #FFF;
    }
  }
}
.section-box{
  margin-bottom: 24px;
  .well{
    margin-bottom: 6px;
    @include border-radius(6px);
  }
}

.tree-content{
  padding: 15px;
  overflow-x: auto;
  position: fixed;
  top: 132px;
  bottom: 0;
  width: 320px;
  strong{
    font-size: 20px;
    font-family: $font-regular;
    line-height: 30px;
    font-weight: normal;
  }

ul.parent{
  li{
    .icon-circle-plus,.icon-circle-minus{
      font-size: 18px;
      cursor: pointer;
    }
  }
}
  ul.parent{
    padding: 0;
    margin: 0;
    list-style: none;
    > li {
      font-size: 16px;
      position: relative;
      > ul{
        list-style: none;
        padding: 25px 0 0 0;
        margin: 0;

        > li {
          margin-bottom: 25px;
          position: relative;
          > ul{
            list-style: none;
            margin: 0;
            padding-top: 25px;
            padding-left: 0;
            border-left: 1px dashed #4d5968;
            >li{
              margin-bottom: 25px;
              padding-left: 18px;
              position: relative;
              &:before{
                content: '';
                position: absolute;
                border-bottom: 1px dashed #4d5968;
                width: 16px;
                left: 0;
                top: 11px;
              }
              >ul{
                list-style: none;
                margin: 0;
                padding-top: 25px;
                padding-left: 0;
                border-left: 1px dashed #4d5968;
                >li{
                  margin-bottom: 12px;
                  padding-left: 18px;
                  position: relative;
                  &:before{
                    content: '';
                    position: absolute;
                    border-bottom: 1px dashed #4d5968;
                    width: 16px;
                    left: 0;
                    top: 11px;
                  }
                }
              }

            }
          }
        }
      }
    }

  }

}

.table-qk1{
  margin-bottom: 0;
  &.table > thead > tr > th{
    border-bottom: 1px solid #e0e0e0;
  }
}

.table-qk2{
  margin-bottom: 0;
  &.table{
    background-color: #eeeeee;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 100;
    > thead {
      > tr {
        > th{
          background-color: #d6e4e7;
          border-bottom: 0 none;
          font-weight: 100;
          border-bottom: 0 none;
          border-right: 1px solid #FFFFFF;
        }
      }
    }
     > tbody{
       > tr{
         > td{
           padding: 4px;
           line-height: 1.1;
           vertical-align: top;
           border-top: 0 none;
           border-right: 1px solid #FFFFFF;

         }
       }
     }
  }
}
.box-coloumnchart{
  width: 65%;
  height: 280px;
}

.date-box{
  position: relative;
  @include clearfix();
  float: left;
  font-family:  Helvetica, Arial, sans-serif;
  color: #1f2a3d;
  margin-left: 8px;
  margin-right: 8px;
  > span {
    position: absolute;
    font-size: 10px;
    left:6px;
    top:0;
    z-index: 9;
  }
  .day{
    background: #d6e4e7;
    float: left;
    padding: 12px 16px 2px 6px;
    font-size: 10px;
    line-height: 18px;
    >span{
      font-size: 20px;
      line-height: 18px;
    }
  }
  .time{
      float: left;
      display: inline-block;
      border: 1px solid #cccccc;
      background: #FFF;
      line-height: 32px;
      padding: 0 10px;
   }
  .icon-calendar{
    font-size: 22px;
    line-height: 34px;
    color: #c7c7c7;
    padding: 0 4px;
    cursor: pointer;
  }
}
.lbl-per{
  color: #757575;
  font-size: 14px;
  padding-left: 20px;

  > strong{
    color: #09a4d9;
    font-size: 24px;
    font-family: $font-semibold;
    font-weight: normal;
  }
  >span {
    font-size: 17px;
    color: #09a4d9;
    font-family: $font-semibold;
    font-weight: normal;
  }
}
.box-lineschart {
  min-height: 320px;
}