body {
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 80px;
}
a{
  &:hover, &:focus, &:visited{
    text-decoration: none;
  }
}

#page-header {
  @include box-shadow(0px 2px 5px 0px rgba(0, 0, 0, 0.14));
}
#page-content{
  //padding: 0 25px;
  position: relative;
}
.row-eq-height{
  @include flexbox();
  @media (max-width: $screen-xs-max) {
    display: block !important;
  }
}
.qk-navbar {
  min-height: 80px;
  background-color: #fff;
  padding: 0;
  border: none;
  margin: 0;

  > .container-fluid {
    padding: 0;

    .navbar-brand {
      margin: 8px 0 8px 20px;

      @media (max-width: $screen-xs-max) {
        margin-left: 10px;
      }
    }

    .navbar-header, .navbar-collapse{
      margin: 0;
    }
  }

  .navbar-brand {
    background: url('../images/logo_qualitykiosk.png') top center no-repeat;
    background-size: auto 100%;
    height: 64px;
    width: 200px;
    padding: 0;
  }

  .navbar-toggle{
    min-height: 80px;
    margin: 0;

    .icon-bars{
      font-size: 24px;
    }
  }
}

#qk-navbar{

  @media (max-width: $screen-xs-max) {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.qk-navbar-right {
  @include flexbox();
  min-height: 80px;
  margin: 0;

  @media (max-width: $screen-xs-max) {
    @include flex-flow(column);
  }

  > li {
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);

    > span{
      font-family: $font-helvetica;
      font-weight: 100;
      padding: 15px 10px;
    }

    > a {
      color: $clr-gray;
      padding: 0 15px;

      i {
        font-size: 24px;

        &.icon-outbox{
          font-size: 30px;
        }
      }

      &:hover, &:focus{
        background-color: transparent;
      }
    }

    &.notification{

      > a{
        position: relative;
        padding: 0 25px 0 5px;

        .badge{
          position: absolute;
          top: -4px;
          right: 18px;
          min-width: 22px;
          //height: 16px;
          background-color: $clr-red;
          font-family: $font-helvetica;
          font-weight: 100;
          color: #FFF;
          padding: 0;
          text-align: center;
          line-height: 16px;
        }
      }
    }

    &.profile-dropdown{

      > a{
        background-color: $clr-gray1;
        color: #000;
        @include flexbox();
        @include align-self(stretch);
        @include justify-content(center);
        @include align-items(center);
        @include flex(1);

        @media (max-width: $screen-xs-max) {
          height: 80px;
        }

        img{
          margin-right: 15px;

          @media (max-width: $screen-xs-max) {
            margin-right: 10px;
          }
        }

        span{

          @media (max-width: $screen-xs-max) {
            display:  none;
          }
        }

        .caret{
          margin-left: 5px;
          position: relative;
          top: 1px;
        }
      }
    }
  }

  .popover{
    @include border-radius(0);
    background-color: #f7f7f7;
    @include box-shadow(0 0 15px 0 rgba(88,95,97,0.67));
    border-color: rgba(88,95,97,0.2);
    margin-top: -15px;
    margin-left: -15px;

    &.bottom {

      > .arrow {
        margin-right: 25px;
        border-bottom-color: rgba(88,95,97,0.6);

        &:after {
          border-bottom-color: #f7f7f7;
        }
      }
    }
  }
}

.msg{
  font-family: $font-helvetica;
  font-size: 14px;
  font-weight: 100;
  color: #000000;
}

.btn-qk {
  position: relative;
  height: 28px;
  border-radius: 5px;
  background-image: linear-gradient(to bottom, $clr-light-orange, $clr-dark-orange);
  @include button-variant(#fff, $clr-dark-orange, $clr-light-orange);
  font-family: $font-helvetica;
  font-size: 15px;
  font-weight: 100;
  padding: 8px 44px 8px 9px;
  line-height: 10px;

  .right-icon{
    position: absolute;
    top:0;
    right: 0;
    padding: 5px 8px;
    border-radius: 0 5px 5px 0;
    background-color: #e65100;
  }
}

.btn-outlined{
  height: 25px;
  border-radius: 2px;
  border: 1px solid $clr-blue;
  color: $clr-blue;
  font-family: $font-helvetica;
  font-size: 15px;
  padding: 3px 23px;
  line-height: 10px;
  background-color: transparent;
}

.well-grey{
  background: #f3f3f3;
}
.well-white{
  background: #FFF;
}

.qk-dropdown{
  width:200px;

  a{
  color: $clr-gray2;

    &:hover, &:focus{
      text-decoration: none;
    }
  }

  img{
    display: block;
    margin: 5px auto;
  }

  .profile-img{
    display: block;
    font-size: 48px;
    text-align: center;
    border-radius: 50%;
    margin:5px 0;
  }

  .user-name{
    display: block;
    font-size: 18px;
    font-family: $font-helvetica;
    font-weight: 100;
    text-align: center;
    color: $clr-gray3;
  }

  p{
    font-size: 12px;
    text-align: center;
    font-family: $font-helvetica;
    font-weight: 100;
    display: block;
    margin-bottom: 22px;
    color: $clr-blue;
  }

  .qk-menu{
    padding-left: 45px;

    li{
      font-size: 14px;
      margin-bottom: 12px;
      font-family: $font-helvetica;
      font-weight: 100;

      i{
        font-size: 20px;
        margin-right: 10px;
        vertical-align: middle;
      }
    }
  }

  .btn-logout{
    display: block;
    font-size: 13px;
    width: 110px;
    color: white;
    margin: 22px auto;
    border: none;
    background-color: $clr-red;
    background-image: none;
    padding: 8px 38px 8px 9px;

    .right-icon{
      background-color:$clr-red1;
      line-height: 16px;
      padding: 6px 8px;
    }
  }
}

// Custom radio buttons scss

.radio {
  display: inline-block;
  margin-right: 15px;

  input[type="radio"] {
    display: none;
  }
  input[type="radio"] + label {
    padding: 0;
    font-family: $font-helvetica;
    font-weight: normal;
    font-size: 14px;
  }
  input[type="radio"] + label span {
    position: relative;
    display: inline-block;
    width: 14px;
    height: 14px;
    margin: 0 5px 0 0;
    vertical-align: middle;
    cursor: pointer;
    @include border-radius(50%);
    border: 1px solid $clr-gray2;
    @include box-shadow(inset 0 0 2px 0 rgba(0, 0, 0, 0.43))

  }

  input[type="radio"] + label span .circle {
    position: absolute;
    width: 7px;
    height: 7px;
    @include border-radius(50%);
    background-color: white;
    top: 50%;
    left: 50%;
    margin: -3px 0 0 -3px;
  }

  input[type="radio"]:checked + label span {
    background-color: white;
    border-color: $clr-gray2;

    .circle {
      background-color: #797979;
    }
  }

  input[type="radio"] + label span,
  input[type="radio"]:checked + label span {
    -webkit-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    transition: all 0.4s linear;
  }
}
.left-pane{
  position: fixed;
  width: 320px;
  background: #d6e4e7;
  left:0;
  bottom: 0;
  top:0;
  padding-top: 94px;
  @include box-shadow(2px 0px 5px 0px rgba(0, 0, 0, 0.14));
  color: #1f2a3d;
  *{
    color: #1f2a3d;
  }
}
.has-leftpane{
  padding: 11px 25px;
  margin-left: 320px;
}


.well-white1{
  background: #fff;
  border: 0 none;
  padding: 6px;
  @include box-shadow(2px 1px 7px 0px rgba(0, 0, 0, 0.4));

  .well-header{
    padding: 10px 8px;
    border-bottom: 1px solid #c2c2c2;
    strong{
      font-family: $font-bold;
      font-size: 16px;
      font-weight: normal;
      text-transform: uppercase;
    }
  }
}

.tooltip.right .tooltip-arrow{
  border-right-color: #a8c2c7;
}

.tooltip-inner{
  border: 1px solid #a8c2c7;
  line-height: 1.2;
}

// alert page modals

.modal-qk{
  width: 408px;

  @media (max-width: $screen-xs-max) {
    width: 80%;
  }

  .modal-content {
    position: relative;
    @include border-radius(9px);
    @include box-shadow(none);
    border: none;
  }

  .icon-cross{
    position: absolute;
    top:6px;
    right: 6px;
    color: white;
    z-index: 1;
  }

  .modal-header{
    padding: 5px 25px;
    background-color: #91a4ac;
    text-align: center;
    font-family: $font-helvetica;
    font-size: 18px;
    color: white;
    text-transform: uppercase;
    @include border-radius(8px 8px 0 0);
  }

  .modal-body{
    font-family: $font-helvetica;
    font-weight: 300;
    font-size: 16px;
    @include border-radius(8px);
    background-image: linear-gradient(to bottom, #fff, #e3e3e3);

    .text-head{
      text-align: center;
      margin-bottom: 10px;

      .text-head-bold{
        font-size: 18px;
        font-weight: normal;

        a{
          text-decoration: none;
        }
      }

      p{
        font-size: 14px;
      }
    }

    .form-body {
      text-align: center;
      font-size: 14px;

      .comment-box {
        width: 285px;
        margin: 10px auto;
        color: $clr-gray5;
        font-size: 14px;
        @include border-radius(5px);

        @media (max-width: $screen-xs-max) {
          width: 80%;
        }
      }

      .time-row {
        font-size: 16px;
        font-family: $font-helvetica;
        font-weight: normal;
        @include flexbox();
        @include align-items(center);
        margin-bottom: 10px;

        .start-time{
          color: $clr-gray5;
          text-align: right;
        }

        .end-time {

          td {

            a {
              padding: 0;
              text-decoration: none;
            }
          }
          .glyphicon {
            font-size: 25px;
            line-height: 10px;
            height: 10px;
            vertical-align: middle;
          }
        }
      }
    }

    .model-btn{
      padding: 2px 30px;
      margin-right: 5px;
    }
  }
}

.modal-preview{
  width: 760px;

  @media (max-width: $screen-xs-max) {
    width: 80%;
  }

  .modal-body{
    position: relative;
    font-family: $font-helvetica;
    font-weight: 300;
    font-size: 16px;
    padding: 30px 20px 10px;

    .row-preview {
      @include flexbox();

      .col-preview {
        @include flexbox();
        @include flex-flow(column);
        @include justify-content(space-around);
      }
    }
    img{
      width:100%;
      height: 320px;
    }

    .icon-cross{
      position: absolute;
      top:6px;
      right: 6px;
      z-index: 1;
      color: $clr-gray5;
    }
  }
}

//disabled class

.disabled, [disabled]{
  cursor: $cursor-disabled;
  color: $clr-gray4 !important;
  background-color: #e8e8e8 !important;

  img{
    opacity: 0.4;
  }
}

//centered modal

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.model-btn{
  font-family: $font-semibold;
  color: white;
  @include border-radius(2px);
  font-size: 15px;
  background-color: $clr-orange;
  border-color: transparent;

  &:hover{
    color: white;
  }
}

.btn-clear{
  background-color: transparent;
  border: none;
  font-size: 15px;
  font-family: $font-semibold;
  text-decoration: underline;
  color: #488291;
}

.custom-tooltip{
  width: 180px !important;


}

label{
  font-weight: normal;
}
//custom checkbox

[type="checkbox"] {
  &:not(:checked) {
    position: absolute;
    left: -9999px;
    + {
      label {
        position: relative;
        padding-left: 25px;
        cursor: pointer;
        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 2px;
          width: 17px;
          height: 17px;
          border: 1px solid #aaa;
          background: #f8f8f8;
          border-radius: 3px;
          box-shadow: inset 0 1px 3px rgba(0,0,0,.3);
        }
        &:after {
          content: '✔';
          position: absolute;
          top: 3px;
          left: 4px;
          font-size: 16px;
          line-height: 0.8;
          //color: #09ad7e;
          color: #1f2a3d;
          transition: all .2s;
          opacity: 0;
          transform: scale(0);
        }
      }
    }
    &:focus {
      + {
        label {
          &:before {
            border: 1px dotted blue;
          }
        }
      }
    }
  }
  &:checked {
    position: absolute;
    left: -9999px;
    + {
      label {
        position: relative;
        padding-left: 25px;
        cursor: pointer;
        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 2px;
          width: 17px;
          height: 17px;
          border: 1px solid #aaa;
          background: #f8f8f8;
          border-radius: 3px;
          box-shadow: inset 0 1px 3px rgba(0,0,0,.3);
        }
        &:after {
          content: '✔';
          position: absolute;
          top: 3px;
          left: 4px;
          font-size: 18px;
          line-height: 0.8;
          //color: #09ad7e;
          color: #1f2a3d;
          transition: all .2s;
          opacity: 1;
          transform: scale(1);
        }
      }
    }
    &:focus {
      + {
        label {
          &:before {
            border: 1px dotted blue;
          }
        }
      }
    }
  }
  &:disabled {
    &:not(:checked) {
      + {
        label {
          &:before {
            box-shadow: none;
            border-color: #bbb;
            background-color: #ddd;
          }
        }
      }
    }
    &:checked {
      + {
        label {
          &:before {
            box-shadow: none;
            border-color: #bbb;
            background-color: #ddd;
          }
          &:after {
            color: #999;
          }
        }
      }
    }
    + {
      label {
        color: #aaa;
      }
    }
  }
}
label {
  &:hover {
    &:before {
      border: 1px solid #4778d9 !important;
    }
  }
}


.clr-red{
  color: #FF0000 !important;
}


