.page-loader{
 display: block;
 position: fixed;
 border-radius: 5px;
 left:50%;
 top: 50%;
 background: white;
 z-index: 9999;
 padding: 20px;
 text-align: center;
 @include translate(-50%,-50%);
}

.no-scroll{
overflow: hidden;
}

.my-action{
 padding: 54px 20px 25px;

 @media (max-width: $screen-xs-max) {
  padding-top: 115px;
 }

 .action-box {
  padding-top: 40px;
  background-color: white;
  @include box-shadow(1.6px 1.3px 7px 0 rgba(0, 0, 0, 0.39));
  border-radius: 5px;

  .nav-tabs{
   border-bottom: 1px solid $clr-gray4;
   @include flexbox();
   @include justify-content(flex-start);
   @include align-items(flex-end);

   li{

    a {
     margin: 0 12px;
     border: 1px solid #dddddd;
     border-bottom-color: transparent;
     color: $clr-gray5;
     padding: 3px 12px;
     font-size: 16px;
     font-family: $font-regular;
     @include border-radius(0);

     @media (max-width: $screen-xs-max) {
      margin: 0 5px;
      font-size: 12px;
      line-height: 14px;
     }

     &:hover, &:focus {
      background-color: $body-bg;
      border: 1px solid $clr-gray4;
      border-bottom-color: $body-bg;
      color: $clr-dark-green;
     }
    }



    &.active {

     a {
      background-color: $body-bg;
      border: 1px solid $clr-gray4;
      border-bottom-color: $body-bg;
      line-height: 30px;
      padding: 4px 25px;
      color:$clr-dark-green;
      font-family: $font-semibold;

      @media (max-width: $screen-xs-max) {
       line-height: 17px;
      }
     }
    }
   }
  }

  .content-area{
   padding: 15px;
   background-color: $body-bg;
   border-radius: 0 0 5px 5px;
  }

  .alert-content{

   .table-responsive {

    @media (max-width: $screen-xs-max) {
     margin-bottom: 0;
    }
   }

   .tab-row{
    @include flexbox();
    @include justify-content(space-between);
    @include align-items(flex-start);

    @media (max-width: $screen-xs-max) {
     @include flex-flow(column);
     @include align-items(center);
    }

    .btn-group{

     @media (max-width: $screen-xs-max) {
      @include flexbox();
      @include flex-flow(column);
      margin-bottom: 10px;
     }
    }

    .radio-alert{
     position: relative;
     background-color: white;
     border-color:$clr-blue ;
     padding: 3px 14px;
     line-height: 17px;
     font-family: $font-helvetica;
     font-size: 14px;
     font-weight: 300;
     color: #0e0c0c;

     @media (max-width: $screen-xs-max) {
      margin-bottom: 10px;
     }

     &.active{
      @include box-shadow(none);
      background-color: $clr-blue;
      color: white;
     }

     &:first-child{
      border-radius: 10px 0 0 10px;
      padding: 3px 24px;

      @media (max-width: $screen-xs-max) {
       @include border-radius(0);
      }
     }

     &:last-child{
      border-radius: 0 10px 10px 0;

      @media (max-width: $screen-xs-max) {
       @include border-radius(0);
      }
     }

     .badge{
      position: absolute;
      top: -9px;
      right: 10px;
      padding: 2px 5px;
      background-color: $clr-red;
      font-family: $font-helvetica;
      font-size: 12.2px;
      font-weight: 300;
     }
    }
   }


   .alert-table-head {
    background-color: $clr-light-green;
    padding: 0 16px 0 32px;

    .table {
     margin-bottom: 0;
    }

    tr{

     th{
      padding: 15px 14px;
      border: 2px solid #b9b9b9;
      border-bottom: transparent;
      border-top: transparent;
      font-family: $font-helvetica;
      font-size: 16px;
      color: $clr-text;
      white-space: nowrap;

      &:first-child{
       border-left: 1px solid $clr-light-green;
      }

      &:last-child{
       border-right: 1px solid $clr-light-green;
      }

      .icon-sort-arrow{
       vertical-align: middle;
       margin-left: 3px;
      }

      @media (max-width: $screen-xs-max) {
       white-space: normal;
      }

      .icon-help{
       font-size: 12px;
       vertical-align: text-top;
      }
     }
    }
   }

   .row-lable{
    font-size: 16px;
    font-family: $font-helvetica;
    color: $clr-blue;
    padding: 5px;
    padding-top: 0;
   }

   .alert-table-body {
    background-color: white;
    padding: 12px 16px 12px 32px;
    margin-bottom: 10px;
    position: relative;

    .table{
     margin-bottom: 0;
     border: 0;

     tr{
      color: $clr-text;

      td{
       border: 2px solid #b9b9b9;
       border-bottom: transparent;
       border-top: transparent;
       font-family: $font-helvetica;
       font-weight: 100;
       font-size: 14px;
       padding: 11px 14px;
       border-right: 0;

       &:first-child{
        border-left: 0;
       }

       &:last-child{
        border-right: 0;
       }

       img{
        display: inline-block;
        margin-right: 8px;
       }

       @media (max-width: $screen-xs-max) {
        white-space: normal;
       }
      }

      &:nth-of-type(odd) {
       background-color: #f4f4f4;
      }

      &:nth-of-type(even) {
       background-color: #f9f9f9;
      }

      &.disabled{
       border-bottom: 1px solid #dedede;

       .edit-escalation{
        position: relative;
        font-size: 12px;
        color: #989898;

        .icon-edit{
         position: absolute;
         cursor: pointer;
         font-size: 23px;
         right: 3px;
         bottom: 6px;
         color: $clr-text;
        }
       }
      }
     }
    }

    .toggle-icon{
     position: absolute;
     font-size: 25px;
     left: 8px;
     top: 12px;
     color: #9eb2bb;
    }

    .popover{
     margin-top: 16px;
     z-index: 1029;
     @include border-radius(0);

     .popover-content {
      padding: 0;
     }
    }
   }
  }
 }

 .btn-export{
  background-color: transparent;
  font-size: 16px;
  font-family: $font-helvetica;
  font-weight: 100;
  border-color: $clr-gray3;

  i{
   font-size: 25px;
   vertical-align: middle;
   margin-left: 3px;
  }
 }
}

//sort icon in histrorical alert

.sort-icon{
 font-size: 25px;
 vertical-align: middle;
}

//stop escalation popover

.escalation-popover{
 margin-bottom: 0;

 li{
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);

  a{
   display: block;
   text-decoration: none;
   color: $clr-gray3;
   font-family: $font-regular;
   font-size: 14px;
   padding:7px 22px;

   &:hover, &.active{
    background-color: #b8e0e8;
    font-weight: bold;
   }
  }

  &:last-child{
   border-bottom: 0;
  }
 }
}

//schedule report table

.report-table{
 padding: 10px 0 35px;

 thead{
  background-color: $clr-light-green;

  th {
   padding: 12px;
   border-bottom: 0 !important;
   font-size: 16px;
   color: $clr-text;
   font-family: $font-bold;
   text-align: center;
  }
 }

 tbody {

  tr{

   &:nth-of-type(odd) {
    background-color: white;
   }

   &:nth-of-type(even) {
    background-color: $clr-gray1;
   }
  }
  td {
   padding: 10px 12px !important;
   font-size: 16px;
   font-weight: 100;
   text-align: center;

   &:nth-child(4){
    text-align: right;
   }

   .cancel-link{
    font-size: 14px;
    font-weight: bolder;
   }
  }
 }
}

//for radio and checkbox on schedule report page

.input-style-box {
 display: inline-block;
 background-color: $clr-light-green;
 margin-right: 15px;
 border-radius: 5px;
 margin-bottom: 55px;

 @media (max-width: $screen-xs-max) {
  margin-bottom: 15px;
  margin-right: 0;
 }
}

//report page checkboxes

.app-choice{
 margin-left: 8px;

 .input-style-box {
  padding: 8px 15px;
  line-height: 20px;

  .checkbox-label{
   padding: 0;
   padding-left: 30px;
   color: $clr-text;
   width: 200px;

   @media (max-width: $screen-xs-max) {
    width: 150px;
   }
  }

  [type="checkbox"]:not(:checked) + label:before{
   border-color: $clr-blue;
  }
 }
}

//report page radio buttons

.frequency-choice {
 margin-left: 8px;

 .input-style-box {
  padding: 1px 40px;

  @media (max-width: $screen-xs-max) {
   padding: 1px 20px;
  }

  .radio {
   margin: 8px 0;

   span {
    margin-right: 10px;
    vertical-align: top;
    margin-top: 3px;
   }

   .frequency_label {
    display: inline-block;
    font-size: 16px;
    margin-bottom: 0;

    small {
     font-size: 14px;
    }
   }

   input[type="radio"]:checked + label {
    color: $clr-text;
   }
  }
 }
}

.report-content{
 font-family: $font-regular;
 color: $clr-gray;

 .msg{
  font-size: 18px;
  margin-bottom: 20px;
  margin-left: 8px;
  color: $clr-text;
 }

 .form-report{
  width: 1000px;
  margin: 0 auto;

  @media (max-width: $screen-md-max) {
   width: auto;
   margin: 0;
  }
 }

 .new-report {
  background-color: #f9f9f9;
  margin-bottom: 35px;
  padding: 20px;
  border: 1px solid $clr-gray4;

  label {
   font-size: 16px;
   padding: 0 8px 12px;
  }

  #report_name{
   width: 290px;
   height: 35px;
   border: 1px solid #d2d2d2;
   border-radius: 3px;
   margin-left: 8px;
   margin-bottom: 55px;

   @media (max-width: $screen-xs-max) {
    width: 200px;
    margin-left: 0;
   }
  }

  .model-btn{
   margin-bottom: 10px;
  }
 }

 .msg-alert{
  padding: 50px 10px;

  .icon-alert{
   color: $clr-gray4;
   margin-right: 10px;
  }
 }

 //schedule downtime css

 &.downtime-tab{

  .report-table{

   th,td{
    text-align: left;
    padding-left: 20px !important;
   }
  }

  .app-choice{
   display: flex;

   @media (max-width: $screen-sm-max) {
    display: block;
   }
  }

  .input-style-box{
   margin-bottom: 0;
   margin-right: 0;
   padding-left: 30px;
   width: 100%;

   &.blue-border{
    //border-left: 5px solid $clr-blue;
    @include box-shadow(inset 5px 0px 0px 0px $clr-blue);
   }

   span{
    font-size: 15px;
    font-family: $font-regular;
    color: $clr-text;
    padding-left: 10px;
   }
  }

  .checkbox-wrap{
   margin-bottom: 55px;
   margin-right: 15px;
   display: flex;
   flex-flow: column;
   //flex: 1;
   justify-content: space-between;

   @media (max-width: $screen-sm-max) {
    margin-right: 0;
   }

   .app-box{
    position: absolute;
    top: 8px;
    left:15px;
   }
  }

  .checkbox-collapse{
   padding-left: 24px;
   background-color: #e4f1ff;
   height: 250px !important;
   overflow-y: scroll;

   ul{
    padding: 12px 18px 0;
    border-left: 1px dashed #4d5968;
    list-style: none;

    li{
     margin-bottom: 10px;
     position: relative;

     &:before{
      content: '';
      position: absolute;
      border-bottom: 1px dashed #4d5968;
      width: 13px;
      left: -15px;
      top: 10px;
     }
    }

    label{
     padding: 0;
     padding-left: 25px;
     font-size: 15px;
    }

    [type="checkbox"]:not(:checked) + label:before{
     border-color: $clr-blue1;
    }
   }
  }

  .date-wrapper{
   margin-bottom: 55px;
  }
 }
}