<div class="navbar bs-docs-nav qk-navbar" id="top" role="banner" ng-controller="headerCtrl">
   <div class="container-fluid">
     <div class="navbar-header">
       <a href="/" class="navbar-brand"></a>
     </div>
     <nav id="qk-navbar" ng-if="loggedIn == true">
       <ul class="nav navbar-nav navbar-right qk-navbar-right">
         <li class="hidden-xs"><!-- <span>Last update - 12:25:00  24 HRS  --></span></li>
         <li class="hidden-xs"><a href="#/dashboard"><i class="icon-home"></i></a></li>
         <li class="hidden-xs"><a href="javascript:void(0);"><i class="icon-outbox"></i></a></li>
         <li class="notification hidden-xs"><a href="javascript:void(0);"><i class="icon-bell"></i><span class="badge" ng-if="alertCount > 0">{{alertCount}}</span> <span style="background-color: black" class="badge" ng-if="alertCount == 0">{{alertCount}}</span></a></li>
         <li class="profile-dropdown" popover-placement="bottom-right" uib-popover-template="'dropdownTemplate.html'" popover-trigger="'outsideClick'" popover-is-open="isOpen">
           <a href="javascript:void(0);">
             <!--  indraneel profile pic 
             <img src="assets/images/profile-pic.png" alt="Profile Picture">
              -->
             <span id="userid">{{userName}}</span>
             <i class="caret"></i>
           </a>
           <input type="hidden" id="emailId" value="{{ emailId }}"/>
           <input type="hidden" id="clientName" value="{{ clientName }}"/>
         </li>
       </ul>
     </nav>
   </div>

  <script type="text/ng-template" id="dropdownTemplate.html">
  <div class="qk-dropdown">
    <a href="javascript:void(0);">
<!--indraneel commented image logo in logout pop up      
<img src="assets/images/axis.png" alt="axis">
-->
      <i class="profile-img icon-user-profile"></i>
      <span class="user-name">{{userName}}</span>
      <p>{{ emailId }}</p></a>
    <ul class="list-unstyled qk-menu">
      <li><a href="javascript:void(0);"><i class="icon-user-profile"></i>My Profile</a></li>
     <!-- <li><a href="javascript:void(0);"><i class="icon-user-setting"></i>My Settings</a></li> -->
      <li><a href="javascript:void(0);"><i class="icon-lock"></i>Admin Settings</a></li>
      <li><a href="javascript:void(0);"><i class="icon-help"></i>Help</a></li>
    </ul>

    <a href="#login" class="btn btn-qk btn-sm btn-logout" ng-click="closePopoverTemplate();">Sign Out
      <span class="right-icon"><i class="icon-power"></i></span></a>

   <!-- <button type="button" class="btn btn-qk btn-sm btn-logout">
      Sign Out
      <span class="right-icon"><i class="icon-power"></i></span>
    </button>-->
  </div>
  </script>
</div>


<!-- 
<nav class="navbar navbar-inverse navbar-fixed-top" style="background-color:white;height: 82px;" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      You'll want to use a responsive image option so this logo looks good on devices - I recommend using something like retina.js (do a quick Google search for it and you'll find it)
       <img src="https://qualitykiosk.com/wp-content/uploads/2014/01/QualityKiosk-logo.png" widht="200" height="40"> 
      <img class="img-responsive" ng-src="images/qklogo1.png"/>
    </div>

    Collect the nav links, forms, and other content for toggling
    <div class="navbar-collapse navbar-ex1-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <div class="resources" style="height: 82px;line-height: 82px; text-align: center;vertical-align:middle;">Last
            update - 12.25.00 24 HRS
          </div>
        </li>
        <li>
          <div
              style="margin-top:10px;padding-left:42px;padding-right:10px;display:table-cell; height: 82px;line-height: 82px; vertical-align:middle;text-align:center">
            <img src="images/toolbarImg.png" align="left"/></div>
        </li>
        <li class="dropdown">
          <a href="#/dashboard" class="dropdown-toggle"
             style="background-color:#E7E7E7;align:right; height:81px;width:182px;" data-toggle="dropdown">
            <div style="margin-top:10px;display:table-cell; vertical-align:middle; text-align:center"><img
                src="images/clientLogo.png" align="left" width="40" height="40"/></div>
            <div style="display:table-cell;text-align: center;vertical-align: middle;"><font class="resources"
                                                                                              align="right"
                                                                                             color="black">&nbsp;&nbsp;{{userName}}</font>&nbsp;&nbsp;<b
                class="caret"></b></div>
          </a>
          <ul class="dropdown-menu">
            
               <li><a href="#/about">About</a>
               </li> 
            <li><a href="#/logout">Logout</a>
            </li>
            
            <li><a href="#/dashboard">DashBoard</a>
            </li>
            <li><a href="#/services">Configuration</a>
            </li>
            <li><a href="#/quote">Quote</a>
            </li>
            <li><a href="#/contact">Contact</a>
            </li>
            
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav> -->
